{% if only_i_user %}
    <div class="js-translator-only-i translator-only-i" data-user-id="{{ only_i_user.ID }}">
        <div class="translator-only-i-person">
            <span class="translator-only-i-avatar">{{ only_i_user.avatar|raw }}</span>
            <span class="translator-only-i-name ">{{ only_i_user.user_login }}</span>
            <a class="otgs-ico-close js-remove-translator translator-only-i-remove-icon js-otgs-popover-tooltip" title="{{ strings.remove_me }}"></a>
        </div>
        <div class="translator-only-i-info">
            <span class="translator-only-i-text">{{ strings.only_i }}</span>
             <a class="js-remove-translator translator-only-i-remove-action">{{ strings.remove_me }}</a>
        </div>
    </div>
{% endif %}
