<div class="screener-body-step js-screener-step" id="recap" data-track-key="Screener Step: Recap"
  data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "Recap"},{"WT.si_cs": 1}]'>
  <div data-js="step-title" class="{{ styles.number }} hidden" aria-hidden="true">{{ __('Is all of your information correct?', 'accessnyc-screener') }}</div>

  <h1 class="text-blue-dark px-3 pt-3" data-js="question">{{ __('Ok. Here’s what we’ve got so far:', 'accessnyc-screener') }}</h1>

  <div class="p-3 screen-tablet:m-3 screen-desktop:p-4 bg-grey-lightest">
    <div id="recap-body" class="pb-4"></div>

    <div id="screener-recaptcha-container" class="recap-captcha hidden pb-4">
      <p>{{ __('Check the "I’m not a robot" box below and click Continue to get your results.', 'accessnyc-screener') }}</p>
      <div class="screener-question-container">
        <div id="screener-recaptcha"></div>
      </div>
    </div>

    <button type="button" class="js-screener-submit btn btn-primary btn-next text-small" data-action="{{ formAction }}">
      {{ __('Yes, continue to my results', 'accessnyc-screener') }}
    </button>

    <div data-js="spinner" style="display:none;">
      <div class="flex justify-center">
        {% include 'partials/spinner.twig' with {this: {class: 'icon-4 text-yellow-access'}} only %}
      </div>
    </div>
  </div>
</div>
