{% extends 'base.twig' %}

{% block content %}
  {% set programResultTotal = selectedPrograms | length + additionalPrograms | length %}
  <main class="color-light-background" id="content">
    <header class="c-header color-dark-background">
      <div class="c-header__icon print:hidden">
        <svg class="icon icon-success rounded-full text-green bg-white">
          <use xlink:href="#icon-success"></use>
        </svg>
      </div>

      <div>
        {% apply spaceless %}
        <h1 class="c-header__descriptor">
          {% if programResultTotal == 0 %}
            {{__('There are no programs for you to look at.', 'accessnyc-results')}}
          {% elseif programResultTotal == 1 %}
            {{ programResultTotal }} {{__('program for you to look at.', 'accessnyc-results')}}
          {% else %}
            {{ programResultTotal }} {{__('programs for you to look at.', 'accessnyc-results')}}
          {% endif %}
        </h1>
        <p class="c-header__disclaimer">{{__('Remember that we can’t guarantee eligibility, but can only recommend programs for you to consider.', 'accessnyc-results')}}</p>
        {% endapply %}
      </div>
    </header>

    {% if alerts %}
    <div class="p-2 screen-tablet:pt-3 screen-tablet:px-3">
      {% for alert in alerts %}
        {% set class = loop.last ? '' : 'mb-2 screen-tablet:mb-3' %}

        {% include 'components/alert.twig' with {this: alert, class: class} only %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="wrap screen-desktop:layout-sidebar-small-gutter bg-white pt-4">
      <aside class="mb-4 print:hidden">
        <h4 class="type-h3 text-blue-dark">{{__('Save your results.', 'accessnyc-results')}}</h4>

        <button class="btn btn-primary w-full justify-center mb-2" data-js="window-print, track" data-track-key="Print" data-track-data='[{"DCS.dcsuri": "/print"}]'>
          {{ __('Print', 'accessnyc-results') }}
        </button>

        {% include 'components/share-form.twig' with {this: {
          class: 'mb-2',
          type: 'tel',
          button: __('Text', 'accessnyc-results'),
          placeholder: __('Phone Number', 'accessnyc-results'),
          post: shareAction,
          action: 'sms_send',
          url: shareUrl,
          hash: shareHash,
          guid: getParams.guid,
          template: 'screener-results'
        }} only %}

        {% include 'components/share-form.twig' with {this: {
          class: 'mb-2',
          type: 'email',
          button: __('Email', 'accessnyc-results'),
          placeholder: __('Email address', 'accessnyc-results'),
          post: shareAction,
          action: 'email_send',
          url: shareUrl,
          hash: shareHash,
          guid: getParams.guid,
          template: 'screener-results'
        }} only %}

        <div class="hidden" aria-hidden="true" id="aria-db-share-disclaimer">
          {% include 'components/disclaimer-small.twig' %}
        </div>
      </aside>

      <div class="content-body">
        {% if selectedPrograms | length %}
        <div class="mb-3">
          <h3 class="text-blue-dark">{{__('These are programs for you in the categories you selected.', 'accessnyc-results')}}</h3>

          <div class="layout-gutter p-2 bg-grey-lightest">
            {% for post in selectedPrograms %}
              {% include 'components/card.twig' with {'post': post, 'language_code': language_code, 'show_apply': true, 'target_blank': true} only %}
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% if additionalPrograms | length %}
        <div class="mb-3">
          <h3 class="text-blue-dark">
            {% if additionalPrograms | length == 1 %}
              {{ additionalPrograms | length }} {{__('additional program.', 'accessnyc-results')}}
            {% else %}
              {{ additionalPrograms | length }} {{__('additional programs.', 'accessnyc-results')}}
            {% endif %}
          </h3>

          <div class="layout-gutter p-2 bg-grey-lightest">
            {% for post in additionalPrograms %}
              {% include 'components/card.twig' with {'post': post, 'language_code': language_code, 'show_apply': true, 'target_blank': true} only %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="sticky bottom-0 pointer-events-none z-10">
      {% if alert_sitewide %}
      {% include 'objects/alert-banner.twig' with {this: alert_sitewide, active: true} only %}
      {% endif %}
    </div>
  </main>
{% endblock %}

{% block scripts_footer %}
{% include 'partials/strings-share.twig' %}
{% endblock %}
