{% extends "base.twig" %}

{% set styles = {
  fieldset: 'js-screener-step',
  number: 'text-blue-bright font-bold',
  heading: 'text-larger text-blue-dark border-b border-grey-mid pb-4 mb-3',
  padding: 'p-3 screen-desktop:p-4',
  label: 'font-bold text-normal'
} %}

{% block content %}
<main class="main-content screen-desktop:my-2 screen-desktop:mx-4 screen-desktop:px-2" id="content" data-js="view">
  {% if alerts %}
  <div class="px-3 pt-3 screen-desktop:px-4 screen-desktop:pt-2 bg-white screen-desktop:bg-transparent">
    {% for alert in alerts %}
      {% set class = loop.last ? 'screen-desktop:border border-grey-light' : 'mb-2 screen-tablet:mb-3 screen-desktop:border border-grey-light' %}

      {% include 'components/alert.twig' with {this: alert, class: class} only %}
    {% endfor %}
  </div>
  {% endif %}

  <form data-js="screener" class="color-light-background screen-desktop:border border-grey-light screen-desktop:m-4 text-small" action="/eligibility/results/">
    {% include 'screener/step-1.twig' with {'categories': categories} %}
    {% include 'screener/step-2.twig' %}
    {% include 'screener/step-3.twig' %}
    {% include 'screener/step-4.twig' %}
    {% include 'screener/step-5.twig' %}
    {% include 'screener/step-6.twig' %}
    {% include 'screener/step-7.twig' %}
    {% include 'screener/step-8.twig' %}
    {% include 'screener/step-9.twig' %}
    {% include 'screener/step-10.twig' %}
    {% include 'screener/recap.twig' with {'formAction': formAction} %}
  </form>
</main>

<div class="sticky bottom-0 pointer-events-none z-10">
  {% if alert_sitewide %}
  {% include 'objects/alert-banner.twig' with {this: alert_sitewide, active: true} only %}
  {% endif %}
</div>
{% endblock %}

{% block scripts_footer %}
<script type="text/javascript" nonce="{{ csp_script_nonce }}">
  {% include 'jst/screener/template-income.js' %}
</script>

<script type="text/javascript" nonce="{{ csp_script_nonce }}">
  {% include 'jst/screener/template-expense.js' %}
</script>

<script type="text/javascript" nonce="{{ csp_script_nonce }}">
  {% include 'jst/screener/template-member-summary.js' %}
</script>

<script type="text/javascript" nonce="{{ csp_script_nonce }}">
  {% include 'jst/screener/template-member.js' %}
</script>

<script type="text/javascript" nonce="{{ csp_script_nonce }}">
  {% include 'jst/screener/template-member-option.js' %}
</script>

<script type="text/javascript" nonce="{{ csp_script_nonce }}">
  {% include 'jst/screener/template-recap.js' %}
</script>

{% include 'screener/strings.twig'  %}
{% endblock %}
