<div class="{{ styles.fieldset }}" id="step-6" data-track-key="Screener Step: 6"
  data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "6-Expense"}]'>
  <div class="{{ styles.padding }}">
    <div data-js="step-title" class="{{ styles.number }}">{{ __('Step 6 of 10', 'accessnyc-screener') }}</div>

    <h1 class="{{ styles.heading }}" data-js="question">{{ __('Describe your expenses.', 'accessnyc-screener') }}</h1>

    <fieldset class="c-question">
      <legend class="c-question__label">{{ __('Do you have any expenses?', 'accessnyc-screener') }}</legend>

      <p>{{ __('This includes costs like child care, child support, rent, medical expenses, heating bills and more.', 'accessnyc-screener') }}</p>

      <div class="c-question__container js-screener-radio-group">
        <label class="toggle js-screener-radio-label">
          <input class="js-screener-toggle js-add-section sr-only"
            value="1"
            type="radio"
            name="person-0-has-expenses"
            data-type="boolean"
            data-shows="#screener-expense"
            data-renders="#screener-person-0-expense-0"
            data-render-target="#screener-expense"
            data-matrix="expense"
            data-matrix-index="0"
            data-person-index="0">
          <span class="toggle__label">{{ __('Yes', 'accessnyc-screener') }}</span>
        </label>
        <label class="toggle js-screener-radio-label">
          <input class="js-screener-toggle sr-only" value="0" type="radio" name="person-0-has-expenses" data-type="boolean" data-hides="#screener-expense" checked/>
          <span class="toggle__label">{{ __('No', 'accessnyc-screener') }}</span>
        </label>
      </div>
    </fieldset>

    <div class="hidden js-screener-matrix screener-matrix" id="screener-expense"></div>

    <div class="pt-2">
      <a class="btn btn-primary btn-next text-small js-screener-validate-step" href="#step-7" role="button">{{ __('Continue', 'accessnyc-screener') }}</a>
    </div>
  </div>
</div>{# /#step-6 #}
