<div class="{{ styles.fieldset }}" id="step-2" data-track-key="Screener Step: 2"
  data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "2-Disclaimer"}]'>
  <div class="{{ styles.padding }}">
    <div data-js="step-title" class="{{ styles.number }}">{{ __('Step 2 of 10', 'accessnyc-screener') }}</div>

    <fieldset class="c-question">
      <legend class="type-h1 w-full {{ styles.heading }}" data-js="question">{{__('What you should know before we begin:', 'accessnyc-screener')}}</legend>

      <div class="c-disclaimer mb-4" id="disclaimer-agreement">
        <h4 class="{{ styles.label }}">{{ __('ACCESS NYC Disclaimer for Public Benefit Program Screening', 'accessnyc-screener') }}</h4>
        <p>{{ __('ACCESS NYC offers a screening tool that recommends public benefits programs for you to consider based upon information you provide about your household.', 'accessnyc-screener') }}</p>
        <p>{{ __('To enroll in a benefit, you need to apply through the appropriate administering agency. ACCESS NYC will tell you how to apply for any benefit on this website, but cannot guarantee eligibility. The administering agency will determine final eligibility upon your submission of an application for each program.', 'accessnyc-screener') }}</p>
        <p>{{ __('The information you share for purposes of public benefits screening will be anonymous and can be shared with City agencies to improve access to benefits and programs. To find out more about how the City might use the data you share with ACCESS NYC, visit the <a href="http://www1.nyc.gov/home/terms-of-use.page" target="_blank" rel="noopener noreferrer">Terms of Use for NYC.gov</a>, and <a href="http://www1.nyc.gov/home/privacy-policy.page" target="_blank" rel="noopener noreferrer">Privacy Policy for NYC.gov</a>.', 'accessnyc-screener') }}</p>
      </div>

      <div>
        <p class="text-grey-mid">{{ __('Check the box below and then click the button to get started.', 'accessnyc-screener') }}</p>
        <div class="c-question__container" data-js="question">
          <label class="checkbox">
            <input aria-describedby="disclaimer-content" type="checkbox" name="disclaimer-agreement" required>

            <span class="checkbox__label text-small font-normal leading-larger">{{ __('I have read, understand, and agree to the terms of: the ACCESS NYC Disclaimer for Public Benefit Program Screening, the NYC.gov Privacy Policy, and the NYC.gov Terms of Use.', 'accessnyc-screener') }}</span>
          </label>
        </div>
      </div>
    </fieldset>

    <div class="pt-2">
      <a class="btn btn-primary btn-next text-small js-screener-validate-step" href="#step-3" role="button">{{ __('Continue', 'accessnyc-screener') }}</a>
    </div>
  </div>
</div>{# /#step-2 #}
