<div class="{{ styles.fieldset }} animated active fadeIn" id="step-1" data-track-key="Screener Step: 1"
   data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "1-HelpLookingFor"}]'>
  <div class="{{ styles.padding }}">

    <div data-js="step-title" class="{{ styles.number }}">{{ __('Step 1 of 10', 'accessnyc-screener') }}</div>

    <fieldset class="c-question">
      <legend class="type-h1 w-full {{ styles.heading }}" data-js="question">{{ __('What kind of help are you looking for?', 'accessnyc-screener') }}</legend>

      <p>{{ __('It’s OK to pick more than one. Don’t worry if you forget one, we’ll still check if you may be eligible for help with all of them.', 'accessnyc-screener') }}</p>

      <div class="c-question__container screen-tablet:layout-columns mb-4">
        {% for category in categories %}
        {% if language_code != 'en' %}
          {% set langLength = (language_code | length + 1) * -1 %}
          {% set slug = category.slug | slice(0, langLength) %}
        {% else %}
          {% set slug = category.slug %}
        {% endif %}
        <label class="checkbox" for="person-help-{{ slug }}">
          <input id="person-help-{{ slug }}" name="category" type="checkbox" value="{{ category.slug }}">

          <span class="checkbox__label items-center">
            <svg class="checkbox__icon icon-6 text-blue-bright fill-blue-light" aria-hidden="true">
              <use xlink:href="#icon-{{ slug }}-v2"></use>
            </svg>

            {{ category.name }}
          </span>
        </label>
        {% endfor %}
      </div>
    </fieldset>

    <h4 class="{{ styles.label }}">{{ __('What is this?', 'accessnyc-screener') }}</h4>

    <p>{{ __('On the next few pages, we’ll ask you about yourself and your household to find benefits and programs that you may be interested in. It usually takes about 10 minutes to answer all of the questions.', 'accessnyc-screener') }}</p>

    <div class="pt-2">
      <a class="btn btn-primary btn-next text-small js-screener-validate-step" href="#step-2" role="button">{{ __('Continue', 'accessnyc-screener') }}</a>
    </div>
  </div>
</div>{# /#step-1 #}
