<div class="{{ styles.fieldset }}" id="step-4" data-track-key="Screener Step: 4"
  data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "4-Conditions-Benefits"}]'>
  <div class="{{ styles.padding }}">
    <div data-js="step-title" class="{{ styles.number }}">{{ __('Step 4 of 10', 'accessnyc-screener') }}</div>

    <h1 class="{{ styles.heading }}" data-js="question">{{ __('A little more about you.', 'accessnyc-screener') }}</h1>

    <fieldset class="c-question" id="screener-submitter-applicable-groups">
      <legend class="c-question__label">{{ __('Do any of these apply to you?', 'accessnyc-screener') }}</legend>

      <p>{{ __('It’s OK to pick more than one. You can also leave this blank if none of these apply to you.', 'accessnyc-screener') }}</p>

      <div class="c-question__container screen-tablet:layout-columns js-screener-checkbox-group">
        <label class="checkbox" for="person-0-student">
          <input class="js-screener-toggle" type="checkbox" name="Person[0].student" value="1" data-toggles="#screener-is-submitter-full-time-student" data-type="boolean" id="person-0-student">
          <span class="checkbox__label">{{ __('Student', 'accessnyc-screener') }}</span>
        </label>
        <label class="checkbox" for="person-0-pregnant">
          <input type="checkbox" name="Person[0].pregnant" value="1" data-type="boolean" id="person-0-pregnant">
          <span class="checkbox__label">{{ __('Pregnant', 'accessnyc-screener') }}</span>
        </label>
        <label class="checkbox" for="person-0-unemployed">
          <input class="js-screener-toggle" type="checkbox" name="Person[0].unemployed" value="1" data-toggles="#screener-did-submitter-work-last-18-months" data-type="boolean" id="person-0-unemployed">
          <span class="checkbox__label">{{ __('Unemployed', 'accessnyc-screener') }}</span>
        </label>
        <label class="checkbox" for="person-0-blind">
          <input type="checkbox" name="Person[0].blind" value="1" data-type="boolean" id="person-0-blind">
          <span class="checkbox__label">{{ __('Blind or visually impaired', 'accessnyc-screener') }}</span>
        </label>
        <label class="checkbox" for="person-0-disabled">
          <input type="checkbox" name="Person[0].disabled" value="1" data-type="boolean" id="person-0-disabled">
          <span class="checkbox__label">{{ __('Have any disabilities', 'accessnyc-screener') }}</span>
        </label>
        <label class="checkbox" for="person-0-veteran">
          <input type="checkbox" name="Person[0].veteran" value="1" data-type="boolean" id="person-0-veteran">
          <span class="checkbox__label">{{ __('Served in the U.S. Armed Forces, National Guard or Reserves', 'accessnyc-screener') }}</span>
        </label>
        <label class="checkbox">
          <input class="screener-checkboxes-input sr-only js-clear-group" type="checkbox" checked>
          <span class="checkbox__label">{{ __('None of these apply', 'accessnyc-screener') }}</span>
        </label>
      </div>
    </fieldset>

    <fieldset class="c-question hidden mt-4" id="screener-is-submitter-full-time-student">
      <legend class="c-question__label">{{ __('Are you a full-time student?', 'accessnyc-screener') }}</legend>

      <div class="c-question__container js-screener-radio-group">
        <label class="toggle js-screener-radio-label">
          <input class="sr-only" type="radio" name="Person[0].studentFulltime" value="1" data-type="boolean" />
          <span class="toggle__label">{{ __('Yes', 'accessnyc-screener') }}</span>
        </label>

        <label class="toggle js-screener-radio-label">
          <input class="sr-only" type="radio" name="Person[0].studentFulltime" value="0" data-type="boolean" checked />
          <span class="toggle__label">{{ __('No', 'accessnyc-screener') }}</span>
        </label>
      </div>
    </fieldset>

    <fieldset class="c-question hidden mt-4" id="screener-did-submitter-work-last-18-months">
      <legend class="c-question__label">{{ __('Did you work in the last 18 months?', 'accessnyc-screener') }}</legend>

      <div class="c-question__container js-screener-radio-group">
        <label class="toggle js-screener-radio-label">
          <input class="sr-only" type="radio" name="Person[0].unemployedWorkedLast18Months" value="1" data-type="boolean" />
          <span class="toggle__label">{{ __('Yes', 'accessnyc-screener') }}</span>
        </label>

        <label class="toggle js-screener-radio-label">
          <input class="sr-only" type="radio" name="Person[0].unemployedWorkedLast18Months" value="0" data-type="boolean" checked />
          <span class="toggle__label">{{ __('No', 'accessnyc-screener') }}</span>
        </label>
      </div>
    </fieldset>

    <hr class="divider screen-tablet:divider-large border-grey-light">

    <fieldset class="c-question mb-3" id="screener-submitter-benefits-received">
      <legend class="c-question__label">{{ __('Do you receive any of these benefits?', 'accessnyc-screener') }}</legend>

      <div class="c-question__container screen-tablet:layout-columns js-screener-checkbox-group">
        <label class="checkbox" for="person-0-medicaid">
          <input type="checkbox" name="Person[0].benefitsMedicaid" value="1" data-type="boolean" id="person-0-medicaid">
          <span class="checkbox__label">{{ __('Medicaid', 'accessnyc-screener') }}</span>
        </label>

        <label class="checkbox" for="person-0-disability">
          <input type="checkbox" name="Person[0].benefitsMedicaidDisability" value="1" data-type="boolean" id="person-0-disability">
          <span class="checkbox__label">{{ __('Disability-related Medicaid', 'accessnyc-screener') }}</span>
        </label>

        <label class="checkbox">
          <input class="screener-checkboxes-input sr-only js-clear-group" type="checkbox" checked>
          <span class="checkbox__label">{{ __('None of these apply', 'accessnyc-screener') }}</span>
        </label>
      </div>
    </fieldset>

    <div class="pt-2">
      <a class="btn btn-primary btn-next text-small js-screener-validate-step" href="#step-5" role="button">{{ __('Continue', 'accessnyc-screener') }}</a>
    </div>
  </div>
</div>{# /#step-4 #}
