<div class="{{ styles.fieldset }}" id="step-9" data-track-key="Screener Step: 9"
  data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "9-Nextuser"}]'>
  <div class="{{ styles.padding }}">
    <div data-js="step-title" class="{{ styles.number }}">{{ __('Step 9 of 10', 'accessnyc-screener') }}</div>

    <h4>{{ __('So far you’ve told us about:', 'accessnyc-screener') }}</h4>

    <ul id="screener-household-summary" class="c-member-list screen-tablet:layout-columns"></ul>

    <h1 class="{{ styles.heading }}" data-js="question">{{ __('Tell us about the next person in your household.', 'accessnyc-screener') }}</h1>

    <div id="screener-household-member"></div>

    <div class="pt-2">
      <a class="btn btn-primary btn-next text-small js-screener-validate-step" href="#step-10" role="button">{{ __('Continue', 'accessnyc-screener') }}</a>
    </div>
  </div>
</div>{# /#step-10 #}
