<div class="{{ styles.fieldset }}" id="step-8" data-track-key="Screener Step: 8"
  data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "8-AreYouHead"}]'>
  <div class="{{ styles.padding }}">
    <div data-js="step-title" class="{{ styles.number }}">{{ __('Step 8 of 10', 'accessnyc-screener') }}</div>

    <h1 class="{{ styles.heading }}" data-js="question">{{ __('Tell us about the head of the household.', 'accessnyc-screener') }}</h1>

    <fieldset class="c-question" id="screener-is-submitter-head-of-household">
      <legend class="c-question__label">{{ __('Are you the head of the household?', 'accessnyc-screener') }}</legend>

      <p>
        <button type="button" class="c-question__info btn btn-text btn-link" data-js="tooltip-control" aria-describedby="tooltip-hoh">
          <svg aria-hidden="true" class="icon-2">
            <use xlink:href="#icon-info"></use>
          </svg>{{ __('This is what the head of household means.', 'accessnyc-screener') }}
        </button>
      </p>

      <div id="tooltip-hoh" class="tooltip color-info-status animated fadeInUp">
        <p>{{ __('The head of household is the person who can represent everyone in your family and pays most of the family’s expenses. If you pay more than half the cost for your home this year, you are the head of household.', 'accessnyc-screener') }}</p>
      </div>

      <div class="c-question__container js-screener-radio-group">
        <label class="toggle js-screener-radio-label" id="step-8-hoh" data-track-key="Screener Step: 8 Head" data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "8-IsHead"}]'>
          <input class="js-screener-toggle sr-only" value="1" type="radio" name="Person[0].headOfHousehold" data-type="boolean" data-hides="#screener-hoh" checked/>
          <span class="toggle__label">{{ __('Yes', 'accessnyc-screener') }}</span>
        </label>
        <label class="toggle js-screener-radio-label" data-track-key="Screener Step 8: Not Head" data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "8-NotHead"}]'>
          <input class="js-screener-toggle sr-only" value="0" type="radio" name="Person[0].headOfHousehold" data-type="boolean" data-shows="#screener-hoh"/>
          <span class="toggle__label">{{ __('No', 'accessnyc-screener') }}</span>
        </label>
      </div>
    </fieldset>

    <div class="hidden" id="screener-hoh">
      <div class="c-question">
        <label class="c-question__label" for="hoh-age">{{ __('Tell us about the head of your household.', 'accessnyc-screener') }} {{ __('How old are they?', 'accessnyc-screener') }}</label>
        <div class="c-question__container">
          <input id="hoh-age" name="Person[1].age" type="number" min="0" maxlength="3" pattern="[0-9]" step="1" data-type="integer" required>
        </div>
      </div>

      <hr class="divider screen-tablet:divider-large border-grey-light">

      <div class="c-question">
        <label class="c-question__label" for="hoh-relation">{{ __('What is your relationship to the head of the household? I am their:', 'accessnyc-screener') }}</label>
        <div class="c-question__container">
          <select class="select" id="hoh-relation" name="Person[0].headOfHouseholdRelation" required>
            <option value="">{{ __('Click to select relationship', 'accessnyc-screener') }}</option>
            <option value="Child">{{ __('Child', 'accessnyc-screener') }}</option>
            <option value="FosterChild">{{ __('Foster Child', 'accessnyc-screener') }}</option>
            <option value="StepChild">{{ __('Step-child', 'accessnyc-screener') }}</option>
            <option value="Grandchild">{{ __('Grandchild', 'accessnyc-screener') }}</option>
            <option value="Spouse">{{ __('Spouse', 'accessnyc-screener') }}</option>
            <option value="Parent">{{ __('Parent', 'accessnyc-screener') }}</option>
            <option value="FosterParent">{{ __('Foster Parent', 'accessnyc-screener') }}</option>
            <option value="StepParent">{{ __('Step-parent', 'accessnyc-screener') }}</option>
            <option value="Grandparent">{{ __('Grandparent', 'accessnyc-screener') }}</option>
            <option value="SisterBrother">{{ __('Sister/Brother', 'accessnyc-screener') }}</option>
            <option value="StepSisterStepBrother">{{ __('Step-sister/Step-brother', 'accessnyc-screener') }}</option>
            <option value="BoyfriendGirlfriend">{{ __('Boyfriend/Girlfriend', 'accessnyc-screener') }}</option>
            <option value="DomesticPartner">{{ __('Domestic Partner', 'accessnyc-screener') }}</option>
            <option value="Unrelated">{{ __('Unrelated', 'accessnyc-screener') }}</option>
            <option value="Other">{{ __('Related in some other way', 'accessnyc-screener') }}</option>
          </select>
        </div>
      </div>

      <hr class="divider screen-tablet:divider-large border-grey-light">

      <fieldset class="c-question">
        <legend class="c-question__label">{{ __('Do any of these apply to them?', 'accessnyc-screener') }}</legend>
        <p>{{ __('It’s OK to pick more than one.', 'accessnyc-screener') }}</p>
        <div class="c-question__container screen-tablet:layout-columns js-screener-checkbox-group">
          <label class="checkbox">
            <input class="js-screener-toggle" type="checkbox" name="Person[1].student" value="1" data-toggles="#screener-is-hoh-full-time-student" data-type="boolean">
            <span class="checkbox__label">{{ __('Student', 'accessnyc-screener') }}</span>
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Person[1].pregnant" value="1" data-type="boolean">
            <span class="checkbox__label">{{ __('Pregnant', 'accessnyc-screener') }}</span>
          </label>
          <label class="checkbox">
            <input class="js-screener-toggle" type="checkbox" name="Person[1].unemployed" value="1" data-toggles="#screener-did-hoh-work-last-18-months" data-type="boolean">
            <span class="checkbox__label">{{ __('Unemployed', 'accessnyc-screener') }}</span>
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Person[1].blind" value="1" data-type="boolean">
            <span class="checkbox__label">{{ __('Blind or visually impaired', 'accessnyc-screener') }}</span>
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Person[1].disabled" value="1" data-type="boolean">
            <span class="checkbox__label">{{ __('Have any disabilities', 'accessnyc-screener') }}</span>
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Person[1].veteran" value="1" data-type="boolean">
            <span class="checkbox__label">{{ __('Served in the U.S. Armed Forces, National Guard or Reserves', 'accessnyc-screener') }}</span>
          </label>
          <label class="checkbox">
            <input class="screener-checkboxes-input sr-only js-clear-group" type="checkbox" checked>
            <span class="checkbox__label">{{ __('None of these apply', 'accessnyc-screener') }}</span>
          </label>
        </div>
      </fieldset>

      <fieldset class="c-question hidden" id="screener-is-hoh-full-time-student">
        <legend class="c-question__label">{{ __('Are they a full-time student?', 'accessnyc-screener') }}</legend>
        <div class="c-question__container js-screener-radio-group">
          <label class="toggle js-screener-radio-label">
            <input class="sr-only" value="1" type="radio" name="Person[1].studentFulltime" data-type="boolean"/>
            <span class="toggle__label">{{ __('Yes', 'accessnyc-screener') }}</span>
          </label>
          <label class="toggle js-screener-radio-label">
            <input class="sr-only" value="0" type="radio" name="Person[1].studentFulltime" data-type="boolean" checked/>
            <span class="toggle__label">{{ __('No', 'accessnyc-screener') }}</span>
          </label>
        </div>
      </fieldset>

      <fieldset class="c-question hidden" id="screener-did-hoh-work-last-18-months">
        <legend class="c-question__label">{{ __('Did they work in the last 18 months?', 'accessnyc-screener') }}</legend>
        <div class="c-question__container js-screener-radio-group">
          <label class="toggle js-screener-radio-label">
            <input class="sr-only" value="1" type="radio" name="Person[1].unemployedWorkedLast18Months" data-type="boolean"/>
            <span class="toggle__label">{{ __('Yes', 'accessnyc-screener') }}</span>
          </label>
          <label class="toggle js-screener-radio-label">
            <input class="sr-only" value="0" type="radio" name="Person[1].unemployedWorkedLast18Months" data-type="boolean" checked/>
            <span class="toggle__label">{{ __('No', 'accessnyc-screener') }}</span>
          </label>
        </div>
      </fieldset>

      <hr class="divider screen-tablet:divider-large border-grey-light">

      <fieldset class="c-question">
        <legend class="c-question__label mb-3">{{ __('Do they receive any of these benefits?', 'accessnyc-screener') }}</legend>
        <div class="c-question__container screen-tablet:layout-columns js-screener-checkbox-group">
          <label class="checkbox">
            <input type="checkbox" name="Person[1].benefitsMedicaid" value="1" data-type="boolean">
            <span class="checkbox__label">{{ __('Medicaid', 'accessnyc-screener') }}</span>
          </label>
          <label class="checkbox">
            <input type="checkbox" name="Person[1].benefitsMedicaidDisability" value="1" data-type="boolean">
            <span class="checkbox__label">{{ __('Disability-related Medicaid', 'accessnyc-screener') }}</span>
          </label>
          <label class="checkbox">
            <input class="screener-checkboxes-input sr-only js-clear-group" type="checkbox" checked>
            <span class="checkbox__label">{{ __('None of these apply', 'accessnyc-screener') }}</span>
          </label>
        </div>
      </fieldset>

      <hr class="divider screen-tablet:divider-large border-grey-light">

      <fieldset class="c-question">
        <legend class="c-question__label">{{ __('Do they have an income?', 'accessnyc-screener') }}</legend>
        <p>{{ __('This includes money from jobs, alimony, investments or gifts.', 'accessnyc-screener') }}</p>
        <div class="c-question__container js-screener-radio-group">
          <label class="toggle js-screener-radio-label">
            <input class="js-screener-toggle js-add-section sr-only"
              value="1"
              type="radio"
              name="hoh-has-income"
              data-type="boolean"
              data-shows="#hoh-income"
              data-renders="#screener-person-1-income-0"
              data-render-target="#hoh-income"
              data-matrix="income"
              data-matrix-index="0"
              data-person-index="1">
            <span class="toggle__label">{{ __('Yes', 'accessnyc-screener') }}</span>
          </label>
          <label class="toggle js-screener-radio-label">
            <input class="js-screener-toggle sr-only" value="0" type="radio" name="hoh-has-income" data-type="boolean" data-hides="#hoh-income" checked/>
            <span class="toggle__label">{{ __('No', 'accessnyc-screener') }}</span>
          </label>
        </div>
      </fieldset>
      <div class="hidden js-screener-matrix screener-matrix" id="hoh-income"></div>

      <hr class="divider screen-tablet:divider-large border-grey-light">

      <fieldset class="c-question" id="screener-have-expenses-head-of-household">
        <legend class="c-question__label">{{ __('Do they have any expenses?', 'accessnyc-screener') }}</legend>
        <p>{{ __('This includes costs like rent, mortgage, medical bills, child care, child support and heating bills.', 'accessnyc-screener') }}</p>
        <div class="c-question__container js-screener-radio-group">
          <label class="toggle js-screener-radio-label">
            <input class="js-screener-toggle js-add-section sr-only"
              value="1"
              type="radio"
              name="hoh-has-expenses"
              data-type="boolean"
              data-shows="#hoh-expense"
              data-renders="#screener-person-1-expense-0"
              data-render-target="#hoh-expense"
              data-matrix="expense"
              data-matrix-index="0"
              data-person-index="1">
            <span class="toggle__label">{{ __('Yes', 'accessnyc-screener') }}</span>
          </label>
          <label class="toggle js-screener-radio-label">
            <input class="js-screener-toggle sr-only" value="0" type="radio" name="hoh-has-expenses" data-type="boolean" data-toggles="#hoh-expense" checked/>
            <span class="toggle__label">{{ __('No', 'accessnyc-screener') }}</span>
          </label>
        </div>
      </fieldset>

      <div class="hidden js-screener-matrix screener-matrix" id="hoh-expense"></div>
    </div>

    <div class="pt-2">
      <a class="btn btn-primary btn-next text-small js-screener-validate-step" href="#step-9" role="button">{{ __('Continue', 'accessnyc-screener') }}</a>
    </div>
  </div>
</div>{# /#step-8 #}
