<div id="screener-person-<%= personIndex %>-income-<%= matrixIndex %>" class="js-matrix-item">
  <hr class="divider screen-tablet:divider-large border-grey-light">

  <div class="c-question">
    <% if (matrixIndex === 0) { %>
    <label class="c-question__label" for="person-<%= personIndex %>-incomes-<%= matrixIndex %>-type">
      <% if (personIndex === 0) { %>
      {{ __("What type of income have you had most recently?", "accessnyc-screener")|trim|escape("js") }}
      <% } else { %>
      {{ __("What type of income have they had most recently?", "accessnyc-screener")|trim|escape("js") }}
      <% } %>
    </label>
    <p>{{ __("Answer the best you can. You will be able to include additional types of income. The more you include, the more accurate your results will be.", "accessnyc-screener")|trim|escape("js") }}</p>
    <% } else { %>
    <label class="c-question__label" for="person-<%= personIndex %>-incomes-<%= matrixIndex %>-type">
      <% if (personIndex === 0) { %>
      {{ __("If you receive another type of income, select it below.", "accessnyc-screener")|trim|escape("js") }}
      <% } else { %>
      {{ __("If they receive another type of income, select it below.", "accessnyc-screener")|trim|escape("js") }}
      <% } %>
    </label>
    <% } %>

    <div class="c-question__container">
      <select class="select js-matrix-select js-add-section js-screener-toggle"
          id="person-<%= personIndex %>-incomes-<%= matrixIndex %>"
          name="Person[<%= personIndex %>].incomes[<%= matrixIndex %>].type"
          data-toggles="#screener-person-<%= personIndex %>-income-<%= matrixIndex %>-details"
          data-renders="#screener-person-<%= personIndex %>-income-<% print(matrixIndex + 1) %>"
          data-matrix="income"
          data-matrix-index="<% print(matrixIndex + 1) %>"
          data-person-index="<%= personIndex %>">
        <option value="" selected>{{ __("Click to add an income type", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Wages">{{ __("wages, salaries, tips", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="SelfEmployment">{{ __("self-employment income", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Unemployment">{{ __("unemployment benefits", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="CashAssistance">{{ __("Cash Assistance grant", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="ChildSupport">{{ __("child support (received)", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="DisabilityMedicaid">{{ __("disability-related Medicaid", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="SSI">{{ __("Supplemental Security Income (SSI)", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="SSDependent">{{ __("Social Security Dependent Benefits", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="SSDisability">{{ __("Social Security Disability Benefits", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="SSSurvivor">{{ __("Social Security Survivor’s Benefits", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="SSRetirement">{{ __("Social Security Retirement Benefits", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="NYSDisability">{{ __("New York State Disability Benefits", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Veteran">{{ __("Veteran’s Pension or Benefits", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Pension">{{ __("Government or Private Pension", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="DeferredComp">{{ __("Withdrawals from Deferred Compensation (IRA, Keogh, etc.)", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="WorkersComp">{{ __("Worker’s Compensation", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Alimony">{{ __("alimony (received)", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Boarder">{{ __("boarder or lodger", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Gifts">{{ __("gifts/contributions (received)", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Rental">{{ __("rental income", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Investment">{{ __("investment income (interest, dividends, and profit from selling stocks)", "accessnyc-screener")|trim|escape("js") }}</option>
      </select>
    </div>
  </div>

  <div id="screener-person-<%= personIndex %>-income-<%= matrixIndex %>-details" class="hidden">
    <div class="c-question">
      <label class="c-question__label d-inline-block m-bottom" for="person-<%= personIndex %>-incomes-<%= matrixIndex %>-amount">
        <% if (personIndex === 0) { %>
        {{ __("How much do you receive for this type of income:", "accessnyc-screener")|trim|escape("js") }}
        <% } else { %>
        {{ __("How much do they receive for this type of income:", "accessnyc-screener")|trim|escape("js") }}
        <% } %>
        <span data-js="transaction-label"></span>?
      </label>
      <div class="c-question__container">
        <div class="input-currency-usd">
          <input id="person-<%= personIndex %>-incomes-<%= matrixIndex %>-amount" name="Person[<%= personIndex %>].incomes[<%= matrixIndex %>].amount" type="number" data-type="float" step="0.01" required>
        </div>
      </div>
    </div>

    <div class="c-question">
      <label class="c-question__label d-inline-block m-bottom" for="person-<%= personIndex %>-incomes-<%= matrixIndex %>-frequency">
        <% if (personIndex === 0) { %>
        {{ __("How often do you receive this income:", "accessnyc-screener")|trim|escape("js") }}
        <% } else { %>
        {{ __("How often do they receive this income:", "accessnyc-screener")|trim|escape("js") }}
        <% } %>
        <span data-js="transaction-label"></span>?
      </label>
      <div class="c-question__container">
        <select class="select" id="person-<%= personIndex %>-incomes-<%= matrixIndex %>-frequency" name="Person[<%= personIndex %>].incomes[<%= matrixIndex %>].frequency" required>
          <option value="">{{ __("Click to add an income frequency", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="weekly">{{ __("Every week", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="biweekly">{{ __("Every 2 weeks", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="monthly">{{ __("Monthly", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="semimonthly">{{ __("Twice a month", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="yearly">{{ __("Every year", "accessnyc-screener")|trim|escape("js") }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
