<div id="screener-person-<%= personIndex %>-expense-<%= matrixIndex %>" class="js-matrix-item">
  <hr class="divider screen-tablet:divider-large border-grey-light">

  <div class="c-question">
    <% if (matrixIndex === 0) { %>
    <label class="c-question__label" for="person-<%= personIndex %>-expenses-<%= matrixIndex %>-type">
      <% if (personIndex === 0) { %>
      {{ __("What type of expense have you had most recently?", "accessnyc-screener")|trim|escape("js") }}
      <% } else { %>
      {{ __("What type of expense have they had most recently?", "accessnyc-screener")|trim|escape("js") }}
      <% } %>
    </label>
    <p>{{ __("Answer the best you can. You will be able to include additional types of expenses. The more you include, the more accurate your results will be.", "accessnyc-screener")|trim|escape("js") }}</p>
    <% } else { %>
    <label class="c-question__label d-inline-block m-bottom" for="person-<%= personIndex %>-expenses-<% print(matrixIndex + 1) %>-type">
      <% if (personIndex === 0) { %>
      {{ __("If you have another type of expense, select it below.", "accessnyc-screener")|trim|escape("js") }}
      <% } else { %>
      {{ __("If they have another type of expense, select it below.", "accessnyc-screener")|trim|escape("js") }}
      <% } %>
    </label>
    <% } %>

    <div class="c-question__container">
      <select class="select js-matrix-select js-add-section js-screener-toggle"
          id="person-<%= personIndex %>-expenses-<%= matrixIndex %>"
          name="Person[<%= personIndex %>].expenses[<%= matrixIndex %>].type"
          data-toggles="#screener-person-<%= personIndex %>-expense-<%= matrixIndex %>-details"
          data-renders="#screener-person-<%= personIndex %>-expense-<% print(matrixIndex + 1) %>"
          data-matrix="expense"
          data-matrix-index="<% print(matrixIndex + 1) %>"
          data-person-index="<%= personIndex %>">
        <option value="">{{ __("Click to add an expense type", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="ChildCare">{{ __("Child Care", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="ChildSupport">{{ __("Child Support (Paid)", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="DependentCare">{{ __("Dependent Care", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Rent">{{ __("Rent", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Medical">{{ __("Medical expense", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Heating">{{ __("Heating", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Cooling">{{ __("Cooling", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Mortgage">{{ __("Mortgage", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Utilities">{{ __("Utilities", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="Telephone">{{ __("Telephone", "accessnyc-screener")|trim|escape("js") }}</option>
        <option value="InsurancePremiums">{{ __("Third Party Insurance Premiums", "accessnyc-screener")|trim|escape("js") }}</option>
      </select>
    </div>
  </div>

  <div id="screener-person-<%= personIndex %>-expense-<%= matrixIndex %>-details" class="hidden">
    <div class="c-question">
      <label class="c-question__label" for="person-<%= personIndex %>-expenses-<%= matrixIndex %>-amount">
        {{ __("How much is this type of expense:", "accessnyc-screener")|trim|escape("js") }}
        <span data-js="transaction-label"></span>?
      </label>
      <div class="c-question__container">
        <div class="input-currency-usd">
          <input id="person-<%= personIndex %>-expenses-<%= matrixIndex %>-amount" name="Person[<%= personIndex %>].expenses[<%= matrixIndex %>].amount" type="number" data-type="float" step="0.01" required>
        </div>
      </div>
    </div>

    <div class="c-question">
      <label class="c-question__label d-inline-block m-bottom" for="person-<%= personIndex %>-expenses-<%= matrixIndex %>-frequency">
        <% if (personIndex === 0) { %>
        {{ __("How often do you have this expense:", "accessnyc-screener")|trim|escape("js") }}
        <% } else { %>
        {{ __("How often do they have this expense:", "accessnyc-screener")|trim|escape("js") }}
        <% } %>
        <span data-js="transaction-label"></span>?
      </label>
      <div class="c-question__container">
        <select class="select" id="person-<%= personIndex %>-expenses-<%= matrixIndex %>-frequency" name="Person[<%= personIndex %>].expenses[<%= matrixIndex %>].frequency" required>
          <option value="">{{ __("Click to add an expense frequency", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="weekly">{{ __("Every week", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="biweekly">{{ __("Every 2 weeks", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="monthly">{{ __("Monthly", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="semimonthly">{{ __("Twice a month", "accessnyc-screener")|trim|escape("js") }}</option>
          <option value="yearly">{{ __("Every year", "accessnyc-screener")|trim|escape("js") }}</option>
        </select>
      </div>
    </div>

  </div>
</div>
