<h2 class="recap-confirmation">{{ __("Is all of your information correct?", "accessnyc-screener")|trim|escape("js") }}</h2>

<div class="text-normal bg-white p-2 screen-tablet:p-4">
  <div>
    <h3 class="type-h4 text-blue-dark">
      {{ __("Looking for help with", "accessnyc-screener")|trim|escape("js") }}
      <a role="button" href="#step-1" class="block screen-tablet:inline screen-tablet:px-2 font-normal">{{ __("Edit", "accessnyc-screener")|trim|escape("js") }}</a>
    </h3>

    <div class="layout-gutter screen-tablet:layout-columns-gutter mb-4">
      <% if (categories.length === 0) { %>
      <p>{{ __("No categories selected.", "accessnyc-screener")|trim|escape("js") }}</p>
      <% } %>

      <% categories.forEach(function(category) { %>
      {% if language_code == "en" %}
      <% var slug = category.slug %>
      {% else %}
      <% var slug = category.slug.substring(0, category.slug.lastIndexOf("-{{ language_code }}")); %>
      {% endif %}

      <article class="c-card p-0 items-center">
        <div class="c-card__icon">
          <svg class="icon icon-6 text-blue-bright fill-blue-light" aria-hidden="true">
            <use xlink:href="#icon-<%= slug %>-v2"></use>
          </svg>
        </div>

        <div class="c-card__body"><%= category.label %></div>
      </article>
      <% }); %>
    </div>

  </div>

  <hr class="divider screen-tablet:divider-large border-grey-light">

  <div>
    <h3 class="type-h4 text-blue-dark">
      {{ __("Your household:", "accessnyc-screener")|trim|escape("js") }}
      <%= members.length %>
      <% if (members.length === 1) { %>
      {{ __("person", "accessnyc-screener")|trim|escape("js") }}
      <% } else { %>
      {{ __("people", "accessnyc-screener")|trim|escape("js") }}
      <% } %>
    </h3>

    <ul class="c-member-list ">{% apply spaceless %}
      <% members.forEach(function(member, index) { %>
      <li class="pb-4">
        <% if (index === 0 && !member.isHoh) { %>
        <span class="c-member-list__item">{{ __("You", "accessnyc-screener")|trim|escape("js") }}</span>
        <% } %>
        <span class="c-member-list__item"><%= member.relation %></span>
        <span class="c-member-list__item"><%= member.age %></span>
        <% if (index === 0 && member.isHoh) { %>
        <span class="c-member-list__item">{{ __("Head of household", "accessnyc-screener")|trim|escape("js") }}</span>
        <% } %>

        <span class="c-member-list__item inline">
          <a id="recap-edit-person" role="button" data-person="<%= index %>" class="js-edit-person screen-tablet:px-2 font-normal cursor-pointer">{{ __("Edit", "accessnyc-screener")|trim|escape("js") }}</a><% if (index !== 0 && !member.isHoh) { %><a role="button" data-person="<%= index %>" class="js-remove-person px-2 font-normal">{{ __("Remove", "accessnyc-screener")|trim|escape("js") }}</a><% } %>
        </span>

        <% if (member.conditions.length) { %>
        <div class="screen-mobile:flex font-normal leading-large pb-1">
          <div class="flex-none py-1 screen-mobile:p-0" style="width:7rem">{{ __("Conditions:", "accessnyc-screener")|trim|escape("js") }}</div>
          <ul class="list-inline-semicolon">
            <% member.conditions.forEach(function(condition) { %>
            <li><%= condition %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>

        <% if (member.benefits.length) { %>
        <div class="screen-mobile:flex font-normal leading-large pb-1">
          <div class="flex-none py-1 screen-mobile:p-0" style="width:7rem">{{ __("Benefits:", "accessnyc-screener")|trim|escape("js") }}</div>
          <ul class="list-inline-semicolon">
            <% member.benefits.forEach(function(benefit) { %>
            <li><%= benefit %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>

        <% if (member.incomes.length) { %>
        <div class="screen-mobile:flex font-normal leading-large pb-1">
          <div class="flex-none py-1 screen-mobile:p-0" style="width:7rem">{{ __("Income:", "accessnyc-screener")|trim|escape("js") }}</div>
          <ul class="list-inline-semicolon">
            <% member.incomes.forEach(function(income) { %>
            <li>
              <span class="list-inline-comma">
                <span><%= income.amount %></span>
                <span><%= income.type %></span>
                <span><%= income.frequency %></span>
              </span>
            </li>
            <% }); %>
          </ul>
        </div>
        <% } %>

        <% if (member.expenses.length) { %>
        <div class="screen-mobile:flex font-normal leading-large">
          <div class="flex-none py-1 screen-mobile:p-0" style="width:7rem">{{ __("Expenses:", "accessnyc-screener")|trim|escape("js") }}</div>
          <ul class="list-inline-semicolon">
            <% member.expenses.forEach(function(expense) { %>
            <li>
              <span class="list-inline-comma">
                <span><%= expense.amount %></span>
                <span><%= expense.type %></span>
                <span><%= expense.frequency %></span>
              </span>
            </li>
            <% }); %>
          </ul>
        </div>
        <% } %>
      </li>
      <% }) %>
    {% endapply %}</ul>
  </div>

  <hr class="divider screen-tablet:divider-large border-grey-light">

  <div>
    <h3 class="type-h4 text-blue-dark">
      {{ __("Household resources:", "accessnyc-screener")|trim|escape("js") }} <span class="force-ltr"><%= household.assets %></span>
      <a role="button" href="#step-10" class="block screen-tablet:inline screen-tablet:px-2 font-normal">{{ __("Edit", "accessnyc-screener")|trim|escape("js") }}</a>
    </h3>

    <p>{{ __("This is cash on hand; checking or savings accounts; stocks, bonds or mutual funds.", "accessnyc-screener")|trim|escape("js") }}</p>
  </div>

  <hr class="divider screen-tablet:divider-large border-grey-light">

  <div>
    <h3 class="type-h4 text-blue-dark">
      {{ __("Housing", "accessnyc-screener")|trim|escape("js") }}
      <a role="button" href="#step-10" class="block screen-tablet:inline screen-tablet:px-2 font-normal">{{ __("Edit", "accessnyc-screener")|trim|escape("js") }}</a>
    </h3>

    <ul class="list-inline-semicolon">{% apply spaceless %}
      <% household.types.forEach(function(type) { %>
      <li>
        <div class="list-inline-comma">
          <span><%= type.label %></span>
          <% if (type.slug === "Renting") { %>
            <% if (household.rentalType) { %>
            <span class="recap-detail-info-item">
              <%= household.rentalType %>
            </span>
            <% } %>

            <span class="recap-detail-info-item">
              <% if (household.renters.length === 1) { %>
                <% if (household.renters[0].slug === "Self") { %>
                {{ __("You are on the lease", "accessnyc-screener")|trim|escape("js") }}
                <% } else { %>
                <%= household.renters[0].label %> {{ __("is on the lease", "accessnyc-screener")|trim|escape("js") }}
                <% } %>
              <% } else { %>
                <span class="list-inline-comma">
                  <% household.renters.forEach(function(renter) { %>
                  <span><%= renter.label %></span>
                  <% }); %>
                </span>
                {{ __("are on the lease", "accessnyc-screener")|trim|escape("js") }}
              <% } %>
            </span>
          <% } else if (type.slug === "Owner") { %>
            <span>
              <% if (household.owners.length === 1) { %>
                <% if (household.owners[0].slug === "Self") { %>
                {{ __("You are the owner", "accessnyc-screener")|trim|escape("js") }}
                <% } else { %>
                <%= household.owners[0].label %> {{ __("is the owner", "accessnyc-screener")|trim|escape("js") }}
                <% } %>
              <% } else { %>
                <span class="list-inline-comma">
                  <% household.owners.forEach(function(owner) { %>
                  <span><%= owner.label %></span>
                  <% }); %>
                </span>
                {{ __("are the owners", "accessnyc-screener")|trim|escape("js") }}
              <% } %>
            </span>
          <% } %>
        </div>
      </li>
      <% }); %>
    {% endapply %}</ul>
  </div>

  <hr class="divider screen-tablet:divider-large border-grey-light">

  <div>
    <h3 class="type-h4 text-blue-dark">
      {{ __("Your zip code:", "accessnyc-screener")|trim|escape("js") }} <%= household.zip %>
      <a role="button" href="#step-3" class="block screen-tablet:inline screen-tablet:px-2 font-normal">{{ __("Edit", "accessnyc-screener")|trim|escape("js") }}</a>
    </h3>
  </div>
</div>
