<fieldset class="d-block w-100 p-bottom">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-disclaimer">

    <div class="bg-blue-light ui-overlay" data-js="toggle-question"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-disclaimer">
        {{ __('ACCESS NYC Disclaimer for Public Benefit Program Screening', translationID) }}
      </a>

      <div data-js="toggle-question">

        <div class="p-horizontal-2 p-bottom-2">

          <p>{{ __('Before we get started, let me explain what we’ll be doing:', translationID) }}</p>
          <ul>
            <li>{{ __('We\'ll be asking you about yourself and your household to find benefits and programs in which you may be interested.', translationID) }}</li>
            <li>{{ __('It usually takes about 10 minutes to answer all of the questions.', translationID) }}</li>
            <li>{{ __('After we’re done, you’ll have a list of public benefits programs to which you might consider applying.', translationID) }}</li>
            <li>{{ __('The more we learn about you and your household, the more accurate your screening results will be.', translationID) }}</li>
          </ul>

          <p>{{ __('It’s important for you to understand that:', translationID) }}</p>
          <ul class="m-0">
            <li>{{ __('The results of this screener do not represent an eligibility determination and do not guarantee eligibility in any program.', translationID) }}</li>
            <li>{{ __('To enroll in a benefit or program, you will need to submit an application through the administering agency, which will determine your eligibility.', translationID) }}</li>
            <li>{{ __('The results of this screener do not prohibit you from applying for any benefits or programs on behalf of yourself or your household.', translationID) }}</li>
            <li>{{ __('The information you share for purposes of public benefits screening will be anonymous and can be shared with City agencies to improve access to benefits and programs. To find out more about how the City might use the data you share with ACCESS NYC, visit the <a href="http://www1.nyc.gov/home/terms-of-use.page" target="_blank">Terms of Use for NYC.gov</a>, and <a href="http://www1.nyc.gov/home/privacy-policy.page" target="_blank">Privacy Policy for NYC.gov</a>.', translationID) }}</li>
          </ul>

        </div>

        <div class="p-top-2 p-horizontal-2 bg-white">
          <p>{{ __('Check the box below and then click the button to get started.', translationID) }}</p>
          <div class="screener-disclaimer-acknowledgment screener-question-container m-0">
            <label class="screener-checkbox styled-checkbox m-0">
              <input id="disclaimer-agreement" type="checkbox" name="disclaimer-agreement" value="true" required
                 v-on:change="disclaimer = $event.target.checked">
              <span class="styled-checkbox-label">{{ __('I have read, understand, and agree to the terms of: the ACCESS NYC Disclaimer for Public Benefit Program Screening, the NYC.gov Privacy Policy, and the NYC.gov Terms of Use.', translationID) }}</span>
            </label>
          </div>
        </div>

      </div>



    </div>

  </div>

</fieldset>
