<fieldset class="{{ styles.fieldset.main }}">
  <div class="{{ styles.fieldset.inner }}" id="question-household-income">
    <div class="{{ styles.fieldset.highlight }}" data-js="toggle-question"></div>

    <div class="{{ styles.fieldset.content }}">
      <a class="{{ styles.questions.main }}" data-js="question" href="#question-household-income">
        {{ __('Household Income', translationID) }}
        <svg class="{{ styles.questions.warning }}" role="img" aria-label="{{ __('Some fields are invalid', translationID) }}"
          v-if="errors.all('HouseholdIncome').length > 0">
          <title>{{ __('Some fields are invalid', translationID) }}</title>
          <use xlink:href="#icon-warning"></use>
        </svg>
      </a>

      <div class="{{ styles.questions.toggle }}" data-js="toggle-question">
        <div class="c-question m-0">
          <label class="c-question__label {{ styles.inputs.label }}">
            <span v-if="singleOccupant()">{{ __('Do you have an income?', translationID) }}</span>
            <span v-else>{{ __('Do you or does anyone in your household have income?', translationID) }}</span>
          </label>
          <div class="c-question__container">
            <label class="toggle">
              <input name="toggle-income" type="radio" class="sr-only" value="1"
                data-js="toggle"
                data-key="incomes"
                v-model.number="income"
                v-on:change="removeAllPayments">
              <span class="toggle__label">{{ __('Yes', translationID) }}</span>
            </label>
            <label class="toggle">
              <input name="toggle-income" type="radio" class="sr-only" value="0" checked
                data-js="toggle"
                data-key="incomes"
                v-model.number="income"
                v-on:change="removeAllPayments">
              <span class="toggle__label">{{ __('No', translationID) }}</span>
            </label>
          </div>
        </div>

        <div v-if="income">
          <div v-if="!singleOccupant()" class="c-question">
            <hr class="{{ styles.fieldset.divider }}">

            <label class="c-question__label {{ styles.inputs.label }} mb-4">
              {{ __('Who in your household contributes to your total household income?', translationID) }}
            </label>

            <h4 class="{{ styles.inputs.explanation }}">
              {{ __('What are sources of income?', translationID) }}
            </h4>

            <p>{{ __('Sources of income can mean anything from disability-related Medicaid to wages, salaries, and tips.', translationID) }}</p>

            <div class="c-question__container">
              <label class="checkbox"
                v-for="(p, personIndex) in people">
                <input class="js-screener-toggle" type="checkbox" value="1"
                  data-js="toggle"
                  v-bind:name="'Person[' + personIndex + '].has-income'"
                  v-bind:data-toggles="'#js-toggle-people-' + personIndex + '-income'">
                <span class="checkbox__label">
                  <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>
                </span>
              </label>
            </div>
          </div>

          <div v-for="(p, personIndex) in people">
            <div v-bind:id="'js-toggle-people-' + personIndex + '-income'" v-bind:class="{hidden: !singleOccupant()}">
              <hr class="{{ styles.fieldset.divider }}">

              <div class="c-question mb-0">
                <label class="c-question__label {{ styles.inputs.label }} mb-2">
                  <span v-if="singleOccupant()">
                    {{ __('What is your primary income source?', translationID) }}
                  </span>
                  <span v-else>
                    {{ __('What is the primary income source for', translationID) }}
                    <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>
                  </span>
                </label>
                <div class="c-question__container mt-0">
                  <select class="select"
                    data-object="people"
                    data-key="incomes"
                    v-bind:data-index="personIndex"
                    v-bind:id="'person-' + personIndex + '-incomes-0'"
                    v-bind:name="'Person[' + personIndex + '].incomes[0].type'"
                    v-on:change="pushPayment"
                    v-if="p._attrs.incomes.length === 0">
                    {% for option in incomeOptions %}
                    <option value="{{ option.value }}">
                      {{ __(option.text, translationID) }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div v-for="(income, incomeIndex) in p._attrs.incomes">
                <div class="c-question__container mt-0 mb-4">
                  <select class="select"
                    data-object="people"
                    data-key="incomes"
                    v-bind:data-index="personIndex"
                    v-bind:data-key-index="incomeIndex"
                    v-bind:id="'person-' + personIndex + '-incomes-0'"
                    v-bind:name="'Person[' + personIndex + '].incomes[0].type'"
                    v-model="income.type"
                    v-on:change="removePayment">
                    {% for option in incomeOptions %}
                    <option value="{{ option.value }}">
                      {{ __(option.text, translationID) }}
                    </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="c-question">
                  <label class="c-question__label {{ styles.inputs.label }}">
                    <span v-if="singleOccupant()">
                      {{ __('How much do you receive for: ') }}
                      <span class="text-color-blue">v{ localString(income.type) }</span>{{ __('?', translationID) }}
                    </span>
                    <span v-else>
                      {{ __('How much', translationID) }}
                      <span v-if="personIndex == 0">{{ __('do', translationID) }}</span>
                      <span v-else>{{ __('does', translationID) }}</span>
                      <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>
                      {{ __('receive for', translationID) }}:
                      <span class="text-color-blue">v{ localString(income.type) }</span>{{ __('?', translationID) }}
                    </span>
                    <span class="text-color-red">*</span>
                  </label>
                  <div class="c-question__container"
                    v-bind:class="{'error': errors.has('HouseholdIncome.Person[' + personIndex + '].incomes[' + incomeIndex + '].amount')}">
                    <div class="error-message"
                      v-if="errors.has('HouseholdIncome.Person[' + personIndex + '].incomes[' + incomeIndex + '].amount')">
                        v{ errors.first('HouseholdIncome.Person[' + personIndex + '].incomes[' + incomeIndex + '].amount') }
                    </div>
                    <div class="input-currency-usd m-0">
                      <input type="text" pattern="^([0-9]{1,6})(\.[0-9]{0,2})?$" required
                        data-type="float"
                        data-vv-scope="HouseholdIncome"
                        data-vv-as="{{ __('income amount', translationID) }}"
                        data-js="calc-input"
                        data-js-regex="^([0-9]{1,6})(\.[0-9]{0,2})?$"
                        v-validate="{required: true, regex: '^([0-9]{1,6})(\.[0-9]{0,2})?$', max: 9, decimal: 2}"
                        v-bind:id="'person-' + personIndex + '-incomes-' + incomeIndex + '-amount'"
                        v-bind:name="'Person[' + personIndex + '].incomes[' + incomeIndex + '].amount'"
                        v-on:change="income.amount = getTypedVal($event.target)"
                        v-on:blur="$event.target.value = filterDollars($event)">
                    </div>
                  </div>
                </div>

                <div class="c-question">
                  <label class="c-question__label {{ styles.inputs.label }}">
                    <span v-if="singleOccupant()">
                      {{ __('How often do you receive: ') }}
                      <span class="c-blue">v{ localString(income.type) }</span>{{ __('?', translationID) }}
                    </span>
                    <span v-else>
                      {{ __('How often', translationID) }}
                      <span v-if="personIndex == 0">{{ __('do', translationID) }}</span>
                      <span v-else>{{ __('does', translationID) }}</span>
                      <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>
                      {{ __('receive', translationID) }}:
                      <span class="c-blue">v{ localString(income.type) }</span>{{ __('?', translationID) }}
                    </span>
                    <span class="text-color-red">*</span>
                  </label>
                  <div class="c-question__container"
                    v-bind:class="{'error': errors.has('Person[' + personIndex + '].incomes[' + incomeIndex + '].frequency', 'HouseholdIncome')}">
                    <div class="error-message"
                      v-if="errors.has('Person[' + personIndex + '].incomes[' + incomeIndex + '].frequency', 'HouseholdIncome')">
                        v{ errors.first('Person[' + personIndex + '].incomes[' + incomeIndex + '].frequency', 'HouseholdIncome') }
                    </div>
                    <div class="screen-tablet:layout--columns-gutter">
                      {% for option in frequencyOptions %}
                      <label
                        class="radio"
                        v-bind:for="'person-' + personIndex + '-incomes-' + incomeIndex + '-frequency-{{ option.value }}'">
                        <input type="radio" value="{{ option.value }}"
                          data-vv-scope="HouseholdIncome"
                          data-vv-as="{{ __('income frequency', translationID) }}"
                          v-validate="{required: true}"
                          v-model="income.frequency"
                          v-bind:id="'person-' + personIndex + '-incomes-' + incomeIndex + '-frequency-{{ option.value }}'"
                          v-bind:name="'Person[' + personIndex + '].incomes[' + incomeIndex + '].frequency'"/>
                        <span class="radio__label">
                          {{ __(option.text, translationID) }}
                        </span>
                      </label>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <hr class="{{ styles.fieldset.divider }}">

                <div class="c-question mb-0">
                  <label class="c-question__label {{ styles.inputs.label }}">
                    <span v-if="singleOccupant()">
                      {{ __('If you have another source of income, select it below.', translationID) }}
                    </span>
                    <span v-else>
                      {{ __('If', translationID) }}
                      <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>
                      {{ __('have another source of income, select it below', translationID) }}
                    </span>
                  </label>
                  <div class="c-question__container">
                    <select class="select"
                        data-key="incomes"
                        data-object="people"
                        v-bind:data-index="personIndex"
                        v-bind:id="'person-' + personIndex + '-incomes-' + (incomeIndex + 1) + ''"
                        v-bind:name="'Person[' + personIndex + '].incomes[' + (incomeIndex + 1) + '].type'"
                        v-on:change="pushPayment"
                        v-if="!p._attrs.incomes[incomeIndex + 1]">
                      {% for option in incomeOptions %}
                      <option value="{{ option.value }}">
                        {{ __(option.text, translationID) }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
