<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-client-services">

    <div class="bg-blue-light ui-overlay" data-js="toggle-question"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-client-services">
        {{ __('Client Services', translationID) }}
      </a>

      <div class="p-horizontal-2 p-bottom-2" data-js="toggle-question">

        <div>
          <label class="{{styles.labels}}">
            {{ __('Is anyone in your household currently enrolled in these programs?', translationID) }}
          </label>
          <div class="screener-checkboxes">
            {% for category in categories %}
            <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
              <input type="checkbox"
                {% if category.code %}
                value="{{ category.code }}" data-object="programsFilter"
                {% else %}
                value="{{ category.value }}" data-object="categoriesCurrent"
                {% endif %}
                v-on:change="push">
              <span class="styled-checkbox-label">{{ __(category.text, translationID) }}</span>
            </label>
            {% if category.value == 'cash-assistance' %}<hr class="screener-divider m-top m-bottom-3">{% endif %}
            {% endfor %}
          </div>
        </div>

      </div>

    </div>

  </div>

</fieldset>{# /#step-1 #}
