<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-household-member-details">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div> {# hidden #}

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-household-member-details">
        {{ __('Household Member Details', translationID) }}
      </a>

      <div class="p-horizontal-2 p-bottom-2 js-toggle-question hidden">{# hidden #}
        <div v-if="singleOccupant()">

          <h4 class="{{styles.labels}}">
            {{ __('Do any of these apply to you?', translationID) }}
          </h4>

          <div class="screener-checkboxes">
            {% for option in benefitOptions %}
            <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
              <input type="checkbox" name="Household.{{option.dataKey}}" value="1"
                data-type="boolean"
                data-object="people"
                data-key="{{option.dataKey}}"
                data-index="0"
                data-reset="#household-reset"
                v-on:change="setAttr">
              <span class="styled-checkbox-label">{{ __(option.label, translationID) }}</span>
            </label>
            {% endfor %}
            <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
              <input type="checkbox" name="Household.{{employmentOptions.dataKey}}" value="1"
                data-type="boolean"
                data-object="people"
                data-key="{{employmentOptions.dataKey}}"
                data-index="0"
                data-reset="#household-reset"
                v-on:change="setAttr">
              <span class="styled-checkbox-label">{{ __(employmentOptions.label, translationID) }}</span>
            </label>
          </div>

          <div>
            <div v-if="people[0]._attrs.{{employmentOptions.dataKey}}" class="m-bottom-2">
              <label class="{{styles.labels}}">
                {{ __('Did you work in the last 18 months?', translationID) }}
              </label>
              <div class="screener-radio-buttons">
                <label class="screener-radio screener-label">
                  <input name="Person[0].{{employmentOptions.dataSubKey}}" type="radio" value="true" class="screener-radio-input sr-only"
                    data-type="boolean"
                    data-object="people"
                    data-key="{{employmentOptions.dataSubKey}}"
                    data-index="0"
                    v-on:change="setAttr">
                  <span class="screener-radio-label">{{ __('Yes', translationID) }}</span>
                </label>
                <label class="screener-radio screener-label">
                  <input name="Person[0].{{employmentOptions.dataSubKey}}" class="screener-radio-input sr-only" value="false" type="radio" checked
                    data-type="boolean"
                    data-object="people"
                    data-key="{{employmentOptions.dataSubKey}}"
                    data-index="0"
                    v-on:change="setAttr">
                  <span class="screener-radio-label">{{ __('No', translationID) }}</span>
                </label>
              </div>
            </div>
          </div>

          <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
            <input id="household-reset" type="checkbox" value="false" checked
              data-type="boolean"
              data-object="people"
              data-key="{% for option in benefitOptions %}{{option.dataKey}},{% endfor %}{{employmentOptions.dataKey}},{{employmentOptions.dataSubKey}}"
              data-index="0"
              v-on:change="resetAttr">
            <span class="styled-checkbox-label">{{ __('None of these apply to me', translationID) }}</span>
          </label>

        </div>
        <div v-else>

          <h4 class="{{styles.labels}}">
            {{ __('Tell us a little more about you and your household.', translationID) }}
          </h4>

          {% for question in benefitOptions %}
          {% include 'screener-field-partials/question-toggles-household-member-details.twig' with {question: question} %}
          {% endfor %}

          {% include 'screener-field-partials/question-toggles-unemployed.twig' with {question: employmentOptions} %}

        </div>
      </div>


    </div>

  </div>

</fieldset>
