<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-staff">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" href="#question-staff" data-js="question">
        {{ __('PEU Staff', translationID) }}
        <svg class="{{styles.warning}}" role="alert" aria-label="{{ __('Some fields are invalid', translationID) }}"
          v-if="errors.all('Staff').length > 0">
          <title>{{ __('Some fields are invalid', translationID) }}</title>
          <use xlink:href="#icon-warning"></use>
        </svg>
      </a>

      <div class="js-toggle-question hidden p-horizontal-2 p-bottom-2 hidden">

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="staff-first">
            {{ __('PEU Staff First Name', translationID) }} <span class="c-red">*</span>
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('Staff.firstName', 'Staff')}">
            <div class="error-message"
              v-if="errors.has('Staff.firstName', 'Staff')">v{ errors.first('Staff.firstName', 'Staff') }</div>
            <input id="staff-first-name" name="Staff.firstName" value="" required
              data-vv-as="staff's first name"
              data-vv-scope="Staff"
              v-validate="{required: true}"
              v-model="staff._attrs.firstName">
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="staff-last">
            {{ __('PEU Staff Last Name', translationID) }} <span class="c-red">*</span>
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('Staff.lastName', 'Staff')}">
            <div class="error-message"
              v-if="errors.has('Staff.lastName', 'Staff')">v{ errors.first('Staff.lastName', 'Staff') }</div>
            <input id="staff-last-name" name="Staff.lastName" value="" required
              data-vv-as="staff's last name"
              data-vv-scope="Staff"
              v-validate="{required: true}"
              v-model="staff._attrs.lastName">
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="staff-email">
            {{ __('PEU Staff Email', translationID) }} <span class="c-red">*</span>
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('Staff.email', 'Staff')}">
            <div class="error-message"
              v-if="errors.has('Staff.email', 'Staff')">v{ errors.first('Staff.email', 'Staff') }</div>
            <input class="w-input-double" id="staff-email" name="Staff.email" value="" type="email" required
              data-vv-as="staff email"
              data-vv-scope="Staff"
              v-validate="{required: true, email: true}"
              v-model="staff._attrs.email">
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="staff-screener-location">
            {{ __('Screener Location', translationID) }}
          </label>
          <select id="staff-screener-location" name="Staff.screenerLocation" value=""
            v-model="staff._attrs.screenerLocation">
            {% for location in screenerLocations %}
            <option value="{{ location.value }}">{{ __(location.text, translationID) }}</option>
            {% endfor %}
          </select>
        </div>

        <div>
          <label class="{{styles.labels}}" for="staff-email">
            {{ __('Is this person a current client with PEU?', translationID) }}
          </label>
          <div class="screener-radio-buttons">
            <label class="screener-radio screener-label">
              <input class="screener-radio-input sr-only" value="true" type="radio" name="Client.currentClient"
                data-type="boolean"
                data-object="client"
                data-key="currentClient"
                v-on:change="setAttr">
              <span class="screener-radio-label">{{ __('Yes', translationID) }}</span>
            </label>
            <label class="screener-radio screener-label">
              <input class="screener-radio-input sr-only" value="false" type="radio" name="Client.currentClient" checked
                data-type="boolean"
                data-object="client"
                data-key="currentClient"
                v-on:change="setAttr">
              <span class="screener-radio-label">{{ __('No', translationID) }}</span>
            </label>
          </div>
        </div>

        <div class="m-top-2" v-if="client._attrs.currentClient">
          <label class="{{styles.labels}}" for="client-0-number">
            {{ __('PEU Case #', translationID) }}
          </label>
          <input id="client-number" name="Client.number" value="" required
            v-model="client._attrs.caseNumber">
        </div>

      </div>

    </div>

  </div>

</fieldset>
