<div>

  <div class="m-bottom-2">
    {% if (question) %}
    <label class="{{styles.labels}}">
      {{ __(question, 'accessnyc-screener') }}
    </label>
    {% endif %}
    <div class="screener-radio-buttons m-bottom">
      <label class="screener-radio screener-label">
        <input class="js-screener-toggle screener-radio-input sr-only" value="true" type="radio" name="toggle-{{dataKey}}"
          data-type="boolean"
          data-shows="#js-toggle-{{dataKey}}">
        <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
      </label>
      <label class="screener-radio screener-label">
        <input class="js-screener-toggle screener-radio-input sr-only" value="false" type="radio" name="toggle-{{dataKey}}" checked
          data-type="boolean"
          data-hides="#js-toggle-{{dataKey}}"
          data-object="people"
          data-key="{{dataKey}}"
          v-on:change="setAllAttr">
        <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
      </label>
    </div>
  </div>

  <div id="js-toggle-{{dataKey}}" class="hidden">

    <div class="m-bottom-2">

      <label class="{{styles.labels}}">
        {{ __(who, 'accessnyc-screener') }}
      </label>
      <div class="screener-members">

        <label class="styled-checkbox screener-checkbox screener-label"
          v-for="(p, personIndex) in people">
          <input type="checkbox" value="true"
            data-type="boolean"
            data-object="people"
            data-key="{{dataKey}}"
            v-bind:data-index="personIndex"
            v-bind:name="'Person[' + personIndex + '].{{dataKey}}'"
            v-bind:checked="p._attrs.{{dataKey}}"
            v-on:change="setAttr">
          <span class="styled-checkbox-label">
            <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>
          </span>
        </label>

      </div>

    </div>

  </div>

</div>
