<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-client-needs">

    <div class="bg-blue-light ui-overlay" data-js="toggle-question"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-client-needs">
        {{ __('Client Needs', translationID) }}
      </a>

      <div class="p-horizontal-2 p-bottom-2" data-js="toggle-question">

        <div>
          <label class="{{styles.labels}}">
            {{ __('What kind of help are you looking for?', translationID) }}
          </label>
          <div class="screener-checkboxes screener-categories m-top-2">
            {% for category in categories %}
            {% if language_code != 'en' %}
              {% set langLength = (language_code | length + 1) * -1 %}
              {% set catSlug = category.slug | slice(0, langLength) %}
            {% else %}
              {% set catSlug = category.slug %}
            {% endif %}
            <label class="screener-checkbox styled-checkbox screener-checkboxes-program screener-label">
              <input class="js-screener-validate-step-ui" type="checkbox" name="category" value="{{ category.slug }}"
                data-object="client"
                data-key="programCategories"
                v-on:change="push">
              <span class="styled-checkbox-label">
                <div class="program-category">
                  <div class="program-icon">
                    <span class="icon">
                      <svg class="icon icon-{{ catSlug }}">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ catSlug }}"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="program-card-body">{{ category.name }}</div>
                </div>
              </span>
            </label>
            {% endfor %}
          </div>
        </div>

      </div>

    </div>

  </div>

</fieldset>{# /#step-1 #}
