<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-household-information">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" href="#question-household-information" data-js="question">
        {{ __('Household Information', translationID) }}
        <svg class="{{styles.warning}}" role="img" aria-label="{{ __('Some required fields are not filled out', translationID) }}"
          v-if="errors.all('HouseholdInformation').length > 0 || errors.all('HeadOfHousehold').length > 0">
          <title>{{ __('Some required fields are not filled out', translationID) }}</title>
          <use xlink:href="#icon-warning"></use>
        </svg>
      </a>

      <div class="js-toggle-question hidden p-horizontal-2 p-bottom-2"> {# hidden #}

        <div class="m-bottom-2">
          <label class="{{styles.labels}}">
            {{ __('Including you, how many people are in your household?', translationID) }}
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('HouseholdInformation.Household.members')}">
            <div class="error-message"
              v-if="errors.has('HouseholdInformation.Household.members')">v{ errors.first('HouseholdInformation.Household.members') }</div>
            <input name="Household.members" pattern="\d*" value="1" required
              data-type="integer"
              data-object="household"
              data-key="members"
              data-js="calc-input"
              data-js-regex="^[1-8]{1}$"
              data-vv-as="household members"
              data-vv-scope="HouseholdInformation"
              v-validate="{required: true, min: 1, max_value: 8, min_value: 1, regex: '^[1-8]{1}$'}"
              v-bind:value="people.length"
              v-on:change="populate">
          </div>
        </div>

        <div>
          <label class="{{styles.labels}}">
            {{ __('Are you the head of household?', translationID) }}
          </label>

          <h4 class="{{styles.explainations}}">{{ __('What does the head of household mean?', translationID) }}</h4>
          <p>{{ __('The head of household is the person who can represent everyone in your family and pays most of the family’s expenses. If you pay more than half the cost for your home this year, you are the head of household.', translationID) }}</p>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('Person[0].headOfHousehold', 'HeadOfHousehold')}">
            <div class="error-message"
              v-if="errors.has('Person[0].headOfHousehold', 'HeadOfHousehold')">{{ __('At least one head of household is required.', translationID) }}</div>
            <div class="screener-radio-buttons">
              <label class="screener-radio screener-label">
                <input class="screener-radio-input sr-only" type="radio" name="Person[0].headOfHousehold" value="true"
                  data-object="people"
                  data-index="0"
                  data-key="headOfHousehold"
                  data-type="boolean"
                  data-vv-delay="1000"
                  data-vv-scope="HeadOfHousehold"
                  v-validate="{hoh: true}"
                  v-bind:checked="people[0]._attrs.headOfHousehold"
                  v-on:change="setAllAttr($event, false); setAttr($event, true); setAttr($event, '', 'headOfHouseholdRelation'); validate($event)">
                <span class="screener-radio-label">{{ __('Yes', translationID) }}</span>
              </label>
              <label class="screener-radio screener-label">
                <input class="screener-radio-input sr-only" type="radio" name="Person[0].headOfHousehold" value="false"
                  data-object="people"
                  data-index="0"
                  data-key="headOfHousehold"
                  data-type="boolean"
                  data-vv-scope="HeadOfHousehold"
                  v-bind:checked="!people[0]._attrs.headOfHousehold"
                  v-on:change="setAttr($event, false); validate($event)">
                <span class="screener-radio-label">{{ __('No', translationID) }}</span>
              </label>
            </div>
          </div>
        </div>

        <div v-if="!people[0]._attrs.headOfHousehold" class="m-top-2">
          <label class="{{styles.labels}}" for="hoh-relation">
            {{ __('What is your relationship to the head of the household? I am their:', translationID) }}
            <span class="c-red">*</span>
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('HouseholdInformation.Person[0].headOfHouseholdRelation')}">
            <div class="error-message" v-if="errors.has('HouseholdInformation.Person[0].headOfHouseholdRelation')">
              {{ __('Please select a your relationship to the head of household.', translationID) }}
            </div>
            <select class="screener-select" name="Person[0].headOfHouseholdRelation" required
              data-vv-as="head of household relation"
              data-vv-scope="HouseholdInformation"
              v-model="people[0]._attrs.headOfHouseholdRelation"
              v-validate="{required: true}">
              {% for option in headOfHouseholdRelationOptions %}
              <option value="{{ option.value }}">
                {{ __(option.text, translationID) }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>

      </div>

    </div>

  </div>

</fieldset>
