<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-client-basics">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" href="#question-client-basics" data-js="question">
        {{ __('Client Basics', translationID) }}
        <svg class="{{styles.warning}}" role="img" aria-label="{{ __('Some required fields are not filled out', translationID) }}"
          v-if="errors.all('ClientBasics').length > 0">
          <title>{{ __('Some required fields are not filled out', translationID) }}</title>
          <use xlink:href="#icon-warning"></use>
        </svg>
      </a>

      <div class="js-toggle-question hidden p-horizontal-2 p-bottom-2 hidden">

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-0-first">
            {{ __('First Name', translationID) }} <span class="c-red">*</span>
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('ClientBasics.Client[0].firstName')}">
            <div class="error-message"
              v-if="errors.has('ClientBasics.Client[0].firstName')">v{ errors.first('ClientBasics.Client[0].firstName') }</div>
            <input id="client-0-first-name" name="Client[0].firstName" value="" required
              data-vv-as="client's first name"
              data-vv-scope="ClientBasics"
              v-validate="{required: true}"
              v-model="client._attrs.firstName">
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-0-last">
            {{ __('Last Name', translationID) }} <span class="c-red">*</span>
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('ClientBasics.Client[0].lastName')}">
            <div class="error-message"
              v-if="errors.has('ClientBasics.Client[0].lastName')">v{ errors.first('ClientBasics.Client[0].lastName') }</div>
            <input id="client-0-last-name" name="Client[0].lastName" value="" required
              data-vv-as="client's last name"
              data-vv-scope="ClientBasics"
              v-validate="{required: true}"
              v-model="client._attrs.lastName">
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-age">
            {{ __('How old are you?', translationID) }} <span class="c-red">*</span>
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('ClientBasics.Person[0].age')}">
            <div class="error-message"
              v-if="errors.has('ClientBasics.Person[0].age')">v{ errors.first('ClientBasics.Person[0].age') }</div>
            <input id="person-0-age" name="Person[0].age" type="number" value="" min="0" maxlength="3" pattern="[0-9]" step="1" required
              data-type="integer"
              data-object="people"
              data-key="age"
              data-index="0"
              data-vv-as="age"
              data-vv-scope="ClientBasics"
              v-validate="{required: true, max: 3, min: 0, regex: '[0-9]', numeric: true}"
              v-on:change="setAttr">
          </div>
        </div>

        <div>
          <label class="{{styles.labels}}" for="household-zip">
            {{ __('Zip code?', translationID) }}
            <span class="c-red">*</span>
          </label>
          <div class="screener-question-container"
            v-bind:class="{'error': errors.has('ClientBasics.Household.zip')}">
            <div class="error-message"
              v-if="errors.has('ClientBasics.Household.zip')">v{ errors.first('ClientBasics.Household.zip') }</div>
            <input id="household-zip" name="Household.zip" type="number" maxlength="5" pattern="[0-9]" required
              data-type="zip"
              data-vv-as="zip code"
              data-vv-scope="ClientBasics"
              v-validate="{required: true, max: 5, regex: '[0-9]', numeric: true, zip: true}"
              v-model="household._attrs.zip">
          </div>
        </div>

      </div>

    </div>

  </div>

</fieldset>{# /#step-3 #}
