<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-household-total-savings">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-household-total-savings">
        {{ __('Household Total Savings', 'accessnyc-screener') }}
        <svg class="{{styles.warning}}" role="img" aria-label="{{ __('Some fields are invalid', 'accessnyc-screener') }}"
          v-if="errors.all('HouseholdTotalSavings').length > 0">
          <title>{{ __('Some fields are invalid', 'accessnyc-screener') }}</title>
          <use xlink:href="#icon-warning"></use>
        </svg>
      </a>

      <div class="js-toggle-question p-horizontal-2 p-bottom-2 hidden">

        <label class="{{styles.labels}}">
          <span v-if="singleOccupant()">
            {{ __('How much do you have total in savings?', 'accessnyc-screener') }}
          </span>
          <span v-else>
            {{ __('How much does your whole household have in total savings?', 'accessnyc-screener') }}
          </span>
        </label>

        <h4 class="{{styles.explainations}}">{{ __('What are examples of savings?', 'accessnyc-screener') }}</h4>
        <p>{{ __('Savings can mean cash on hand, checking or savings accounts, or stocks, bonds and mutual funds', 'accessnyc-screener') }}</p>

        <div class="screener-question-container"
          v-bind:class="{'error': errors.has('Household.cashOnHand', 'HouseholdTotalSavings')}">
          <div class="error-message"
            v-if="errors.has('Household.cashOnHand', 'HouseholdTotalSavings')">
              v{ errors.first('Household.cashOnHand', 'HouseholdTotalSavings') }
          </div>
          <div class="currency-usd">
            <input name="Household.cashOnHand" type="text" pattern="\d*"
              data-type="float"
              data-object="household"
              data-key="cashOnHand"
              data-js="calc-input,format-dollars"
              data-js-regex="^([0-9]{1,6})(\.[0-9]{0,2})?$"
              data-vv-scope="HouseholdTotalSavings"
              data-vv-as="{{ __('Total Savings', 'accessnyc-screener') }}"
              v-on:change="setAttr"
              v-validate="{regex: '^([0-9]{1,6})(\.[0-9]{0,2})?$', max: 9, decimal: 2}">
          </div>
        </div>
      </div>

    </div>

  </div>

</fieldset>{# /#step-10 #}
