{% set categoriesCurrent = [
  {value: 'snap', text: 'SNAP'},
  {value: 'wic', text: 'Women, Infants, and Children (WIC)'},
  {value: 'cash-assistance', text: 'Cash Assistance'},
  {value: 'medicaid', text: 'Medicaid'},
  {value: 'disability', text: 'Disability-related Medicaid'},
  {value: 'cityfeps', text: 'CITYFEPS (Family Eviction Prevention Supplement)'},
  {value: 'dhe', text: 'DHE (Disabled Homeowners’ Exemption)'},
  {value: 'drie', text: 'DRIE (Disability Rent Increase Exemption)'},
  {value: 'hasa', text: 'HASA (HIV/AIDS Services)'},
  {value: 'hud-vash', text: 'HUD-VASH (HUD-Veterans Affairs Supportive Housing)'},
  {value: 'linc', text: 'LINC (Living in Communities Rental Assistance)'},
  {value: 'nycha', text: 'NYCHA (NYC Housing Authority Housing)'},
  {value: 'pension', text: 'Pension'},
  {value: 'sche', text: 'SCHE (Senior Citizen Homeowners’ Exemption)'},
  {value: 'scrie', text: 'SCRIE (Senior Citizen Rent Increase Exemption)'},
  {value: 'section-8', text: 'Section 8'},
  {value: 'seps', text: 'SEPS (Special Exit and Prevention Supplement)'},
  {value: 'social-security', text: 'Social Security'},
  {value: 'ssdi', text: 'SSDI (Social Security Disability Income)'},
  {value: 'ssi', text: 'SSI (Supplemental Security Income)'},
  {value: 'state-feps', text: 'State FEPS (Family Eviction Prevention Supplement)'},
  {value: 'tbra', text: 'TBRA (Tenant-Based Rental Assistance)'}
] %}

<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-client-needs">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-client-needs">
        {{ __('Client Needs', 'accessnyc-screener') }}
      </a>

      <div class="js-toggle-question p-horizontal-2 p-bottom-2 hidden">

        <div>
          <label class="{{styles.labels}}">
            {{ __('What kind of help are you looking for?', 'accessnyc-screener') }}
          </label>
          <h4 class="{{styles.explainations}}">{{ __('So how does this work?', 'accessnyc-screener') }}</h4>
          <p>{{ __('We\'ll be asking you about yourself and your household to find benefits and programs that you may be interested in. It usually takes about 10 minutes to answer all of the questions. The more we learn about you, the more accurate your screening results will be.', 'accessnyc-screener') }}</p>
          <div class="screener-checkboxes screener-categories m-top-2">
            {% for category in categories %}
            {% if language_code != 'en' %}
              {% set langLength = (language_code | length + 1) * -1 %}
              {% set catSlug = category.slug | slice(0, langLength) %}
            {% else %}
              {% set catSlug = category.slug %}
            {% endif %}
            <label class="screener-checkbox styled-checkbox screener-checkboxes-program screener-label">
              <input class="js-screener-validate-step-ui" type="checkbox" name="category" value="{{ category.slug }}"
                data-object="categories"
                v-on:change="push">
              <span class="styled-checkbox-label">
                <div class="program-category">
                  <div class="program-icon">
                    <span class="icon">
                      <svg class="icon icon-{{ catSlug }}">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ catSlug }}"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="program-card-body">{{ category.name }}</div>
                </div>
              </span>
            </label>
            {% endfor %}
          </div>
        </div>

      </div>

    </div>

  </div>

</fieldset>{# /#step-1 #}
