<nav class="o-footer__nav print:hidden">
  <ul class="o-footer__nav-list px-3">
    <li class="o-footer__column-first">
      <div class="type-h3 text-blue-dark">{{ footer_get_help_now_menu.name }}</div>
      <ul>
      {% for m in footer_get_help_now_menu.get_items %}
        <li>
          <a href="{{ m.link }}"
            {% if m.attr_title %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
            {% if m.target %}target="{{ m.target }}"{% endif %}
            {% if m.xfn %}rel="{{ m.xfn }}"{% endif %}>
            {{ m.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
      <div class="type-h3 text-blue-dark">{{ footer_for_caseworkers_menu.name }}</div>
      <ul>
        {% for m in footer_for_caseworkers_menu.get_items %}
          <li>
            <a href="{{ m.link }}"
              {% if m.attr_title %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
              {% if m.target %}target="{{ m.target }}"{% endif %}
              {% if m.xfn %}rel="{{ m.xfn }}"{% endif %}>
              {{ m.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <li class="o-footer__column-middle">
      <div class="type-h3 text-blue-dark">{{ footer_programs_menu.name }}</div>
      <ul class="screen-tablet:layout-columns-gutter screen-desktop:layout-rows">
        {% for m in footer_programs_menu.get_items %}
          <li>
            <a href="{{ m.link }}"
              {% if m.attr_title %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
              {% if m.target %}target="{{ m.target }}"{% endif %}
              {% if m.xfn %}rel="{{ m.xfn }}"{% endif %}>
              {{ m.title }}
            </a>
          </li>
        {% endfor %}
        <li aria-hidden="true"></li>
      </ul>
    </li>
    <li class="o-footer__column-last">
      <div class="type-h3 text-blue-dark">
        <span class="sr-only">{{ footer_about_access_nyc_menu.name }}</span>

        <svg class="icon icon-logo-full">
          <use xlink:href="#icon-logo-full"></use>
        </svg>
      </div>

      <ul>
        {% for m in footer_about_access_nyc_menu.get_items %}
          <li>
            <a href="{{ m.link }}"
              {% if m.attr_title %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
              {% if m.target %}target="{{ m.target }}"{% endif %}
              {% if m.xfn %}rel="{{ m.xfn }}"{% endif %}>
              {{ m.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>