<div class="mb-4 p-3 screen-desktop:p-4 bg-color-white" data-js="newsletter">
  <div class="type-h3">{{ __('Get Updates', 'accessnyctheme') }}</div>
  <form action="https://nyc.us18.list-manage.com/subscribe/post?u=d04b7b607bddbd338b416fa89&amp;id=98ff3f3900" id="mc-embedded-subscribe-form" method="post" novalidate="true" target="_blank">
    <div class="c-question">
      <label class="c-question__label">{{ __('Receive benefits news and reminders about upcoming open enrollment periods.', 'accessnyctheme') }}</label>
      <div class="c-question__container">
        <input class="w-full" name="EMAIL" placeholder="{{ __('Email address', 'accessnyctheme') }}" required="true" type="email" />
      </div>
    </div>
    <div class="c-question mt-3">
      <fieldset class="c-question">
        <legend class="c-question__label">{{ __('Which borough(s) would you like to recieve updates for?', 'accessnyctheme') }}</legend>
        <div class="c-question__container screen-tablet:layout--columns" data-js-join-values="input[name='BOROUGH']">
          {% set values = [
            {
              'id': 'BOROUGH.Bronx',
              'name': 'BOROUGH.Bronx',
              'value': 'Bronx',
              'label': 'Bronx'
            },
            {
              'id': 'BOROUGH.Staten Island',
              'name': 'BOROUGH.Staten Island',
              'value': 'Staten Island',
              'label': 'Staten Island'
            },
            {
              'id': 'BOROUGH.Queens',
              'name': 'BOROUGH.Queens',
              'value': 'Queens',
              'label': 'Queens'
            },
            {
              'id': 'BOROUGH.Brooklyn',
              'name': 'BOROUGH.Brooklyn',
              'value': 'Brooklyn',
              'label': 'Brooklyn'
            },
            {
              'id': 'BOROUGH.Manhattan',
              'name': 'BOROUGH.Manhattan',
              'value': 'Manhattan',
              'label': 'Manhattan'
            }
          ] %}

          {% for value in values %}
          {% include 'views/elements/checkbox.twig' with value only %}
          {% endfor %}
        </div>
        <input aria-hidden="true" name="BOROUGH" readonly="true" tabindex="-1" type="hidden" />
      </fieldset>
    </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
      <input name="b_d04b7b607bddbd338b416fa89_98ff3f3900" tabindex="-1" type="text" value="" />
    </div>
    <button class="btn-primary btn-small" type="submit">{{ __('Sign Up', 'accessnyctheme') }}</button>
    <article aria-hidden="true" class="c-alert-box bg-status-warning mt-3 text-font-size-small hidden" data-js-newsletter="alert-box-warning">
      <div class="c-alert-box__icon">
        <div class="c-alert-box__svg bg-icon-warning"></div>
      </div>
      <div class="c-alert-box__body" data-js-newsletter="alert-box__text"></div>
    </article>
    <article aria-hidden="true" class="c-alert-box bg-status-success mt-3 text-font-size-small hidden" data-js-newsletter="alert-box-success">
      <div class="c-alert-box__icon">
        <div class="c-alert-box__svg bg-icon-success"></div>
      </div>
      <div class="c-alert-box__body" data-js-newsletter="alert-box__text"></div>
    </article>
  </form>
</div>