<div data-js="newsletter">
  <form action="https://nyc.us18.list-manage.com/subscribe/post?u={{ this.mailchimp_account }}&id={{ this.mailchimp_audience_id }}" method="post" id="{{ this.id }}" name="{{ this.id }}" novalidate target="_blank">
    <div class="c-question">
      <p class="c-question__label">{{ __('Get occasional emails about benefits news, upcoming enrollment periods, and deadlines. Translations are available in 11 languages.', 'accessnyctheme') }}</p>

      <label class="sr-only" for="mce-email-{{ this.id }}">{{ __('Email address', 'accessnyctheme') }}</label>

      <div class="c-question__container">
        <input id="mce-email-{{ this.id }}" class="w-full" name="EMAIL" placeholder="{{ __('Email address', 'accessnyctheme') }}" required="true" type="email" />
      </div>
    </div>

    <div aria-hidden="true" class="sr-only">
      <input name="b_d04b7b607bddbd338b416fa89_98ff3f3900" tabindex="-1" type="text" value="" />
    </div>

    <button class="btn-tertiary" type="submit">
      {{ __('Sign Up', 'accessnyctheme') }}
    </button>

    <article style="color: initial;" aria-hidden="true" class="c-alert-box bg-status-warning mt-3 hidden {% if this.classes.alert %}{{ this.classes.alert }}{% endif %}" data-js="alert-warning">
      <div class="c-alert-box__icon" aria-hidden="true">
        <svg class="c-alert-box__svg icon-4">
          <use xlink:href="#icon-warning"></use>
        </svg>
      </div>

      <div class="c-alert-box__body" data-js-alert="text"></div>
    </article>

    <article style="color: initial;" aria-hidden="true" class="c-alert-box bg-status-success mt-3 hidden {% if this.classes.alert %}{{ this.classes.alert }}{% endif %}" data-js="alert-success">
      <div class="c-alert-box__icon" aria-hidden="true">
        <svg class="c-alert-box__svg icon-4">
          <use xlink:href="#icon-success"></use>
        </svg>
      </div>

      <div class="c-alert-box__body" data-js-alert="text"></div>
    </article>
  </form>
</div>
