<div class="o-search-box z-30 color-mid-background print:hidden" id="search" aria-hidden="true">
  <div class="o-search-box__inner">
    <div class="wrap">
      <div class="usa-width-one-whole">
        <a class="o-search-box__close" href="#content" data-js="o-search-box track" data-track-key="Main Nav" data-track-data='[{"action": "search/close"}]'>
          <svg class="icon-ui icon-3">
            <use xlink:href="#icon-ui-x"></use>
          </svg><span class="sr-only">{{ __('Close search', 'accessnyctheme') }}</span>
        </a>

        <form class="o-search-box__form" method="get" action="/">
          {{ fn('do_action', 'wpml_add_language_form_field' ) }}

          <div class="input-search">
            <input 
              {# prevents submitting form if input is empty. 
              the oninvalid function prevents a tooltip from showing up if validation fails, and the oninput function resets the validation method
              when the user starts typing #}
              required oninvalid="this.setCustomValidity(' ')" oninput="this.setCustomValidity('')" 
              name="s" type="text" value="" placeholder="{{ __('Search for programs or services', 'accessnyctheme') }}" id="search-field">
            <button class="btn-text input-search__submit" type="submit">
              <svg class="icon icon-ui-search">
                <use xlink:href="#icon-ui-search"></use>
              </svg><span class="sr-only">{{ __('Submit', 'accessnyctheme') }}</span>
            </button>
          </div>
        </form>

        {# Search links is a post type. The specified field is an array of suggested search links. #}
        {% if search_links and search_links|length > 0 and search_links[0].get_field('field_67c8c3c358f5a')|length > 0 %}
          <div class="o-search-box__suggestions">
            <div>
              <h4>{{ __('Popular searches', 'accessnyctheme') }}</h4>
            </div>

            <div class="o-search-box__suggestions-body flex flex-wrap">
              {% for link in search_links[0].get_field('field_67c8c3c358f5a') %} {# search suggestions #}
                <a class="px-3 py-2 bg-white rounded-full mr-2 mb-2 text-blue-dark no-underline flex items-center flex-nowrap" style="font-size: 18px" href="{{ link['search_suggestion']['url'] }}">
                  <svg class="icon icon-ui icon-2 mr-2" aria-hidden="true">
                    <use xlink:href="#icon-ui-search"></use>
                  </svg>
                  {{ link['search_suggestion']['title'] }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>