<div class="o-text-controller text-end print:hidden" data-js="text-controller">
  {% apply spaceless %}
  <button type="button" class="o-text-controller__control btn-link" aria-controls="aria-c-text-controller__options" aria-expanded="false" data-js="text-controller__control track" data-track-key="Text Controls" data-track-data='[{"action": "text-controls"}]'>
    <svg class="o-text-controller__icon o-text-controller__icon-full icon-ui icon-3 hidden screen-desktop:inline-block" aria-hidden="true">
      <use xlink:href="#icon-ui-settings"></use>
    </svg>

    <svg class="o-text-controller__icon o-text-controller__icon-short icon-ui icon-3 text-blue screen-desktop:hidden" aria-hidden="true">
      <use xlink:href="#icon-ui-translate"></use>
    </svg>

    <span class="o-text-controller__title-full">{{ __('Translate Text', 'accessnyctheme') }}</span>
    <span class="o-text-controller__title-short">{{ __('Translate Text', 'accessnyctheme') }}</span>
  </button>

  {% endapply %}
  <div id="aria-c-text-controller__options" class="o-text-controller__options hidden" aria-hidden="true">
    <div class="notranslate o-text-controller__languages screen-tablet:flex screen-tablet:justify-end">
      {% do action('wpml_language_switcher') %}

      {% if google_translate_languages and google_translate_element %}
      <div id="js-google-translate" class="hidden" aria-hidden="true"></div>
      <label class="flex flex-col ms-2 screen-desktop:mb-2" for="js-google-translate-control">
        <div class="flex items-center mb-1">
          <svg class="icon-ui-translate icon-3 text-blue" aria-hidden="true">
            <use xlink:href="#icon-ui-translate"></use>
          </svg>&nbsp;<select id="js-google-translate-control"
            name="js-google-translate-control"
            class="btn btn-link font-normal" style="line-height: initial; min-width: auto;">
            <option value="restore" selected="true" disabled="true">Select a Language</option>

            {% for lang in google_translate_languages %}
            <option value="{{ lang.code }}">{{ lang.native_name }}</option>
            {% endfor %}
          </select>
        </div>

        <svg class="text-grey-mid" width="175" height="16" role="img">
          <title id="icon-logo-google-translate-title">Powered by Google Translate</title>
          <use xlink:href="#icon-logo-google-translate"></use>
        </svg>
      </label>
      {% endif %}
    </div>

    {% if google_translate_element %}
    <script type="text/javascript" nonce="{{ csp_script_nonce }}">
      /**
       * Localize stylesheets to the window
       */
      window.STYLESHEETS = {{ stylesheets|json_encode() }}

      /**
       * Callback for the Google Translate Widget
       */
      window.googleTranslateInit = function() {
        new google.translate.TranslateElement({
          pageLanguage: '{{ language_code }}',
          includedLanguages: '{{ google_translate_languages|map(l => l.code)|join(",") }}',
          autoDisplay: false
        }, 'js-google-translate');
      }
    </script>
    {% endif %}

  </div>
</div>