{% extends "base.twig" %}

{% block content %}
<main class="color-light-background" id="content">
  {% if post.alerts %}
  <div class="p-2 screen-tablet:p-3">
    {% for alert in post.alerts %}
      {% set class = loop.last ? '' : 'mb-2 screen-tablet:mb-3' %}

      {% include 'components/alert.twig' with {this: alert, class: class} only %}
    {% endfor %}
  </div>
  {% endif %}

  <div class="js-map layout-map screen-desktop:layout-sidebar " data-js="google-maps-embed" data-source="/wp-json/api/v1/locations/" data-key="{{ function('constant', 'GOOGLE_MAPS_EMBED') }}">
    <div class="js-map-controls layout-map__sidebar">
      <input type="text" class="w-full js-map-searchbox truncate" placeholder="{{ __('Enter an address or zip code', 'accessnyc-locations')}}">

      <div class="map-filter-container js-map-filter">
        <a href="#map-filter-settings" class="map-filter-header btn btn-toggle btn-primary btn-small rounded-none w-full js-toggle-filter js-main-filter-toggle">
          <span class="map-filter-header-label">{{__('Select a type of help', 'accessnyc-locations')}}</span>
        </a>

        <div id="map-filter-settings" class="c-filter-multi hidden:overflow animated hidden" aria-hidden="true">
          <ul class="c-filter-multi__list px-3">
            {% for filter in filters %}
            <li class="c-filter-multi__item">
              <div class="c-filter-multi__item-header">
                <label class="checkbox">
                  <input type="checkbox" data-toggles="#program-{{ filter.category.slug }}" class="js-map-filter-parent-input" tabindex="-1">
                  <span class="checkbox__label">{{ filter.category.name }}</span>
                </label>

                <a href="#program-{{ filter.category.slug }}" class="c-filter-multi__item-header-toggle js-toggle-filter"  tabindex="-1">
                  <span class="sr-only map-filter-expand">{{__('Expand category', 'accessnyc-locations')}}</span>
                  <span class="sr-only map-filter-collapse">{{__('Collapse category', 'accessnyc-locations')}}</span>
                </a>
              </div>

              <div id="program-{{ filter.category.slug }}" class="c-filter-multi__item-group js-map-filter-program-group" aria-hidden="true">
                <ul class="c-filter-multi__item-group-list">
                  {% for program in filter.programs %}
                  <li class="c-filter-multi__item-group-subitem">
                    <label class="checkbox">
                      <input type="checkbox" value="{{ program.uid }}" class="js-map-filter-program-input" tabindex="-1">
                      <span class="checkbox__label text-small font-normal">{{ program.program_name }}</span>
                    </label>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="js-map-results-container">
        <div class="border-t border-grey-light">
          <ul class="js-map-results p-0 m-0"></ul>

          <p class="p-4 m-0 flex items-center justify-center hidden" data-js="message-loading" aria-hidden="true">
            {% include 'partials/spinner.twig' with {this: {class: 'icon-4 block text-yellow-access'}} only %}
            &nbsp;&nbsp;
            {{ __('Loading&hellip;', 'accessnyc-locations') }}
          </p>

          <p class="p-4 m-0 text-center hidden" data-js="message-no-results" aria-hidden="true">
            {{ __('No results.', 'accessnyc-locations') }}
          </p>
        </div>
      </div>
      <div class="js-map-pagination"> </div>
    </div>

    <div class="js-map-mapbox layout-map__map"></div>
  </div>

  <div class="sticky bottom-0 pointer-events-none z-10">
    {% if alert_sitewide %}
    {% include 'objects/alert-banner.twig' with {this: alert_sitewide, active: true} only %}
    {% endif %}
  </div>
</main>
{% endblock %}

{% block scripts_footer %}
{% set strings = [] %}
{% for filter in filters %}
  {% for program in filter.programs %}
    {% set strings = strings|merge([{
      'label': program.post_title,
      'slug': program.uid
    }]) %}
  {% endfor %}
{% endfor %}

{% include 'partials/strings.twig' with {
  'csp_script_nonce': csp_script_nonce,
  'strings': strings
} only %}

{% include 'partials/strings.twig' with {
  'translation_id': 'accessnyc-locations',
  'csp_script_nonce': csp_script_nonce,
  'strings': [
    {
      'label': 'Government Office',
      'slug': 'GOVERNMENT_OFFICE'
    }
  ]
} only %}

<script type="text/javascript" nonce="{{ csp_script_nonce }}">
  {% include 'jst/locations/template-card-map.js' %}
</script>

<script type="text/javascript" nonce="{{ csp_script_nonce }}">
  {% include 'jst/locations/template-pagination.js' %}
</script>
{% endblock %}
