<a href="{{ url_base }}/eligibility#step-1" {% if this.style %}class="{{ this.style }}"{% endif %} data-js="track" data-track-key="Main Nav" data-track-data='[{"action": "eligibility#step-1"}]'>{{ __('Am I eligible?', 'accessnyctheme') }}</a>
<a href="{{ url_base }}/programs" {% if this.style %}class="{{ this.style }}"{% endif %} data-js="track" data-track-key="Main Nav" data-track-data='[{"action": "programs"}]'>{{ __('Programs', 'accessnyctheme') }}</a>
<a href="{{ url_base }}/locations" {% if this.style %}class="{{ this.style }}"{% endif %} data-js="track" data-track-key="Main Nav" data-track-data='[{"action": "locations"}]'>{{ __('Find help', 'accessnyctheme') }}</a>
