<li><a href="{{ urlBase }}/eligibility">{{__('Am I eligible?', 'accessnyctheme')}}</a></li>
<li><a href="{{ urlBase }}/programs">{{__('Programs', 'accessnyctheme')}}</a></li>
<li><a href="{{ urlBase }}/locations">{{__('Find help', 'accessnyctheme')}}</a></li>
