<a href="{{ urlBase }}/eligibility">{{__('Am I eligible?', 'accessnyctheme')}}</a>
<a href="{{ urlBase }}/programs">{{__('Programs', 'accessnyctheme')}}</a>
<a href="{{ urlBase }}/locations">{{__('Find help', 'accessnyctheme')}}</a>
