{% if pagination.pages | length %}
  <h4 class="text-end">{{__('See more results:', 'accessnyctheme')}}</h4>
  <nav class="text-end">
    {% if pagination.prev %}
    <a class="btn btn-secondary btn-small screen-tablet:btn btn-previous mb-1 screen-mobile:mb-0" href="{{pagination.prev.link}}">{{__('Previous', 'accessnyctheme')}}</a>
    {% endif %}

    {% if pagination.next %}
    <a class="btn btn-secondary btn-small screen-tablet:btn btn-next mb-1 screen-mobile:mb-0" href="{{pagination.next.link}}">{{__('Next', 'accessnyctheme')}}</a>
    {% endif %}
  </nav>
{% endif %}
