<!DOCTYPE html>
<html lang="{{ language_code }}" dir="{{ direction }}" {% if is_print %}class="print-view"{% endif %}>
  <head>
    {% block html_head_container %}
      {% include 'partials/html-header.twig' %}

      {% block head %}
      <meta name="theme-color" content="#FFFFFF">
      <link rel="manifest" href="{{ theme.path }}/manifest.960190a2.json">
      {% endblock %}

      {% block scripts_head %}{% endblock %}
    {% endblock %}
  </head>

  <body data-template="base.twig" class="{% set _bodyClass = block('body_class') %}{% if _bodyClass %} {{ _bodyClass|trim }}{% endif %}">
    {{ function('wp_body_open') }}

    <div class="page-wrapper">
      <a class="sr-only sr-only-focusable" href="#content">{{ __('Skip to main content', 'accessnyctheme') }}</a>
      {% block header %}
        <header class="overflow-hidden">
          <div class="color-mid-background flex justify-between py-1 px-3 print:block">
            {% spaceless %}
            <div class="flex-none">
              <svg class="icon icon-logo-nyc">
                <use xlink:href="#icon-logo-nyc"></use>
              </svg>
              <span class="text-font-size-xsmall px-1 text-grey-mid hidden screen-desktop:inline-block">{{ __('Official website of the City of New York', 'accessnyctheme') }}</span>
            </div>
            {% endspaceless %}

            {% include 'objects/text-controller.twig' %}
          </div>

          {% include 'objects/navigation.twig' %}
        </header>

        {% include 'objects/mobile-nav.twig' %}

        <div class='relative'>
          {% include 'objects/search-box.twig' %}
        </div>
      {% endblock %}

      {% block content %}{% endblock %}

      {% block footer %}
        <footer class="o-footer color-mid-background">
          {% include 'objects/footer.twig' %}
        </footer>
      {% endblock %}

      {% if alert_sitewide %}
      {% include 'objects/alert-banner.twig' with {this: alert_sitewide, active: true} only %}
      {% endif %}
    </div>

    {% block scripts_footer %}{% endblock %}

    {% include 'partials/strings-newsletter.twig' %}

    {{ wp_footer }}
  </body>
</html>
