{% extends 'base.twig' %}
{% block content %}
  {% set programResultTotal = selectedPrograms | length + additionalPrograms | length %}
  <main class="main-content" id="content">
    <div class="screener-results-header usa-grid">
      <div class="screener-results-icon hide-for-print">
        <svg class="icon icon-success">
          <use xlink:href="#icon-success"></use>
        </svg>
      </div>
      <div class="screener-results-text">
        {% spaceless %}
          <h1 class="screener-results-heading">
            {% if programResultTotal == 0 %}
              {{__('There are no programs for you to look at.', 'accessnyc-results')}}
            {% elseif programResultTotal == 1 %}
              {{ programResultTotal }} {{__('program for you to look at.', 'accessnyc-results')}}
            {% else %}
              {{ programResultTotal }} {{__('programs for you to look at.', 'accessnyc-results')}}
            {% endif %}
          <p>{{__('Remember that we can’t guarantee eligibility, but can only recommend programs for you to consider.', 'accessnyc-results')}}</p>
        {% endspaceless %}
      </div>
    </div>
    <div class="usa-grid program-landing-body">
      <aside>
        <div class="save-your-results">
          <h4>{{__('Save your results.', 'accessnyc-results')}}</h4>
          <a class="btn btn-primary" href="javascript:window.print()">{{__('Print', 'accessnyc-results')}}</a>

          {# Commenting out SMS share functionality until Twilio is set up. #}
          <a class="btn btn-primary share-toggle js-simple-toggle" href="#share-by-sms">{{__('Text', 'accessnyc-results')}}</a>
          <div id="share-by-sms" class="share-form hidden">
            <form method="post" action="{{ shareAction }}" class="js-share-form" novalidate><input type="hidden" name="action" value="sms_send">
              <input type="hidden" name="url" value="{{ shareUrl }}">
              <input type="hidden" name="hash" value="{{ shareHash }}">
              <input type="hidden" name="GUID" value="{{ getParams.guid }}">
              <div class="share-form-controls">
                <input type="tel" name="to" placeholder="{{__('Phone Number', 'accessnyc-results')}}">
                <button type="submit" class="btn btn-primary btn-small btn-submit">{{__('Send', 'accessnyc-results')}}</button>
                <div class="success-message">{{__('Sent!', 'accessnyc-results')}}</div>
              </div>
            </form>
          </div>

          <a class="btn btn-primary share-toggle js-simple-toggle" href="#share-by-email">{{__('Email', 'accessnyc-results')}}</a>
          <div id="share-by-email" class="share-form hidden">
            <form method="post" action="{{ shareAction }}" class="js-share-form" novalidate>
              <input type="hidden" name="action" value="email_send">
              <input type="hidden" name="url" value="{{ shareUrl }}">
              <input type="hidden" name="hash" value="{{ shareHash }}">
              <input type="hidden" name="GUID" value="{{ getParams.guid }}">
              <div class="share-form-controls">
                <input type="email" name="to" placeholder="{{__('Email address', 'accessnyc-results')}}" required>
                <button type="submit" class="btn btn-primary btn-small btn-submit">{{__('Send', 'accessnyc-results')}}</button>
                <div class="success-message">{{__('Sent!', 'accessnyc-results')}}</div>
              </div>
            </form>
          </div>
        </div>
      </aside>
      <div class="content-body">
        {% if selectedPrograms | length %}
          <div class="screener-qualified-programs selected-programs">
            <h3 class="screener-qualified-programs-heading">{{__('These are programs for you in the categories you selected.', 'accessnyc-results')}}</h3>
            <div class="program-cards">
              {% for post in selectedPrograms %}
                {% include 'partials/post-teaser-block.twig' with {'show_apply': true } %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if additionalPrograms | length %}
          <div class="screener-qualified-programs other-programs">
            <h3 class="screener-other-qualified-programs-heading">
              {% if additionalPrograms | length == 1 %}
                {{ additionalPrograms | length }} {{__('additional program.', 'accessnyc-results')}}
              {% else %}
                {{ additionalPrograms | length }} {{__('additional programs.', 'accessnyc-results')}}
              {% endif %}
            </h3>
            <div class="program-cards">
              {% for post in additionalPrograms %}
                {% include 'partials/post-teaser-block.twig' with {'show_apply': true } %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </main>
  {% include 'partials/localized-strings-share.twig' %}
{% endblock %}
