{% extends 'base.twig' %}
{% block content %}
  {% set programResultTotal = selectedPrograms | length + additionalPrograms | length %}
  <main class="main-content" id="content">
    <div class="screener-results-header usa-grid">
      <div class="screener-results-icon hide-for-print">
        <svg class="icon icon-success">
          <use xlink:href="#icon-success"></use>
        </svg>
      </div>
      <div class="screener-results-text">
        {% spaceless %}
          <h1 class="screener-results-heading">
            {% if programResultTotal == 0 %}
              {{__('There are no programs for you to look at.', 'accessnyc-results')}}
            {% elseif programResultTotal == 1 %}
              {{ programResultTotal }} {{__('program for you to look at.', 'accessnyc-results')}}
            {% else %}
              {{ programResultTotal }} {{__('programs for you to look at.', 'accessnyc-results')}}
            {% endif %}
          <p>{{__('Remember that we can’t guarantee eligibility, but can only recommend programs for you to consider.', 'accessnyc-results')}}</p>
        {% endspaceless %}
      </div>
    </div>
    <div class="usa-grid program-landing-body">
      <aside>
        <div class="save-your-results">
          <h4>{{__('Save your results.', 'accessnyc-results')}}</h4>
          <a class="btn btn-primary" href="javascript:window.print()">{{__('Print', 'accessnyc-results')}}</a>

          <a class="btn btn-primary share-toggle js-simple-toggle js-show-disclaimer" href="#share-by-sms">{{__('Text', 'accessnyc-results')}}</a>
          <div id="share-by-sms" class="share-form hidden">
            <form method="post" action="{{ shareAction }}" class="js-share-form" novalidate><input type="hidden" name="action" value="sms_send">
              <input type="hidden" name="url" value="{{ shareUrl }}" readonly>
              <input type="hidden" name="hash" value="{{ shareHash }}" readonly>
              <input type="hidden" name="GUID" value="{{ getParams.guid }}" maxlength="13" readonly>
              <div class="share-form-controls">
                <input type="tel" name="to" placeholder="{{__('Phone Number', 'accessnyc-results')}}">
                <button type="submit" class="btn btn-primary btn-small btn-submit">{{__('Send', 'accessnyc-results')}}</button>
                {% include 'partials/share-form-spinner.twig' %}
                <div class="success-message">{{__('Sent!', 'accessnyc-results')}}</div>
              </div>
            </form>
          </div>

          <a class="btn btn-primary share-toggle js-simple-toggle" href="#share-by-email">{{__('Email', 'accessnyc-results')}}</a>
          <div id="share-by-email" class="share-form hidden">
            <form method="post" action="{{ shareAction }}" class="js-share-form" novalidate>
              <input type="hidden" name="action" value="email_send" readonly>
              <input type="hidden" name="url" value="{{ shareUrl }}"  readonly>
              <input type="hidden" name="hash" value="{{ shareHash }}"  readonly>
              <input type="hidden" name="GUID" value="{{ getParams.guid }}" maxlength="13" readonly>
              <div class="share-form-controls">
                <input type="email" name="to" placeholder="{{__('Email address', 'accessnyc-results')}}" required>
                <button type="submit" class="btn btn-primary btn-small btn-submit">{{__('Send', 'accessnyc-results')}}</button>
                {% include 'partials/share-form-spinner.twig' %}
                <div class="success-message">{{__('Sent!', 'accessnyc-results')}}</div>
              </div>
            </form>
          </div>

          <div class="screener-disclaimer m-0">
            <p>
              <small>
                <svg class="icon icon-info screener-disclaimer__icon screener-disclaimer__icon--pre f-left">
                  <use xlink:href="#icon-info"></use>
                </svg>
                By providing your email address or phone number, you agree
                to be contacted by the City of New York regarding your ACCESS
                NYC public benefit screening results. Your activity on ACCESS
                NYC is anonymous, but providing your phone number may identify
                you and reveal that you used the website. To find out more about
                how the City might use the data you share with ACCESS NYC, visit
                the
                <a href="http://www1.nyc.gov/home/terms-of-use.page" target="_blank">
                Terms of Use for NYC.gov</a>, and
                <a href="http://www1.nyc.gov/home/privacy-policy.page" target="_blank">
                Privacy Policy for NYC.gov</a>.
              </small>
            </p>
          </div>

        </div>
      </aside>
      <div class="content-body">
        {% if selectedPrograms | length %}
          <div class="screener-qualified-programs selected-programs">
            <h3 class="screener-qualified-programs-heading">{{__('These are programs for you in the categories you selected.', 'accessnyc-results')}}</h3>
            <div class="program-cards">
              {% for post in selectedPrograms %}
                {% include 'partials/post-teaser-block.twig' with {'show_apply': true } %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if additionalPrograms | length %}
          <div class="screener-qualified-programs other-programs">
            <h3 class="screener-other-qualified-programs-heading">
              {% if additionalPrograms | length == 1 %}
                {{ additionalPrograms | length }} {{__('additional program.', 'accessnyc-results')}}
              {% else %}
                {{ additionalPrograms | length }} {{__('additional programs.', 'accessnyc-results')}}
              {% endif %}
            </h3>
            <div class="program-cards">
              {% for post in additionalPrograms %}
                {% include 'partials/post-teaser-block.twig' with {'show_apply': true } %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </main>
  {% include 'partials/localized-strings-share.twig' %}
{% endblock %}
