{% extends "base.twig" %}

{% block content %}
<main id="content" class="color-light-background">
  <article>
    <div class="wrap py-4 my-1">
      <header class="wrap py-4 my-1">
        <h1 class="text-blue-dark">{{__('Page not found.', 'accessnyctheme')}}</h1>

        <div>
          <form method="get" action="/" class="mb-3">
            {{ fn('do_action', 'wpml_add_language_form_field' ) }}

            <label class="block type-small text-larger font-serif mb-2" for="search-field">
              {{ __('Try searching for what you\'re looking for.', 'accessnyctheme') }}
            </label>

            <div class="input-search">
              <input name="s" type="text" value="" placeholder="{{__('Search for programs or services', 'accessnyctheme')}}" id="search-field">

              <button class="btn-text input-search__submit" type="submit">
                <svg class="icon icon-ui-search">
                  <use xlink:href="#icon-ui-search"></use>
                </svg><span class="sr-only">{{__('Submit', 'accessnyctheme')}}</span>
              </button>
            </div>
          </form>
        </div>
      </header>
    </div>
  </article>
</main>
{% endblock %}
