{% extends "base.twig" %}

{% block content %}
  {# TODO(jjandoc): data-source is the json endpoint to hit for this data. When translations are available, this needs to be updated with the langauge code, e.g. /ar/locations/json. In code, this would be replacing the data-source value with {{ urlBase }}/locations/json #}
  <main class="main-content js-map layout--rows flex-col-reverse screen-desktop:flex-row screen-desktop:layout--sidebar bg-color-white h-screen relative h-90vh" id="content" data-source="/locations/json">
    <div class="js-map-controls overflow-hidden overflow-y-auto screen-desktop:h-90vh">
      <input type="text" class="w-full map-search js-map-searchbox" placeholder="{{ __('Enter an address or zip code', 'accessnyc-locations')}}">
      <div class="map-filter-container js-map-filter">
        <a href="#map-filter-settings" class="map-filter-header btn-toggle btn-primary text-color-white rounded-none w-full js-toggle-filter js-main-filter-toggle">
          <span class="map-filter-header-label">{{__('Select a type of help', 'accessnyc-locations')}}</span>
        </a>
        <div id="map-filter-settings" class="c-filter-multi" aria-hidden="true">
          <ul class="c-filter-multi__list">
            {% for filter in filters %}
            <li class="c-filter-multi__item">
              <div class="c-filter-multi__item-header">
                <label class="checkbox">
                  <input type="checkbox" data-toggles="#program-{{ filter.category.slug }}" class="js-map-filter-parent-input" tabindex="-1">
                  <span class="checkbox__label">{{ filter.category.name }}</span>
                </label>
                <a href="#program-{{ filter.category.slug }}" class="c-filter-multi__item-header-toggle js-toggle-filter"  tabindex="-1">
                  <span class="sr-only map-filter-expand">{{__('Expand category', 'accessnyc-locations')}}</span>
                  <span class="sr-only map-filter-collapse">{{__('Collapse category', 'accessnyc-locations')}}</span>
                </a>
              </div>
              <div id="program-{{ filter.category.slug }}" class="c-filter-multi__item-group js-map-filter-program-group" aria-hidden="true">
                <ul class="c-filter-multi__item-group-list">
                  {% for program in filter.programs %}
                  <li class="c-filter-multi__item-group-subitem">
                    <label class="checkbox">
                      <input type="checkbox" value="{{ program.uid }}" class="js-map-filter-program-input" tabindex="-1">
                      <span class="checkbox__label">{{ program.post_title }}</span>
                    </label>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="js-map-results-container">
        <div class="border-t border-color-grey-light">
          <ul class="js-map-results p-0"></ul>
          <p class="p-4 m-0 text-center text-color-grey-mid hidden" data-js="message-loading" aria-hidden="true">{{__('Loading&hellip;', 'accessnyc-locations')}}</p>
          <p class="p-4 m-0 text-center text-color-grey-mid hidden" data-js="message-no-results" aria-hidden="true">{{__('No results.', 'accessnyc-locations')}}</p>
        </div>
      </div>
      <div class="js-map-pagination"> </div>
    </div>
    <div class="js-map-mapbox screen-desktop:h-90vh"></div>
  </main>
{% endblock %}

{% block scripts_footer %}
{{ function('enqueue_script', 'assets/js/main', '.min') }}
<script src="https://www.google.com/jsapi"></script>
<script>
  window.LOCALIZED_STRINGS = window.LOCALIZED_STRINGS || [];
  window.LOCALIZED_STRINGS = window.LOCALIZED_STRINGS.concat([{% for filter in filters %}{% for program in filter.programs %}
    {
      "label": {{ program.post_title|json_encode() }},
      "slug": {{ program.uid|json_encode() }}
    },{% endfor %}{% endfor %}
    {
      "label": {{__('Government Office', 'accessnyc-locations')|trim|json_encode()}},
      "slug": "GOVERNMENT_OFFICE"
    }
  ]);
</script>
<script type="text/template" id="map-location-template">
  <% _.each(locations, function(location) { %>
  <li class="js-map-location c-card px-2 py-3 border-b border-color-grey-light" data-marker="<%= location.id %>" tabindex="0">
    <div class="c-card__icon m-0">
      <% if (location.isGovtOffice) { %>
      <img src='/wp-content/themes/access/assets/img/map-pin-green.png' width="33" height="40" alt="Government office map marker">
      <% } else { %>
      <img src='/wp-content/themes/access/assets/img/map-pin-blue.png' width="33" height="40" alt="Non-government office map marker">
      <% } %>
    </div>
    <div class="c-card__body">
      <h3 class="type-h4 serif m-0"><%= location.name %></h3>
      <p class="text-font-size-small text-color-grey-mid m-0">
        <% print(_.compact([location.type, location.address.street]).join(' | ')) %>
      </p>
      <p class="text-font-size-small text-color-grey-mid m-0">
        <% print(_.map(location.programs, function(program) { return localize(program) }).join(', ')) %>
      </p>
      <a href="<%= location.link %>" class="link-more text-font-size-small font-bold">{{__('more about this location', 'accessnyc-locations')}}</a>
    </div>
  </li>
  <% }); %>
</script>
<script type="text/template" id="map-pagination-template">
  <div class="p-2 flex items-center justify-end">
    <div class="text-font-size-small px-2 text-end">
      {{__('Showing', 'accessnyc-locations')}} <%= displayedCount %> {{__('of', 'accessnyc-locations')}} <%= totalCount %>
    </div>
    <% if (displayedCount < totalCount) { %>
    <div>
      <button class="btn btn-secondary btn-next btn-small js-map-more">{{__('Show more', 'accessnyc-locations')}}</button>
    </div>
    <% } %>
  </div>
</script>
{% endblock %}
