{% extends "base.twig" %}

{% block content %}
<main class="main-content" id="content">
  <div class="program-landing">
    <div class="usa-grid">
      <header class="content-header usa-width-one-whole">
        <h1>{% if programCategory | length %}{{__('Programs', 'accessnyctheme')}}: {{ programCategory.name }}{% else %}{{__('Programs', 'accessnyctheme')}}{% endif %}</h1>
      </header>
    </div>
    <div class="usa-grid program-landing-body">
      <aside>
        <h2 class="type-h4">{{__('Filter Programs', 'accessnyctheme')}}:</h2>
        <div class="program-filter js-program-filter">
          <!-- The copy for this should be whatever the active filter is.-->
          <a class="program-filter-header js-toggle-filter" href="#program-options">{% if not programCategory | length %}{{__('All Programs', 'accessnyctheme')}}{% else %}{{ programCategory.name }}{% endif %}</a>
          <div class="program-filter-body">
            <ul class="program-filter-list" id="program-options">
              <!-- The active category is not linked.-->
              {% if not programCategory | length %}
                <li><span class="program-filter-item">{{__('All Programs', 'accessnyctheme')}}</span></li>
              {% else %}
                <li><a class="program-filter-item" href="{{ urlBase }}/programs">{{__('All Programs', 'accessnyctheme')}}</a></li>
              {% endif %}
              {% for category in categories %}
                {% if category.slug == programCategory.slug %}
                  <li><span class="program-filter-item">{{ category.name }}</span></li>
                {% else %}
                  <li><a class="program-filter-item" href="{{ urlBase }}/programs/?program_cat={{ category.slug }}">{{ category.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </aside>
      <div class="content-body">
        <div class="program-cards">
          {% if page.term_id | length %}
            {% include 'partials/post-teaser.twig' with {'cat': page.name} %}
          {% else %}
            {% include 'partials/post-teaser.twig' %}
          {% endif %}
        </div>

        {% include 'modules/pagination.twig' %}
      </div>
      <div class="usa-grid">
        <footer class="content-footer usa-width-one-whole">
          {# {% include 'partials/was-this-page-helpful.twig' %} #}
        </footer>
      </div>
    </div>
  </div>
</main>
{% endblock %}
