{% set locations = [
  {value: 'manhattan', text: 'Manhattan'},
  {value: 'bronx', text: 'Bronx'},
  {value: 'queens', text: 'Queens'},
  {value: 'brooklyn', text: 'Brooklyn'},
  {value: 'statenIsland', text: 'Staten Island'}
] %}

{% set screenerLocations = [
  {value: 'community event', text: 'community event'},
  {value: 'phone call', text: 'phone call'},
  {value: 'door knock', text: 'door knock'},
  {value: 'partner referral', text: 'partner referral'}
] %}

{% set categoriesCurrent = [
  {value: 'snap', text: 'SNAP'},
  {value: 'wic', text: 'Women, Infants, and Children (WIC)'},
  {value: 'cash-assistance', text: 'Cash Assistance'},
  {value: 'medicaid', text: 'Medicaid'},
  {value: 'disability', text: 'Disability-related Medicaid'},
  {value: 'cityfeps', text: 'CITYFEPS (Family Eviction Prevention Supplement)'},
  {value: 'dhe', text: 'DHE (Disabled Homeowners’ Exemption)'},
  {value: 'drie', text: 'DRIE (Disability Rent Increase Exemption)'},
  {value: 'hasa', text: 'HASA (HIV/AIDS Services)'},
  {value: 'hud-vash', text: 'HUD-VASH (HUD-Veterans Affairs Supportive Housing)'},
  {value: 'linc', text: 'LINC (Living in Communities Rental Assistance)'},
  {value: 'nycha', text: 'NYCHA (NYC Housing Authority Housing)'},
  {value: 'pension', text: 'Pension'},
  {value: 'sche', text: 'SCHE (Senior Citizen Homeowners’ Exemption)'},
  {value: 'scrie', text: 'SCRIE (Senior Citizen Rent Increase Exemption)'},
  {value: 'section-8', text: 'Section 8'},
  {value: 'seps', text: 'SEPS (Special Exit and Prevention Supplement)'},
  {value: 'social-security', text: 'Social Security'},
  {value: 'ssd', text: 'SSD (Social Security Disability)'},
  {value: 'ss', text: 'SS (Supplemental Security)'},
  {value: 'state-feps', text: 'State FEPS (Family Eviction Prevention Supplement)'},
  {value: 'tbra', text: 'TBRA (Tenant-Based Rental Assistance)'}
] %}

{% set styles = {
  'sections': 'type-h1 m-left-2 p-top-2 d-inline-block p-right',
  'questions': 'type-h2 c-black m-0 d-block p-2',
  'labels': 'type-h3 c-blue-dark ff-sans-serif d-block',
  'explainations': 'type-h4 c-black m-0'
} %}

{% extends 'base.twig' %}

{% block header %}
<header class="site-header">
  <div class="p d-flex bp-justify jc-space-between ai-center bg-blue-dark">
    <svg class="icon icon-logo-full" width="163">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo-full"></use>
    </svg>
    <div class="d-flex ai-center">
      <a href="/eligibility-proto/?debug=1#page-disclaimer" class="btn btn-primary btn-small" onclick="location.reload()">New Client</a>
    </div>
  </div>
</header>
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<main class="main-content layout screener-proto" id="content">

  <div class="layout__body bg-white" id="js-layout-body">

    <form class="js-screener-single-page-form" style="border:none;padding-top:0;padding-bottom:0">

      <div id="vue">

        <div id="page-admin" class="screener-body-page js-screener-page">

          <div class="p-horizontal-2">

            <h1 class="{{styles.sections}}" id="first-steps">
              <a href="#first-steps" class="c-blue-dark">{{ __('First Steps', 'accessnyc-screener') }}</a>
            </h1>
              {% include 'screener-single-page-partials/question-staff.twig' with {'styles': styles, 'locations': locations} %}
              {% include 'screener-single-page-partials/disclaimer.twig' with styles %}

            <div class="p-vertical-2"
              v-if="disclaimer">
              <a class="btn btn-primary btn-next btn-small d-block" href="#page-screener">
                {{ __('Let\'s Get Started', 'accessnyc-screener') }}
              </a>
            </div>

          </div>

        </div>

        <div id="page-screener" class="screener-body-page js-screener-page">

          <div class="p-horizontal-2">

            <h1 class="{{styles.sections}}" id="client-information">
              <a href="#client-information" class="c-blue-dark">{{ __('Client Information', 'accessnyc-screener') }}</a>
            </h1><span class="screener-step">(1 of 4)</span>
              {% include 'screener-single-page-partials/question-client-needs.twig' with {'styles': styles, 'categories': categories} %}
              {% include 'screener-single-page-partials/question-client-services.twig' with {'styles': styles, 'categories': categoriesCurrent} %}
              {% include 'screener-single-page-partials/question-client-basics.twig' with styles %}
              {% include 'screener-single-page-partials/question-client-contact.twig' with styles %}

            <h1 class="{{styles.sections}}" id="household">
              <a href="#household" class="c-blue-dark">{{ __('Household', 'accessnyc-screener') }}</a>
            </h1><span class="screener-step">(2 of 4)</span>
              {% include 'screener-single-page-partials/question-household-information.twig' with styles %}
              {% include 'screener-single-page-partials/question-household-members.twig' with styles %}
              {% include 'screener-single-page-partials/question-household-member-details.twig' with styles %}

            <h1 class="{{styles.sections}}" id="household-income">
              <a href="#household-income" class="c-blue-dark">{{ __('Household Income', 'accessnyc-screener') }}
            </h1><span class="screener-step">(3 of 4)</span>
              {% include 'screener-single-page-partials/question-household-income.twig' with styles %}
              {% include 'screener-single-page-partials/question-household-total-savings.twig' with styles %}
              {% include 'screener-single-page-partials/question-household-expenses.twig' with styles %}

            <h1 class="{{styles.sections}}" id="housing">
              <a href="#housing" class="c-blue-dark">{{ __('Housing', 'accessnyc-screener') }}</a>
            </h1><span class="screener-step">(4 of 4)</span>
              {% include 'screener-single-page-partials/question-housing-situation.twig' with styles %}

            <div class="p-vertical-2">

              <a class="btn btn-primary btn-next btn-small d-block" href="#page-recap" v-on:click="validate">
                {{ __('Confirm', 'accessnyc-screener') }}
              </a>

            </div>

          </div>

        </div>

        <div id="page-recap" class="screener-body-page js-screener-page">

          <div class="p-horizontal-2">

            {% include 'screener-single-page-partials/recap.twig' with {'formAction': formAction} %}

          </div>

        </div>

      </div>

    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    window.LOCALIZED_STRINGS = window.LOCALIZED_STRINGS || [];
    window.LOCALIZED_STRINGS = window.LOCALIZED_STRINGS.concat([
    {% for category in categories %}
    {
      "label": {{ category.name|json_encode() }},
      "slug": {{ category.slug|json_encode() }}
    },
    {% endfor %}
    {
      "label": {{ __('Child', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Child"
    },
    {
      "label": {{ __('Foster Child', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "FosterChild"
    },
    {
      "label": {{ __('Step-child', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "StepChild"
    },
    {
      "label": {{ __('Grandchild', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Grandchild"
    },
    {
      "label": {{ __('Spouse', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Spouse"
    },
    {
      "label": {{ __('Parent', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Parent"
    },
    {
      "label": {{ __('Foster Parent', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "FosterParent"
    },
    {
      "label": {{ __('Step-parent', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "StepParent"
    },
    {
      "label": {{ __('Grandparent', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Grandparent"
    },
    {
      "label": {{ __('Sister/Brother', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "SisterBrother"
    },
    {
      "label": {{ __('Step-sister/Step-brother', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "StepSisterStepBrother"
    },
    {
      "label": {{ __('Boyfriend/Girlfriend', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "BoyfriendGirlfriend"
    },
    {
      "label": {{ __('Domestic Partner', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "DomesticPartner"
    },
    {
      "label": {{ __('Unrelated', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Unrelated"
    },
    {
      "label": {{ __('Other', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Other"
    },
    {
      "label": {{ __('You', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Self"
    },
    {
      "label": {{ __('Head of the household', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "HeadOfHousehold"
    },
    {
      "label": {{ __('Renting', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "livingRenting"
    },
    {
      "label": {{ __('Owns the home or apartment', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "livingOwner"
    },
    {
      "label": {{ __('Staying with a friend', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "livingStayingWithFriend"
    },
    {
      "label": {{ __('In a hotel', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "livingHotel"
    },
    {
      "label": {{ __('In a shelter or homeless', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "livingShelter"
    },
    {
      "label": {{ __('Prefer not to say', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "livingPreferNotToSay"
    },
    {
      "label": {{ __('NYCHA Housing', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "NYCHA"
    },
    {
      "label": {{ __('Non-Regulated or Market Rate apartment', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "MarketRate"
    },
    {
      "label": {{ __('Rent controlled or rent stabilized apartment', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "RentControlled"
    },
    {
      "label": {{ __('Rent Regulated Hotel/Single Room', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "RentRegulatedHotel"
    },
    {
      "label": {{ __('Section 213 apartments', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Section213"
    },
    {
      "label": {{ __('Limited Dividend development apartments', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "LimitedDividendDevelopment"
    },
    {
      "label": {{ __('Mitchell-Lama apartments', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "MitchellLama"
    },
    {
      "label": {{ __('Redevelopment Company apartments', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "RedevelopmentCompany"
    },
    {
      "label": {{ __('Housing Development Fund Company (HDFC) Cooperative', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "HDFC"
    },
    {
      "label": {{ __('Family Home', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "FamilyHome"
    },
    {
      "label": {{ __('Condo', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Condo"
    },
    {
      "label": {{ __('Student', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "student"
    },
    {
      "label": {{ __('Pregnant', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "pregnant"
    },
    {
      "label": {{ __('Unemployed', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "unemployed"
    },
    {
      "label": {{ __('Worked in the last 18 months', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "unemployedWorkedLast18Months"
    },
    {
      "label": {{ __('Full-time student', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "studentFulltime"
    },
    {
      "label": {{ __('Blind or visually impaired', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "blind"
    },
    {
      "label": {{ __('Has disabilities', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "disabled"
    },
    {
      "label": {{ __('Served in the U.S. Armed Forces, National Guard or Reserves', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "veteran"
    },
    {
      "label": {{ __('Medicaid', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "benefitsMedicaid"
    },
    {
      "label": {{ __('Disability-related Medicaid', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "benefitsMedicaidDisability"
    },
    {
      "label": {{ __('wages, salaries, tips', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Wages"
    },
    {
      "label": {{ __('self-employment Income', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "SelfEmployment"
    },
    {
      "label": {{ __('unemployment benefits', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Unemployment"
    },
    {
      "label": {{ __('Cash Assistance grant', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "CashAssistance"
    },
    {
      "label": {{ __('disability-related Medicaid', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "DisabilityMedicaid"
    },
    {
      "label": {{ __('Supplemental Security Income (SSI)', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "SSI"
    },
    {
      "label": {{ __('Social Security Dependent Benefits', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "SSDependent"
    },
    {
      "label": {{ __('Social Security Disability Benefits', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "SSDisability"
    },
    {
      "label": {{ __('Social Security Survivor\'s Benefits', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "SSSurvivor"
    },
    {
      "label": {{ __('Social Security Retirement Benefits', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "SSRetirement"
    },
    {
      "label": {{ __('New York State Disability Benefits', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "NYSDisability"
    },
    {
      "label": {{ __('Veteran\'s Pension or Benefits', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Veteran"
    },
    {
      "label": {{ __('Government or Private Pension', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Pension"
    },
    {
      "label": {{ __('Withdrawals from Deferred Compensation (IRA, Keogh, etc.)', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "DeferredComp"
    },
    {
      "label": {{ __('Worker\'s Compensation', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "WorkersComp"
    },
    {
      "label": {{ __('alimony (received)', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Alimony"
    },
    {
      "label": {{ __('boarder or lodger', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Boarder"
    },
    {
      "label": {{ __('gifts/contributions (received)', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Gifts"
    },
    {
      "label": {{ __('rental income', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Rental"
    },
    {
      "label": {{ __('investment income (interest, dividends, and profit from selling stocks)', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Investment"
    },
    {
      "label": {{ __('Child Care', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "ChildCare"
    },
    {
      "label": {{ __('Child Support', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "ChildSupport"
    },
    {
      "label": {{ __('Dependent Care', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "DependentCare"
    },
    {
      "label": {{ __('Rent', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Rent"
    },
    {
      "label": {{ __('Medical expense', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Medical"
    },
    {
      "label": {{ __('Heating', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Heating"
    },
    {
      "label": {{ __('Cooling', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Cooling"
    },
    {
      "label": {{ __('Mortgage', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Mortgage"
    },
    {
      "label": {{ __('Utilities', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Utilities"
    },
    {
      "label": {{ __('Telephone', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "Telephone"
    },
    {
      "label": {{ __('Third Party Insurance Premiums', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "InsurancePremiums"
    },
    {
      "label": {{ __('Every week', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "weekly"
    },
    {
      "label": {{ __('Every 2 weeks', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "biweekly"
    },
    {
      "label": {{ __('Monthly', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "monthly"
    },
    {
      "label": {{ __('Twice a month', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "semimonthly"
    },
    {
      "label": {{ __('Every year', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "yearly"
    },
    {
      "label": {{ __('This entry must be a number between 1 and 8.', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "ERROR_HOUSEHOLD"
    },
    {
      "label": {{ __('This entry can only contain numbers.', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "ERROR_INTEGER"
    },
    {
      "label": {{ __('This entry can only contain numbers.', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "ERROR_FLOAT"
    },
    {
      "label": {{ __('This entry is required to continue.', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "ERROR_REQUIRED"
    },
    {
      "label": {{ __('A valid New York City zip code is required.', 'accessnyc-screener')|trim|json_encode() }},
      "slug": "ERROR_ZIP"
    }]);
  </script>
  {% if is_debug %}
  <script src="/wp-content/themes/access/assets/js/main.ssp.js?v={{ date().timestamp }}"></script>
  {% else %}
  <script src="/wp-content/themes/access/assets/js/main.ssp.min.js"></script>
  {% endif %}
{% endblock %}
