{% extends 'base.twig' %}

{% block content %}
<main class="color-light-background" id="content">
  <form class="js-filtered-search" method="get" action="/">
    {{ fn('do_action', 'wpml_add_language_form_field' ) }}
    
    {% if alerts %}
    <div class="p-2 screen-tablet:p-3">
      {% for alert in alerts %}
        {% set class = loop.last ? '' : 'mb-2 screen-tablet:mb-3' %}

        {% include 'components/alert.twig' with {this: alert, class: class} only %}
      {% endfor %}
    </div>
    {% endif %}

    {% if alert_sitewide %}
    <div class="p-2 screen-tablet:p-3">
      {% include 'components/alert.twig' with {this: alert_sitewide} only %}
    </div>
    {% endif %}

    <div class="wrap screen-desktop:layout-sidebar-small-gutter mt-3">
      <aside>
        <h2 class="type-h4">{{__('Filter Programs', 'accessnyctheme')}}:</h2>

        {% include 'components/filter-search.twig' %}
      </aside>

      <div>
        <div class="layout-gutter p-3 bg-grey-lightest mb-3">
          {% if not posts | length %}
          <h1 class="text-large">
            {{__('Sorry, we couldn’t find anything matching your search.', 'accessnyctheme')}}

            <br class="hidden screen-desktop:inline-block">

            {# If there is a search category selected, prompt the user to clear filters. Otherwise, direct the user to the program page #}
            {% if searchCategory.name | length %}
              <a class="js-filter-reset" href="{{ language_code and language_code != 'en' ? '/' ~ language_code : '' }}/?s={{ query }}">{{ __('Clear filters.', 'accessnyctheme' )}}</a>
            {% else %}
              <a class="js-filter-reset" href="{{ language_code and language_code != 'en' ? '/' ~ language_code : '' }}/programs">{{ __('See all programs.', 'accessnyctheme' )}}</a>
            {% endif %}

          </h1>
          {% else %}
            {% for post in posts %}
              {% include 'components/card.twig' with {'post': post} only %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</main>
{% endblock %}
