{% extends 'base.twig' %}

{% block content %}
<main class="bg-color-white pb-4" id="content">
  <form class="js-filtered-search" method="get" action="/">
    {{ fn('do_action', 'wpml_add_language_form_field' ) }}
    <header class="c-header flex-col bg-color-blue-dark text-color-white mb-3">
      <label class="type-small w-full" for="program-search-field">{{__('Showing results for', 'accessnyctheme')}}</label>

      <div class="input-search w-full">
        <input name="s" type="text" value="{{query}}" id="program-search-field" data-js="wt-search" data-wt-search-key="Search Results" data-wt-search-data='[{"WT.oss": "{{ query }}", "WT.oss_r": "{{ posts|length }}"}]'>

        <button class="btn-text input-search__submit" type="submit">
          <svg class="icon icon-search">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
          </svg><span class="sr-only">{{__('Submit', 'accessnyctheme')}}</span>
        </button>
      </div>
    </header>

    <div class="usa-grid screen-desktop:layout--sidebar-small-gutter">
      <aside>
        <h2 class="type-h4">{{__('Filter Programs', 'accessnyctheme')}}:</h2>

        <div class="c-filter js-program-filter js-program-search-filter">
          <div class="c-filter__header js-toggle-filter">
            <a id="#program-options" href="#">{% if searchCategory.name | length %}{{ searchCategory.name }}{% else %}{{__('All Programs', 'accessnyctheme')}}{% endif %}</a>
          </div>
          <div class="c-filter__body">
            <ul class="c-filter__list" id="program-options">
              <li>
                <label class="c-filter__item">
                  <input class="js-filter-radio sr-only active" type="radio" name="program_cat" value="" checked="">{{__('All Programs', 'accessnyctheme')}}
                </label>
              </li>
              {% for category in categories %}
              <li>
                <label class="c-filter__item" for="filter-{{ category.slug }}">
                  <input {% if category.slug == searchCategory.slug %}checked {% endif %}class="js-filter-radio sr-only" type="radio" name="program_cat" id="filter-{{ category.slug }}" value="{{ category.slug }}">{{ category.name }}
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </aside>

      <div>
        <div class="layout--gutter p-3 bg-color-grey-lightest mb-3">
          {% if not posts | length %}
          <h1 class="text-font-size-large">
            {{__('Sorry, we couldn’t find anything matching your search.', 'accessnyctheme')}} <br class="hidden screen-desktop:inline-block">
            <a class="js-filter-reset" href="/?s={{query}}">{{__('Clear filters.', 'accessnyctheme')}}</a>
          </h1>
          {% else %}
            {% include 'partials/post-teaser.twig' %}
          {% endif %}
        </div>
      </div>
    </div>

    {# <div class="usa-grid">
      <footer class="content-footer usa-width-one-whole"> #}
        {# {% include 'partials/was-this-page-helpful.twig' %} #}
      {# </footer>
    </div> #}
  </form>
</main>
{% endblock %}
