{% extends "base.twig" %}

{% set demoblock = 'b b-grey-light p-2 m-bottom-2' %}
{% set codeblock = 'd-inline-block bg-grey-lightest b b-grey-lightest b-6' %}

{% block content %}
  <main class="main-content" id="content">
    <article class="content-article">
      <div class="usa-grid">

        <header class="content-header usa-width-one-third">
          <h1>Styleguide</h1>
        </header>

        <div class="content-body usa-width-two-thirds">

          <div>

            <h1 class="content-header">Default Typography</h1>

            <div class="{{demoblock}}">
              <h1><code class="{{codeblock}}">h1</code> Heading 1</h1>
              <h2><code class="{{codeblock}}">h2</code> Heading 2</h2>
              <h3><code class="{{codeblock}}">h3</code> Heading 3</h3>
              <h4><code class="{{codeblock}}">h4</code> Heading 4</h4>
              <h5><code class="{{codeblock}}">h5</code> Heading 5</h5>
              <h6><code class="{{codeblock}}">h6</code> Heading 6</h6>
            </div>

            <div><code class="{{codeblock}}">p</code> Paragraph</div>
            <div class="{{demoblock}}">
              <p>{{ __('It’s OK to pick more than one. Don’t worry if you forget one, we’ll still check if you may be eligible for help with all of them.', 'accessnyc-screener') }}</p>
            </div>

          </div>

          <hr class="m-vertical-3">

          <div>

            <h1>Screener Typography</h1>

            <code class="{{codeblock}}">.screener-step</code>
            <div class="{{demoblock}}">
              <div class="screener-step">{{ __('Step 3 of 10', 'accessnyc-screener') }}</div>
            </div>

            <code class="{{codeblock}}">.screener-title</code>
            <div class="{{demoblock}}">
              <h1 class="screener-title">{{ __('What kind of help are you looking for?', 'accessnyc-screener') }}</h1>
            </div>

            <code class="{{codeblock}}">.screener-label</code>
            <div class="{{demoblock}}">
              <h4 class="screener-label">{{ __('How old are you?', 'accessnyc-screener') }}</h4>
            </div>

            <code class="{{codeblock}}">.question-info .btn .btn-text .btn-link</code>
            <div class="{{demoblock}}">
              <p>
                <button type="button" class="question-info btn btn-text btn-link" aria-describedby="tooltip-age">
                  {{ __('Here’s why we are asking.', 'accessnyc-screener') }}
                  <svg class="icon icon-info">
                    <use xlink:href="#icon-info"></use>
                  </svg>
                </button>
              </p>
            </div>

          </div>


        </div>
      </div>
    </article>
  </main>
{% endblock %}
