{% extends "base.twig" %}

{% block content %}
<main class="color-light-background" id="content">
  <article>
    <header class="c-header mt-3 print:mt-0">
      <div>
        <h1 class="text-color-blue-dark">{{ post.title }}</h1>
        <div class="screen-tablet:text-font-size-larger font-serif">
          {{ post.get_field('field_58b480ca3081c') }} {# lead #}
        </div>
      </div>
    </header>

    <div class="usa-grid screen-desktop:layout--sidebar-gutter">
      <aside>
        <nav class="c-side-nav sticky top-0 pt-1 print:hidden">
          <ul>
            {% for section in post.get_field('field_58b480f33081d') %} {# sections #}
            {% if section.section_title %}
            <li class="border-none pb-0">
              <a href="#section-{{ loop.index }}">{{ section.section_title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </aside>

      <div class="o-content usa-width-two-thirds">
        {% for section in post.get_field('field_58b480f33081d') %} {# sections #}
        <section id="section-{{ loop.index }}">
          {% if section.section_title %}<h2>{{ section.section_title }}</h2>{% endif %}
          {{ section.section_content }}
        </section>
        {% endfor %}
      </div>
    </div>

    <footer class="usa-grid py-4">
      <p class="text-color-grey-mid m-0">
        {{ __('Updated', 'accessnyc-page') }} {{ post.post_date_modified|date }}
      </p>
    </footer>
  </article>
</main>
{% endblock %}
