<fieldset class="screener-body-step js-screener-step" id="step-10">
  <div class="screener-step">{{ __('Step 10 of 10', 'accessnyc-screener') }}</div>
  <h1 class="screener-title">{{ __('Last question! Tell us about where you live.', 'accessnyc-screener') }}</h1>
  <div class="screener-question" id="screener-housing-situation">
    <label class="screener-label" for="housing-situation">{{ __('Which of these best applies to your housing situation?', 'accessnyc-screener') }}</label>
    <p class="screener-explanation">{{ __('It’s OK to pick more than one.', 'accessnyc-screener') }}</p>
    <div class="screener-checkboxes js-screener-checkbox-group">
      <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
        <input class="js-screener-toggle" type="checkbox" name="Household.livingRenting" value="1" data-toggles="#screener-rental-type" data-type="boolean">
        <span class="styled-checkbox-label">{{ __('Renting', 'accessnyc-screener') }}</span>
      </label>
      <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
        <input class="js-screener-toggle" type="checkbox" name="Household.livingOwner" value="1" data-toggles="#screener-homeowner" data-type="boolean">
        <span class="styled-checkbox-label">{{ __('You or a household member owns the home or apartment', 'accessnyc-screener') }}</span>
      </label>
      <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
        <input type="checkbox" name="Household.livingStayingWithFriend" value="1" data-type="boolean">
        <span class="styled-checkbox-label">{{ __('Staying with a friend', 'accessnyc-screener') }}</span>
      </label>
      <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
        <input type="checkbox" name="Household.livingHotel" value="1" data-type="boolean">
        <span class="styled-checkbox-label">{{ __('In a hotel', 'accessnyc-screener') }}</span>
      </label>
      <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
        <input type="checkbox" name="Household.livingShelter" value="1" data-type="boolean">
        <span class="styled-checkbox-label">{{ __('In a shelter or homeless', 'accessnyc-screener') }}</span>
      </label>
      <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
        <input class="screener-checkboxes-input sr-only js-clear-group" type="checkbox" name="Household.livingPreferNotToSay" value="1" data-type="boolean" checked>
        <span class="styled-checkbox-label">{{ __('Prefer not to say', 'accessnyc-screener') }}</span>
      </label>
    </div>
  </div>
  <div class="hidden" id="screener-rental-type">
    <div class="screener-question">
      <label class="screener-label d-inline-block m-bottom" for="housing-livingRentalType">{{ __('Which type of rental do you live in?', 'accessnyc-screener') }}</label>
      <select class="screener-select js-screener-toggle" id="housing-livingRentalType" name="Household.livingRentalType" data-toggles="#screener-lease-owner">
        <option value="">{{ __('Click to select a rental type', 'accessnyc-screener') }}</option>
        <option value="MarketRate">{{ __('Non-Regulated or Market Rate apartment', 'accessnyc-screener') }}</option>
        <option value="RentControlled">{{ __('Rent controlled or rent stabilized apartment', 'accessnyc-screener') }}</option>
        <option value="FamilyHome">{{ __('Family Home', 'accessnyc-screener') }}</option>
        <option value="Condo">{{ __('Condo', 'accessnyc-screener') }}</option>
        <option value="NYCHA">{{ __('NYCHA Housing', 'accessnyc-screener') }}</option>
        <option value="RentRegulatedHotel">{{ __('Rent Regulated Hotel/Single Room', 'accessnyc-screener') }}</option>
        <option value="Section213">{{ __('Section 213 apartments', 'accessnyc-screener') }}</option>
        <option value="LimitedDividendDevelopment">{{ __('Limited Dividend development apartments', 'accessnyc-screener') }}</option>
        <option value="MitchellLama">{{ __('Mitchell-Lama apartments', 'accessnyc-screener') }}</option>
        <option value="RedevelopmentCompany">{{ __('Redevelopment Company apartments', 'accessnyc-screener') }}</option>
        <option value="HDFC">{{ __('Housing Development Fund Company (HDFC) Cooperative', 'accessnyc-screener') }}</option>
        <option value="">{{ __('None of these apply', 'accessnyc-screener') }}</option>
      </select>
    </div>
    <div class="screener-question js-screener-checkbox-group" id="screener-lease-owner">
      <label class="screener-label">{{ __('Who is on the lease?', 'accessnyc-screener') }}</label>
      <div id="screener-possible-leasees" class="screener-checkboxes js-screener-checkbox-group screener-question-container"></div>
    </div>
  </div>
  <div class="screener-question hidden" id="screener-homeowner">
    <label class="screener-label">{{ __('Who is the owner?', 'accessnyc-screener') }}</label>
    <div id="screener-possible-owners" class="screener-checkboxes js-screener-checkbox-group screener-question-container"></div>
  </div>
  <hr class="screener-divider">
  <div class="screener-question">
    <label class="screener-label" for="household-assets">
      {{ __('How much does your whole household have right now in:', 'accessnyc-screener') }}<br>
      &bull; {{ __('Cash on hand?', 'accessnyc-screener') }}<br>
      &bull; {{ __('Checking or saving accounts?', 'accessnyc-screener') }}<br>
      &bull; {{ __('Stocks, bonds or mutual funds?', 'accessnyc-screener') }}
    </label>
    <p class="screener-explanation">{{ __('Answer the best you can. We use this to help show you the programs that will be most helpful right now.', 'accessnyc-screener') }}</p>
    <div class="screener-question-container">
      <div class="currency-usd">
        <input id="household-assets" type="number" name="Household.cashOnHand" data-type="float" min="0" value="">
      </div>
    </div>
  </div>
  <p class="screener-next-step"><a class="btn btn-primary btn-next btn-small js-screener-validate-step" href="#recap">{{ __('Continue', 'accessnyc-screener') }}</a></p>
</fieldset>{# /#step-10 #}
