{% set languages = [
  {'value': 'en', 'text': 'English'},
  {'value': 'sp', 'text': 'Spanish'},
  {'value': 'other', 'text': 'Other'}
] %}

{% set phoneTypes = [
  {'value': 'cell', 'text': 'Cell'},
  {'value': 'home', 'text': 'Home'},
  {'value': 'work', 'text': 'Work'}
] %}

{% set contactTimes = [
  {'value': 'morning', 'text': 'Morning (10:00 AM - 12:00 PM)'},
  {'value': 'noon', 'text': 'Noon (12:00PM - 2:00PM)'},
  {'value': 'afternoon', 'text': 'Afternoon (2:00PM - 4:00PM)'},
  {'value': 'evening', 'text': 'Evening (4:00PM - 6:00PM)'},
  {'value': 'saturday', 'text': 'Saturday (10:00AM - 4:00PM)'}
] %}


<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-client-contact">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-client-contact">
        {{ __('Client Contact', 'accessnyc-screener') }}
      </a>

      <div class="js-toggle-question hidden p-horizontal-2 p-bottom-2 hidden">

        <div class="m-bottom-2">

          <label class="{{styles.labels}}" for="person-0-phone">
            {{ __('Language Spoken', 'accessnyc-screener') }}
          </label>
          <div class="p-top">
            {% for language in languages %}
            <label class="styled-checkbox screener-checkbox screener-label d-block">
              <input type="checkbox" value="{{ language.value }}"
                data-object="client"
                data-key="language"
                v-on:change="push">
              <span class="styled-checkbox-label">{{ __(language.text, 'accessnyc-screener') }}</span>
            </label>
            {% endfor %}
          </div>

        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-phone">
            {{ __('Phone Number', 'accessnyc-screener') }}
          </label>
          <input id="client-phone" name="Client.phone" value="" type="tel" required
            v-model="client._attrs.phone">
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}">
            {{ __('Phone Type', 'accessnyc-screener') }}
          </label>
          <div class="p-top">
            {% for option in phoneTypes %}
            <label class="styled-radio screener-label d-block m-bottom">
              <input type="radio" value="{{ option.value }}" name="Client.phoneType"
                data-object="client"
                data-key="phoneType"
                v-model="client._attrs.phoneType">
              <span class="styled-radio-label">{{ __(option.text, 'accessnyc-screener') }}</span>
            </label>
            {% endfor %}
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-phone">
            {{ __('Alternate Phone Number', 'accessnyc-screener') }}
          </label>
          <input id="client-phone" name="Client.phoneAlt" value="" type="tel" required
            v-model="client._attrs.phoneAlt">
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}">
            {{ __('Alternate Phone Type', 'accessnyc-screener') }}
          </label>
          <div class="p-top">
            {% for option in phoneTypes %}
            <label class="styled-radio screener-label d-block m-bottom">
              <input type="radio" value="{{ option.value }}" name="Client.phoneAltType"
                data-object="client"
                data-key="phoneAltType"
                v-model="client._attrs.phoneAltType">
              <span class="styled-radio-label">{{ __(option.text, 'accessnyc-screener') }}</span>
            </label>
            {% endfor %}
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}">
            {{ __('Best time to contact you?', 'accessnyc-screener') }}
          </label>
          <div class="p-top">
            {% for option in contactTimes %}
            <label class="styled-checkbox screener-checkbox screener-label d-block">
              <input type="checkbox" value="{{ option.value }}"
                data-object="client"
                data-key="contactTimes"
                v-on:change="push">
              <span class="styled-checkbox-label">{{ __(option.text, 'accessnyc-screener') }}</span>
            </label>
            {% endfor %}
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-email">
            {{ __('Email', 'accessnyc-screener') }}
          </label>
          <input class="w-input-double" id="client-email" name="Client.email" value="" required
            v-model="client._attrs.email">
        </div>

        <hr class="screener-divider">

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-address-1">
            {{ __('Street #', 'accessnyc-screener') }}
          </label>
          <input class="w-input-double" id="client-address-1" name="Client.streetNumber" value="" required
            v-model="client._attrs.streetNumber">
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-address-2">
            {{ __('Street Name', 'accessnyc-screener') }}
          </label>
          <input id="client-address-2" name="Client.streetName" value="" required
            v-model="client._attrs.streetName">
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-unit">
            {{ __('Unit #', 'accessnyc-screener') }}
          </label>
          <input id="client-unit" name="Client.unit" value="" required
            v-model="client._attrs.unit">
        </div>

        <div>
          <label class="{{styles.labels}}" for="client-borough">
            {{ __('Borough', 'accessnyc-screener') }}
          </label>
          <select id="client-borough" name="Client.borough" value="" required
            v-model="client._attrs.borough">
            {% for location in locations %}
            <option value="{{ location.value }}">{{ __(location.text, 'accessnyc-screener') }}</option>
            {% endfor %}
          </select>
        </div>

      </div>

    </div>

  </div>

</fieldset>{# /#step-3 #}
