{% set headOfHouseholdRelationOptions = [
  {"value": "", "text": "Click to select relationship"},
  {"value": "Child", "text": "Child"},
  {"value": "FosterChild", "text": "Foster Child"},
  {"value": "StepChild", "text": "Step-child"},
  {"value": "Grandchild", "text": "Grandchild"},
  {"value": "Spouse", "text": "Spouse"},
  {"value": "Parent", "text": "Parent"},
  {"value": "FosterParent", "text": "Foster Parent"},
  {"value": "StepParent", "text": "Step-parent"},
  {"value": "Grandparent", "text": "Grandparent"},
  {"value": "SisterBrother", "text": "Sister/Brother"},
  {"value": "StepSisterStepBrother", "text": "Step-sister/Step-brother"},
  {"value": "BoyfriendGirlfriend", "text": "Boyfriend/Girlfriend"},
  {"value": "DomesticPartner", "text": "Domestic Partner"},
  {"value": "Unrelated", "text": "Unrelated"},
  {"value": "Other", "text": "Related in some other way"}
] %}

<fieldset class="d-block w-100">
  <div>
    <div v-if="household._attrs.members > 1">

      <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-household-members">

        <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

        <div class="p-relative">

          <a class="{{styles.questions}}" href="#question-household-members" data-js="question">
            {{ __('Household Members', 'accessnyc-screener') }}
            <svg class="{{styles.warning}}" role="img" aria-label="{{ __('Some required fields are not filled out', 'accessnyc-screener') }}"
              v-if="errors.all('HouseholdMembers').length > 0">
              <title>{{ __('Some required fields are not filled out', 'accessnyc-screener') }}</title>
              <use xlink:href="#icon-warning"></use>
            </svg>
          </a>

          <div class="js-toggle-question p-horizontal-2 p-bottom-2 hidden"> {# hidden #}

            <div v-for="(p, personIndex) in people">

              <div v-if="personIndex != 0">

                <hr v-if="personIndex != 1" class="screener-divider">

                <h4 class="{{styles.labels}}">
                  {{ __('Tell us about the other people your household.', 'accessnyc-screener') }}
                </h4>

                <div class="js-toggle-head-of-household hidden m-bottom-2">
                  <label class="{{styles.labels}}" v-bind:for="'person-' + personIndex + '-relation'">
                    {{ __('Is this person the head of the household?', 'accessnyc-screener') }}
                  </label>
                  <div class="screener-radio-buttons m-bottom-2">
                    <label class="screener-radio screener-label">
                      <input type="radio" class="screener-radio-input sr-only" value="true"
                        data-object="people"
                        data-key="headOfHousehold"
                        data-type="boolean"
                        v-bind:data-index="personIndex"
                        v-bind:name="'_Person[' + personIndex + '].headOfHousehold'"
                        v-on:change="setAttr">
                      <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
                    </label>
                    <label class="screener-radio screener-label">
                      <input type="radio" class="screener-radio-input sr-only" value="false" checked
                        data-object="people"
                        data-key="headOfHousehold"
                        data-type="boolean"
                        v-bind:data-index="personIndex"
                        v-bind:name="'_Person[' + personIndex + '].headOfHousehold'"
                        v-on:change="setAttr">
                      <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
                    </label>
                  </div>
                </div>

                <div class="m-bottom-2">
                  <div v-if="!p._attrs.headOfHousehold">
                    <label class="{{styles.labels}}" v-bind:for="'person-' + personIndex + '-relation'">
                      <span v-if="people[0]._attrs.headOfHousehold">{{ __('What is this person’s relationship to you?', 'accessnyc-screener') }}</span>
                      <span v-else>{{ __('What is this person’s relationship to the head of the household?', 'accessnyc-screener') }}</span>
                      <span class="c-red">*</span>
                    </label>
                    <div class="screener-question-container"
                      v-bind:class="{'error': errors.has('HouseholdMembers.Person[' + personIndex + '].headOfHouseholdRelation')}">
                      <div class="error-message" v-if="errors.has('HouseholdMembers.Person[' + personIndex + '].headOfHouseholdRelation')">
                        v{ errors.first('HouseholdMembers.Person[' + personIndex + '].headOfHouseholdRelation') }
                      </div>
                      <select class="screener-select" required
                        data-vv-as="head of household relation"
                        data-vv-scope="HouseholdMembers"
                        v-validate="{required: true}"
                        v-model="p._attrs.headOfHouseholdRelation"
                        v-bind:id="'person-' + personIndex + '-relation'"
                        v-bind:name="'Person[' + personIndex + '].headOfHouseholdRelation'">
                        {% for option in headOfHouseholdRelationOptions %}
                        <option value="{{ option.value }}">
                          {{ __(option.text, 'accessnyc-screener') }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div>
                  <label class="{{styles.labels}}" v-bind:for="'person-' + personIndex + '-age'">
                    {{ __('How old are they?', 'accessnyc-screener') }}
                    <span class="c-red">*</span>
                  </label>
                  <div class="screener-question-container"
                    v-bind:class="{'error': errors.has('HouseholdMembers.Person[' + personIndex + '].age')}">
                    <div class="error-message" v-if="errors.has('HouseholdMembers.Person[' + personIndex + '].age')">
                      v{ errors.first('HouseholdMembers.Person[' + personIndex + '].age') }
                    </div>
                    <input type="number" min="0" maxlength="3" pattern="[0-9]" step="1" required
                      data-object="people"
                      data-key="age"
                      data-type="integer"
                      data-vv-as="age"
                      data-vv-scope="HouseholdMembers"
                      v-validate="{required: true, max: 3, min: 0, regex: '[0-9]', numeric: true}"
                      v-bind:data-index="personIndex"
                      v-bind:id="'person-' + personIndex + '-age'"
                      v-bind:name="'Person[' + personIndex + '].age'"
                      v-on:change="setAttr">
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</fieldset>
