<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-client-basics">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-client-basics">
        {{ __('Client Basics', 'accessnyc-screener') }}
      </a>

      <div class="js-toggle-question hidden p-horizontal-2 p-bottom-2 hidden">

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-0-first">
            {{ __('First Name', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <input id="client-0-first" name="Client[0].first" value="" required
            v-model="client._attrs.firstName">
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="client-0-last">
            {{ __('Last Name', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <input id="client-0-last" name="Client[0].last" value="" required
            v-model="client._attrs.lastName">
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-age">
            {{ __('How old are you?', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <div class="screener-question-container">
            <input id="person-0-age" name="Person[0].age" type="number" value="" min="0" maxlength="3" pattern="[0-9]" step="1" required
              data-type="integer"
              data-object="people"
              data-key="age"
              data-index="0"
              v-on:change="setAttr">
          </div>
        </div>

        <div>
          <label class="{{styles.labels}}" for="household-zip">
            {{ __('Zip code?', 'accessnyc-screener') }}
            <span class="c-red">*</span>
          </label>
          <div id="what-is-your-zip-code">
            <div class="screener-question-container">
              <input id="household-zip" name="Household.zip" type="number" maxlength="5" pattern="[0-9]" required
                data-type="zip"
                v-model="household._attrs.zip">
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</fieldset>{# /#step-3 #}
