<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-client-contact">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-client-contact">
        {{ __('Client Contact', 'accessnyc-screener') }}
      </a>

      <div class="js-toggle-question hidden p-horizontal-2 p-bottom-2 hidden">

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-phone">
            {{ __('Phone', 'accessnyc-screener') }}
          </label>
          <input id="person-0-phone" name="Person[0].phone" value="" required>
        </div>

        <div class="m-bottom-2">

          <label class="{{styles.labels}}" for="person-0-phone">
            {{ __('Best time to contact you?', 'accessnyc-screener') }}
          </label>
          <div class="p-top">
            <label class="styled-checkbox screener-checkbox screener-label d-block">
              <input
                type="checkbox"
                value="1"
                data-type="boolean">
              <span class="styled-checkbox-label">{{ __('Morning (10:00 AM - 12:00 PM)', 'accessnyc-screener') }}</span>
            </label>
            <label class="styled-checkbox screener-checkbox screener-label d-block">
              <input
                type="checkbox"
                value="1"
                data-type="boolean">
              <span class="styled-checkbox-label">{{ __('Noon (12:00PM - 2:00PM)', 'accessnyc-screener') }}</span>
            </label>
            <label class="styled-checkbox screener-checkbox screener-label d-block">
              <input
                type="checkbox"
                value="1"
                data-type="boolean">
              <span class="styled-checkbox-label">{{ __('Afternoon (2:00PM - 4:00PM)', 'accessnyc-screener') }}</span>
            </label>
            <label class="styled-checkbox screener-checkbox screener-label d-block">
              <input
                type="checkbox"
                value="1"
                data-type="boolean">
              <span class="styled-checkbox-label">{{ __('Evening (4:00PM - 6:00PM)', 'accessnyc-screener') }}</span>
            </label>
            <label class="styled-checkbox screener-checkbox screener-label d-block">
              <input
                type="checkbox"
                value="1"
                data-type="boolean">
              <span class="styled-checkbox-label">{{ __('Saturday (10:00AM - 4:00PM)', 'accessnyc-screener') }}</span>
            </label>
          </div>

        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-email">
            {{ __('Email', 'accessnyc-screener') }}
          </label>
          <input class="w-input-double" id="person-0-email" name="Person[0].email" value="" required>
        </div>

        <hr class="screener-divider">

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-address-1">
            {{ __('Street Address 1', 'accessnyc-screener') }}
          </label>
          <input class="w-input-double" id="person-0-address-1" name="Person[0].address-1" value="" required>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-address-2">
            {{ __('Street Address 2', 'accessnyc-screener') }}
          </label>
          <input id="person-0-address-2" name="Person[0].address-2" value="" required>
        </div>

        <div>
          <label class="{{styles.labels}}" for="person-0-state">
            {{ __('City', 'accessnyc-screener') }}
          </label>
          <input id="person-0-state" name="Person[0].state" value="" required>
        </div>

      </div>

    </div>

  </div>

</fieldset>{# /#step-3 #}
