{% set rentingOptions = [
  {'value': 'livingRenting', 'text': 'Renting', 'toggles': '#screener-rental-type'},
  {'value': 'livingOwner', 'text': 'You or a household member owns the home or apartment', 'toggles': '#screener-homeowner'},
  {'value': 'livingStayingWithFriend', 'text': 'Staying with a friend'},
  {'value': 'livingHotel', 'text': 'In a hotel'},
  {'value': 'livingShelter', 'text': 'In a shelter or homeless'},
  {'value': 'livingPreferNotToSay', 'text': 'Prefer not to say'},
] %}

{% set housingOptions = [
  {'value': '', 'text': 'Click to select a rental type'},
  {'value': 'Condo', 'text': 'Condo'},
  {'value': 'FamilyHome', 'text': 'Family Home'},
  {'value': 'HDFC', 'text': 'Housing Development Fund Company (HDFC) Cooperative'},
  {'value': 'LimitedDividendDevelopment', 'text': 'Limited Dividend development apartments'},
  {'value': 'MitchellLama', 'text': 'Mitchell-Lama apartments'},
  {'value': 'NYCHA', 'text': 'NYCHA Housing'},
  {'value': 'MarketRate', 'text': 'Non-Regulated or Market Rate apartment'},
  {'value': 'RedevelopmentCompany', 'text': 'Redevelopment Company apartments'},
  {'value': 'RentControlled', 'text': 'Rent controlled or rent stabilized apartment'},
  {'value': 'RentRegulatedHotel', 'text': 'Rent Regulated Hotel/Single Room'},
  {'value': 'Section213', 'text': 'Section 213 apartments'},
  {'value': '', 'text': 'None of these apply'}
] %}

<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-housing-situation">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div> {# hidden #}

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-housing-situation">
        {{ __('Housing Situation', 'accessnyc-screener') }}
      </a>

      <div class="js-toggle-question p-horizontal-2 p-bottom-2 hidden"> {# hidden #}

        <label class="{{styles.labels}}">
          {{ __('What is your current housing situation?', 'accessnyc-screener') }}
        </label>
        <div class="screener-checkboxes js-screener-checkbox-group">
          {% for option in rentingOptions %}
          <label class="styled-checkbox screener-checkbox screener-checkboxes-program screener-label">
            <input class="js-screener-toggle" type="checkbox" name="Household.{{option.value}}" value="1"
              data-toggles="{{option.toggles}}"
              data-type="boolean">
            <span class="styled-checkbox-label">{{ __(option.text, 'accessnyc-screener') }}</span>
          </label>
          {% endfor %}
        </div>

        <div class="hidden" id="screener-rental-type">

          <div class="m-top" data-scope="_household">
            <label class="{{styles.labels}}" for="housing-livingRentalType">
              {{ __('Which type of rental do you live in?', 'accessnyc-screener') }}
            </label>
            <select id="housing-livingRentalType" class="screener-select js-screener-toggle" name="Household.livingRentalType"
              data-val="livingRentalType"
              data-toggles="#screener-lease-owner">
              {% for option in housingOptions %}
              <option value="{{option.value}}">{{ __(option.text, 'accessnyc-screener') }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="m-top-2 js-screener-checkbox-group hidden" id="screener-lease-owner">

            <div v-if="singleOccupant()">

              <label class="{{styles.labels}}">
                {{ __('Are you on the lease?', 'accessnyc-screener') }}
              </label>
              <div class="screener-radio-buttons m-bottom">
                <label class="screener-radio screener-label"
                  for="person-0-livingRentalOnLease-true">
                  <input class="js-screener-toggle screener-radio-input sr-only" value="true" type="radio" name="Person[0].livingRentalOnLease" id="person-0-livingRentalOnLease-true"
                    data-type="boolean">
                  <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
                </label>
                <label class="screener-radio screener-label"
                  for="person-0-livingRentalOnLease-false">
                  <input class="js-screener-toggle screener-radio-input sr-only" value="false" type="radio" name="Person[0].livingRentalOnLease" id="person-0-livingRentalOnLease-false" checked
                    data-type="boolean">
                  <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
                </label>
              </div>

            </div>
            <div v-else>

              <label class="{{styles.labels}}">
                {{ __('Who is on the lease?', 'accessnyc-screener') }}
              </label>
              <div v-for="(p, personIndex) in people">
                <label class="styled-checkbox screener-checkbox screener-label"
                  v-bind:for="'person-' + personIndex + '-livingRentalOnLease'">
                  <input type="checkbox" value="true"
                    data-value="livingRentalOnLease"
                    v-bind:name="'Person[' + personIndex + '].livingRentalOnLease'"
                    v-bind:id="'person-' + personIndex + '-livingRentalOnLease'">
                  <span class="styled-checkbox-label">
                    <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>
                  </span>
                </label>
              </div>

            </div>

          </div>

        </div>

        <div class="m-top-2 hidden" id="screener-homeowner">

          <div v-if="singleOccupant()">

            <label class="{{styles.labels}}">
              {{ __('Are you the owner?', 'accessnyc-screener') }}
            </label>
            <div class="screener-radio-buttons m-bottom">
              <label class="screener-radio screener-label" for="person-0-livingOwnerOnDeed-true">
                <input class="js-screener-toggle screener-radio-input sr-only" value="true" type="radio" name="Person[0].livingRentalOnDeed" id="person-0-livingOwnerOnDeed-true"
                  data-type="boolean">
                <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
              </label>
              <label class="screener-radio screener-label" for="person-0-livingOwnerOnDeed-false">
                <input class="js-screener-toggle screener-radio-input sr-only" value="false" type="radio" name="Person[0].livingRentalOnDeed" id="person-0-livingOwnerOnDeed-false" checked
                  data-type="boolean">
                <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
              </label>
            </div>

          </div>
          <div v-else>

            <label class="{{styles.labels}}">
              {{ __('Who is the owner?', 'accessnyc-screener') }}
            </label>
            <div class="screener-members">
              <div v-for="(p, personIndex) in people">
                <label class="styled-checkbox screener-checkbox screener-label"
                  v-bind:for="'person-' + personIndex + '-livingOwnerOnDeed'">
                  <input type="checkbox" value="true" name="livingRentalOnDeed"
                    data-value="livingRentalOnLease"
                    v-bind:id="'person-' + personIndex + '-livingOwnerOnDeed'"
                    v-bind:name="'Person[' + personIndex + '].livingOwnerOnDeed'">
                  <span class="styled-checkbox-label">
                    <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>
                  </span>
                </label>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</fieldset>
