<section id="determine-your-eligibility" data-js="program-detail-step" class="hidden:overflow{% if step in sectionArray | keys %} active{% endif %} print:active">
  <header>
    <h3 class="text-color-blue-dark">
      {{ stepNumber }}. {{__('Determine your eligibility', 'accessnyc-program-detail')}}
    </h3>
  </header>

  {% if post.plain_language_eligibility | length %}<div class='c-checklist'>
  {{ post.get_field('plain_language_eligibility') }}
  {% endif %}</div>

  {% if post.display_screen_for_eligibility_box %}
  <div class="c-alert-box bg-status-info mb-4 print:hidden">
    <div class="icon c-alert-box__icon" aria-hidden="true">
      <div class="c-alert-box__svg bg-icon-info"></div>
    </div>
    <div class="c-alert-box__body">
      <p>{{__('Take a short survey to see if you might be eligible for this or 30 other programs.', 'accessnyc-program-detail')}}</p>
      <a class="btn btn-primary btn-small align-text-bottom" href="{{ urlBase }}/eligibility">
        <svg class="icon icon-screening" aria-hidden="true" style="width:20px;height:20px;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-screening"></use>
        </svg>
        {{__('Am I Eligible?', 'accessnyc-program-detail')}}
      </a>
    </div>
  </div>
  {% endif %}

  {% if nextStep != '' %}
  {% include 'program-detail-partials/next-button.twig' %}
  {% endif %}
</section>
