<section id="what-you-need-to-include" data-js="program-detail-step" class="hidden:overflow{% if step in sectionArray | keys %} active{% endif %} print:active">
  <header>
    <h3 class="text-color-blue-dark">
      {{ stepNumber }}. {{__('What you need to include', 'accessnyc-program-detail')}}
    </h3>
  </header>

  {{ post.get_field('what_you_need_to_include_intro_text') }}

  {% for item in post.get_field('what_you_need_to_include') %}
  <article id="what-you-need-to-include-{{ loop.index }}" class="c-accordion" data-js="accordion" data-js-active="{% if loop.index == 1 %}active{% endif %}">
    <header class="c-accordion__header">
      <p>{{ item.heading }}</p>
      <a href="what-you-need-to-include-{{ loop.index }}__body" class="c-accordion__toggle print:hidden" v-on:click="toggle">
        <span v-if="active">- {{__('hide this list', 'accessnyc-program-detail')}}</span>
        <span v-else>+ {{__('show this list', 'accessnyc-program-detail')}}</span>
      </a>
    </header>
    <div id="what-you-need-to-include-{{ loop.index }}__body"
         class="c-accordion__body print:active hidden:overflow animated"
         v-bind:class="{active: active}"
         v-bind:aria-hidden="ariaHidden(active)">
      <div class="c-accordion__padding" v-bind:class="{'animated fadeInUp': active}">
        {{ item.body }}
      </div>
    </div>
  </article>
  {% endfor %}

  {% if nextStep != '' %}
  {% include 'program-detail-partials/next-button.twig' %}
  {% endif %}
</section>
