<fieldset class="{{ styles.fieldset.main }}">
  <div class="{{ styles.fieldset.inner }}" id="question-household-member-details">
    <div class="{{ styles.fieldset.highlight }}" data-js="toggle-question"></div>

    <div class="{{ styles.fieldset.content }}">
      <a class="{{ styles.questions.main }}" data-js="question" href="#question-household-member-details">
        {{ __('Household Member Details', translationID) }}
      </a>

      <div class="{{ styles.questions.toggle }}" data-js="toggle-question">
        <div v-if="singleOccupant()" class="c-question mb-0">
          <label class="c-question__label {{ styles.inputs.label }}">
            {{ __('Do any of these apply to you?', translationID) }}
          </label>

          <div class="c-question__container screen-tablet:layout--columns-gutter">
            {% for option in benefitOptions %}
            <label class="checkbox" for="Household.{{ option.dataKey }}">
              <input type="checkbox" name="Household.{{ option.dataKey }}" id="Household.{{ option.dataKey }}" value="1"
                data-type="boolean"
                data-object="people"
                data-key="{{ option.dataKey }}"
                data-index="0"
                data-reset="#household-reset"
                v-on:change="setAttr">
              <span class="checkbox__label">{{ __(option.label, translationID) }}</span>
            </label>
            {% endfor %}

            <label class="checkbox" for="Household.{{ studentOptions.dataKey }}">
              <input type="checkbox" name="Household.{{ studentOptions.dataKey }}" id="Household.{{ studentOptions.dataKey }}" value="1"
                data-type="boolean"
                data-object="people"
                data-key="{{ studentOptions.dataKey }}"
                data-index="0"
                data-reset="#household-reset"
                v-on:change="setAttr">
              <span class="checkbox__label">{{ __(studentOptions.label, translationID) }}</span>
            </label>

            <label class="checkbox" for="Household.{{ employmentOptions.dataKey }}">
              <input type="checkbox" name="Household.{{ employmentOptions.dataKey }}" id="Household.{{ employmentOptions.dataKey }}" value="1"
                data-type="boolean"
                data-object="people"
                data-key="{{ employmentOptions.dataKey }}"
                data-index="0"
                data-reset="#household-reset"
                v-on:change="setAttr">
              <span class="checkbox__label">{{ __(employmentOptions.label, translationID) }}</span>
            </label>
          </div>

          <div v-if="people[0]._attrs.{{ studentOptions.dataKey }}" class="c-question mb-0 mt-4">
            <label class="c-question__label {{ styles.inputs.label }}">
              {{ __('Are you a full-time student?', translationID) }}
            </label>

            <div class="c-question__container">
              <label class="toggle" for="Person[0].{{ studentOptions.dataSubKey }}.true">
                <input name="Person[0].{{ studentOptions.dataSubKey }}" id="Person[0].{{ studentOptions.dataSubKey }}.true" type="radio" value="true" class="sr-only"
                  data-type="boolean"
                  data-object="people"
                  data-key="{{ studentOptions.dataSubKey }}"
                  data-index="0"
                  v-on:change="setAttr">
                <span class="toggle__label">{{ __('Yes', translationID) }}</span>
              </label>

              <label class="toggle" for="Person[0].{{ studentOptions.dataSubKey }}.false">
                <input name="Person[0].{{ studentOptions.dataSubKey }}" id="Person[0].{{ studentOptions.dataSubKey }}.false" class="sr-only" value="false" type="radio" checked
                  data-type="boolean"
                  data-object="people"
                  data-key="{{ studentOptions.dataSubKey }}"
                  data-index="0"
                  v-on:change="setAttr">
                <span class="toggle__label">{{ __('No', translationID) }}</span>
              </label>
            </div>
          </div>

          <div v-if="people[0]._attrs.{{ employmentOptions.dataKey }}" class="c-question mb-0 mt-4">
            <label class="c-question__label {{ styles.inputs.label }}">
              {{ __('Did you work in the last 18 months?', translationID) }}
            </label>

            <div class="c-question__container">
              <label class="toggle" for="Person[0].{{ employmentOptions.dataSubKey }}.true">
                <input name="Person[0].{{ employmentOptions.dataSubKey }}" id="Person[0].{{ employmentOptions.dataSubKey }}.true" type="radio" value="true" class="sr-only"
                  data-type="boolean"
                  data-object="people"
                  data-key="{{ employmentOptions.dataSubKey }}"
                  data-index="0"
                  v-on:change="setAttr">
                <span class="toggle__label">{{ __('Yes', translationID) }}</span>
              </label>

              <label class="toggle" for="Person[0].{{ employmentOptions.dataSubKey }}.false">
                <input name="Person[0].{{ employmentOptions.dataSubKey }}" id="Person[0].{{ employmentOptions.dataSubKey }}.false" class="sr-only" value="false" type="radio" checked
                  data-type="boolean"
                  data-object="people"
                  data-key="{{ employmentOptions.dataSubKey }}"
                  data-index="0"
                  v-on:change="setAttr">
                <span class="toggle__label">{{ __('No', translationID) }}</span>
              </label>
            </div>
          </div>

          <label class="checkbox mt-4" for="household-reset">
            <input id="household-reset" id="household-reset" type="checkbox" value="false" checked
              data-type="boolean"
              data-object="people"
              data-key="{% for option in benefitOptions %}{{ option.dataKey }},{% endfor %}{{ employmentOptions.dataKey }},{{ employmentOptions.dataSubKey }},{{ studentOptions.dataKey }},{{ studentOptions.dataSubKey }}"
              data-index="0"
              v-on:change="resetAttr">

            <span class="checkbox__label">{{ __('None of these apply to me', translationID) }}</span>
          </label>
        </div>
        <div v-else>
          <label class="c-question__label {{ styles.inputs.label }} mb-4">
            {{ __('Tell us a little more about you and your household.', translationID) }}
          </label>

          {% for question in benefitOptions %}
          {% include 'timber/field/question-toggles-household-member-details.twig' with {question: question} %}
          {% endfor %}

          <div class="mb-4">
            {% include 'timber/field/question-toggles-unemployed.twig' with {question: studentOptions} %}
          </div>

          <div>
            {% include 'timber/field/question-toggles-unemployed.twig' with {question: employmentOptions} %}
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
