<fieldset class="{{ styles.fieldset.main }}">
  <div class="{{ styles.fieldset.inner }}" id="question-confirmation">
    <div class="{{ styles.fieldset.highlight }}"></div>

    <div class="{{ styles.fieldset.content }}">
      <a class="{{ styles.questions.main }}" href="#question-confirmation">
        {{ __('Is all of your information correct?', translationID) }}
      </a>

      <div class="{{ styles.questions.toggle }}">
        <div> {# Client Needs #}
          <h3 class="type-h4 {{ styles.inputs.label }}">
            {{ __('Looking for help with', translationID) }}
            <a class="btn-text btn-link mx-2" data-js="question" href="#question-client-needs" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-client-needs/edit'}])">{{ __('Edit', translationID) }}</a>
          </h3>

          <div class="layout--gutter screen-tablet:layout--columns-gutter" v-if="client._attrs.programCategories.length">
            <article class="c-card p-0 items-center bg-color-transparent" v-for="(c, index) in client._attrs.programCategories">
              <div class="c-card__icon">
                <span class="icon">
                  <svg v-bind:class="'icon icon-' + c">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind:xlink:href="'#icon-' + c"></use>
                  </svg>
                </span>
              </div>
              <div class="c-card__body">v{ localString(c) }</div>
            </article>
          </div><div v-else>
            <p class="text-small">
              {{ __('No categories selected.', translationID) }}
            </p>
          </div>
        </div>

        <hr class="{{ styles.fieldset.divider }}">

        <div>{# Client Services #}
          <h3 class="type-h4 {{ styles.inputs.label }}">
            {{ __('Currently Enrolled Programs', translationID) }}
            <a class="btn-text btn-link mx-2" data-js="question" href="#question-client-services" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-client-services/edit'}])">{{ __('Edit', translationID) }}</a>
          </h3>

          <div v-if="client._attrs.programsEnrolled.length > 0" >
            <ul class="list-reset w-100">
              <li class="mb-2" v-for="(program, index) in client._attrs.programsEnrolled">
                  v{ localString(program) } <button type="button" class="btn-text btn-link px-2" v-on:click="client._attrs.programsEnrolled.splice(index, 1)">{{ __('Remove', translationID) }}</button>
              </li>
            </ul>
          </div><div v-else>
            <p class="text-small">
              {{ __('No programs selected.', translationID) }}
            </p>
          </div>
        </div>

        <hr class="{{ styles.fieldset.divider }}">

        <div>{# Client Basics #}
          <h3 class="type-h4 {{ styles.inputs.label }}">
            {{ __('Client information', translationID) }}
            <a class="btn-text btn-link mx-2" data-js="question" href="#question-client-basics" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-client-basics/edit'}])">{{ __('Edit', translationID) }}</a>
          </h3>

          <div class="flex mb-2" v-if="Object.keys(getAttrs('client', 'firstName,lastName')).length > 0">
            <div class="flex-none" style="width:7rem">
              {{ __('Name:', translationID) }}
            </div>
            <div>v{ client._attrs.firstName } v{ client._attrs.lastName }</div>
          </div><div v-else>
            <p class="text-small">
              {{ __('Name isn\'t filled out <span class="c-red">*</span>', translationID) }}
            </p>
          </div>

          <div class="flex mb-2" v-if="people[0]._attrs.age > 0">
            <div class="flex-none" style="width:7rem">
              {{ __('Age:', translationID) }}
            </div>
            <div>v{ people[0]._attrs.age }</div>
          </div><div v-else>
            <p class="text-small">
              {{ __('Age isn\'t filled out <span class="c-red">*</span>', translationID) }}
            </p>
          </div>

          <div class="flex mb-2" v-if="household._attrs.zip !== ''">
            <div class="flex-none" style="width:7rem">
              {{ __('Zip code:', translationID) }}
            </div>
            <div>v{ household._attrs.zip }</div>
          </div><div v-else>
            <p class="text-small">
              {{ __('Zip code isn\'t filled out <span class="c-red">*</span>', translationID) }}
            </p>
          </div>
        </div>

        <hr class="{{ styles.fieldset.divider }}">

        {# Client Contact #}
        <div>
          <h3 class="type-h4 {{ styles.inputs.label }}">
            {{ __('Client Contact', translationID) }}
            <a class="btn-text btn-link mx-2" data-js="question" href="#question-client-contact" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-client-contact/edit'}])">{{ __('Edit', translationID) }}</a>
          </h3>

          <div class="flex mb-2" v-if="client._attrs.language.length > 0">
            <div class="flex-none" style="width:7rem">
              {{ __('Language:', translationID) }}
            </div>
            <ul class="list-inline-semicolon">
              <li v-for="language in client._attrs.language">
                <span v-if="language === 'other'">v{ client._attrs.languageOther }</span>
                <span v-else>v{ localString(language) }</span>
              </li>
            </ul>
          </div><div v-else>
            <p class="text-small">
              {{ __('No preferred language selected.', translationID) }}
            </p>
          </div>

          <div class="flex mb-2" v-if="client._attrs.phone !== ''">
            <div class="flex-none" style="width:7rem">
              {{ __('Phone:', translationID) }}
            </div>
            <ul class="list-inline-semicolon">
              <li>v{ client._attrs.phone }</li>
              <li>v{ localString(client._attrs.phoneType) }</li>
            </ul>
          </div>

          <div class="flex mb-2" v-if="client._attrs.phoneAlt !== ''">
            <div class="flex-none" style="width:7rem">
              {{ __('Alternate phone:', translationID) }}
            </div>
            <ul class="list-inline-semicolon">
              <li>v{ client._attrs.phoneAlt }</li>
              <li>v{ localString(client._attrs.phoneAltType) }</li>
            </ul>
          </div>

          <div v-if="client._attrs.phone === '' && client._attrs.phoneAlt === ''">
            <p class="text-small">
              {{ __('No phone numbers added.', translationID) }}
            </p>
          </div>

          <div class="flex mb-2" v-if="client._attrs.contactTimes.length > 0">
            <div class="flex-none" style="width:7rem">
              {{ __('Best times to contact:', translationID) }}
            </div>
            <ul class="list-inline-semicolon">
              <li v-for="time in client._attrs.contactTimes">v{ localString(time) }</li>
            </ul>
          </div><div v-else>
            <p class="text-small">
              {{ __('No contact times selected.', translationID) }}
            </p>
          </div>

          <div class="flex mb-2" v-if="client._attrs.email !== ''">
            <div class="flex-none" style="width:7rem">
              {{ __('Email:', translationID) }}
            </div>
            <div>v{ client._attrs.email }</div>
          </div><div v-else>
            <p class="text-small">
              {{ __('No email added.', translationID) }}
            </p>
          </div>

          <div class="flex" v-if="Object.keys(getAttrs('client', addressAttrs)).length > 0">
            <div class="flex-none" style="width:7rem">
              {{ __('Address:', translationID) }}
            </div>
            <ul class="list-inline-semicolon">
              <li v-for="(value, key) in getAttrs('client', addressAttrs)" v-if="key != 'streetName'">
                <span v-if="key === 'unit'">Unit # </span>
                <span v-if="key === 'streetNumber'">v{ value } v{ client._attrs.streetName }</span>
                <span v-else>v{ localString(value) }</span>
              </li>
            </ul>
          </div>
        </div>

        <hr class="{{ styles.fieldset.divider }}">

        <div>{# Household #}
          <h3 class="type-h4 {{ styles.inputs.label }}">
            {{ __('Household:', translationID) }} v{ people.length }
            <span v-if="singleOccupant()">{{ __('person', translationID) }}</span>
            <span v-else>{{ __('people', translationID) }}</span>
            <a class="btn-text btn-link mx-2" href="#question-household-information" data-js="question" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-household-information/edit'}])">{{ __('Edit', translationID) }}</a>
          </h3>

          <div class="mb-2" v-for="(p, personIndex) in people">
            <div class="mb-2">
              <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel>

              <span v-if="personIndex === 0">
                <a class="btn-text btn-link px-2" href="#question-household-information" data-js="question" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-household-information/edit'}])">{{ __('Edit', translationID) }}</a>
              </span><span v-else>
                <a class="btn-text btn-link px-2" href="#question-household-members" data-js="question" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-household-members/edit'}])">{{ __('Edit', translationID) }}</a>
                <button type="button" class="btn-text btn-link px-2" v-on:click="people.splice(personIndex, 1);track('Edit', [{'DCS.dcsuri': 'remove-household-member/remove'}])">{{ __('Remove', translationID) }}</button>
              </span>
            </div>

            {# conditions #}
            <div class="flex mb-2" v-if="Object.keys(getAttrs('people', conditionAttrs, personIndex)).length > 0">
              <div class="flex-none" style="width:7rem">{{ __('Conditions:', translationID) }}</div>
              <ul class="list-inline-semicolon">
                <li v-for="(value, key) in getAttrs('people', conditionAttrs, personIndex)">v{ localString(key) }</li>
              </ul>
            </div>

            {# benefits #}
            <div class="flex mb-2" v-if="Object.keys(getAttrs('people', benefitAttrs, personIndex)).length > 0">
              <div class="flex-none" style="width:7rem">{{ __('Benefits:', translationID) }}</div>
              <ul class="list-inline-semicolon">
                <li v-for="(value, key) in getAttrs('people', benefitAttrs, personIndex)">v{ localString(key) }</li>
              </ul>
            </div>

            {# income #}
            <div class="flex" v-if="p._attrs.incomes.length > 0">
              <div class="flex-none" style="width:7rem">{{ __('Income:', translationID) }}</div>
              <ul class="list-inline-semicolon">
                <li v-for="income in p._attrs.incomes" class="list-inline-comma">
                  <span>v{ '$' + income.amount }</span>
                  <span>v{ localString(income.type) }</span>
                  <span>v{ localString(income.frequency) }</span>
                </li>
              </ul>
            </div>

            {# expenses #}
            <div class="flex" v-if="p._attrs.expenses.length > 0">
              <div class="flex-none" style="width:7rem">{{ __('Expenses:', translationID) }}</div>
              <ul class="list-inline-semicolon">
                <li v-for="expense in p._attrs.expenses" class="list-inline-comma">
                  <span>v{ '$' + expense.amount }</span>
                  <span>v{ localString(expense.type) }</span>
                  <span>v{ localString(expense.frequency) }</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <hr class="{{ styles.fieldset.divider }}">

        {# Savings #}
        <div>
          <h3 class="type-h4 {{ styles.inputs.label }}">
            {{ __('Household resources:', translationID) }}
            v{ '$' + household._attrs.cashOnHand }
            <a class="btn-text btn-link mx-2" href="#question-household-total-savings" data-js="question" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-household-total-savings/edit'}])">{{ __('Edit', translationID) }}</a>
          </h3>

          <p>{{ __('This is cash on hand; checking or savings accounts; stocks, bonds or mutual funds.', translationID) }}</p>
        </div>

        <hr class="{{ styles.fieldset.divider }}">

        {# Housing #}
        <div>
          <h3 class="type-h4 {{ styles.inputs.label }}">
            {{ __('Housing', translationID) }}
            <a class="btn-text btn-link mx-2" href="#question-housing-situation" data-js="question" v-on:click="track('Edit', [{'DCS.dcsuri': 'question-housing-situation/edit'}])">{{ __('Edit', translationID) }}</a>
          </h3>

          <ul class="list-reset">
            <li v-for="(value, key) in getAttrs('household', livingAttrs)" class="mb-2">
              <p>v{ localString(key) }<span v-if="key === 'livingRenting'">v{ ' (' + localString(household._attrs.livingRentalType) + ')' }</span></p>

              <div class="pb-2" v-if="key === 'livingRenting'">
                <div class="mb-2" v-for="(p, personIndex) in people" v-if="p._attrs.livingRentalOnLease">
                  <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel><span v-if="personIndex === 0">{{ __(', are on the lease', translationID) }}</span><span v-else>{{ __(', is on the lease', translationID) }}</span>
                </div>
              </div>

              <div class="pb-2" v-if="key === 'livingOwner'">
                <div class="mb-2" v-for="(p, personIndex) in people" v-if="p._attrs.livingOwnerOnDeed">
                  <personlabel v-bind:index="personIndex" v-bind:person="p._attrs"></personlabel><span v-if="personIndex === 0">{{ __(', are an owner', translationID) }}</span><span v-else>{{ __(', is an owner', translationID) }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</fieldset>
