{% set expenseOptions = [
  {'value': 'ChildCare', 'text': 'Child Care'},
  {'value': 'ChildSupport', 'text': 'Child Support (Paid)'},
  {'value': 'Cooling', 'text': 'Cooling'},
  {'value': 'DependentCare', 'text': 'Dependent Care'},
  {'value': 'Heating', 'text': 'Heating'},
  {'value': 'Medical', 'text': 'Medical expense'},
  {'value': 'Mortgage', 'text': 'Mortgage'},
  {'value': 'Rent', 'text': 'Rent'},
  {'value': 'Telephone', 'text': 'Telephone'},
  {'value': 'InsurancePremiums', 'text': 'Third Party Insurance Premiums'},
  {'value': 'Utilities', 'text': 'Utilities'}
] %}

{% set frequencyOptions = [
  {'value': 'weekly', 'text': 'Every week'},
  {'value': 'biweekly', 'text': 'Every 2 weeks'},
  {'value': 'monthly', 'text': 'Every month'},
  {'value': 'semimonthly', 'text': 'Every 2 months'},
  {'value': 'yearly', 'text': 'Every year'}
] %}

<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-household-expenses">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div> {# hidden #}

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-household-expenses">
        {{ __('Household Expenses', 'accessnyc-screener') }}
      </a>

      <div class="p-horizontal-2 p-bottom js-toggle-question hidden"> {# hidden #}

        <div>
          <label class="{{styles.labels}}">
            {{ __('What expenses did your household have most recently?', 'accessnyc-screener') }}
          </label>
          <div class="screener-checkboxes">
            {% for option in expenseOptions %}
            <label class="screener-checkbox styled-checkbox screener-checkboxes-program screener-label">
              <input
                data-toggles="#js-toggle-expense-{{ option.value }}"
                class="js-screener-toggle"
                type="checkbox"
                name="category"
                value="1">
              <span class="styled-checkbox-label">
                {{ option.text }}
              </span>
            </label>
            {% endfor %}
          </div>
        </div>

        {% for option in expenseOptions %}

        <div id="js-toggle-expense-{{ option.value }}" class="hidden"> {# hidden #}

          <div class="p-top p-bottom-2">
            <hr class="m-0 screener-divider">
          </div>

          <div>
            <label class="{{styles.labels}}">
              {{ __('Who contributes to', 'accessnyc-screener') }}: <span class="c-blue">{{ option.text }}</span>{{ __('?') }}
            </label>
            <div class="screener-members" data-scope="_household">
              <div data-for="members" aria-hidden="true">
                <script type="text/template">
                  <label class="styled-checkbox screener-checkbox screener-label">
                    <input
                      data-toggles="#js-toggle-people-<%= members.index %>-{{ option.value }}"
                      class="js-screener-toggle"
                      type="checkbox"
                      name="<%= members.index %>-expenses"
                      value="1"
                    />
                    <span data-scope="_people[<%= members.index %>]" class="styled-checkbox-label">
                      {% include 'screener-proto-partials/member-format.twig' %}
                    </span>
                  </label>
                </script>
              </div>
            </div>
          </div>

          <div class="screener-members" data-scope="_household">
            <div data-for="members" aria-hidden="true">
              <script type="text/template">

                <div
                  data-scope="_people[<%= members.index %>]"
                  id="js-toggle-people-<%= members.index %>-{{ option.value }}"
                  class="hidden">

                  <div class="m-bottom-2">
                    <label class="{{styles.labels}}">
                      {{ __('How much', 'accessnyc-screener') }}
                      <% if (members.index === 0) { %>
                        {{ __('do', 'accessnyc-screener') }}
                      <% } else { %>
                        {{ __('does', 'accessnyc-screener') }}
                      <% } %>
                      {% include 'screener-proto-partials/member-format.twig' %}
                      {{ __('contribute to', 'accessnyc-screener') }}: <span class="c-blue">{{ option.text }}</span>{{ __('?') }}
                    </label>
                    <div class="currency-usd m-0">
                      <input
                        data-type="float"

                        id="person-<%= members.index %>-expenses--amount"
                        name="Person[<%= members.index %>].expenses[].amount"
                        type="number"
                        min="0"
                        required>
                    </div>
                  </div>

                  <div>
                    <label class="{{styles.labels}}" for="person-<%= members.index %>-expenses--frequency">
                      {{ __('How often do', 'accessnyc-screener') }}
                      {% include 'screener-proto-partials/member-format.twig' %}
                      {{ __('contribute to', 'accessnyc-screener') }}: <span class="c-blue">{{ option.text }}</span>{{ __('?') }}
                    </label>
                    <div class="screener-checkboxes">
                      {% for option in frequencyOptions %}
                      <label class="screener-checkbox styled-radio screener-checkboxes-program screener-label">
                        <input
                          type="radio"
                          id="person-<%= members.index %>-expenses--frequency"
                          name="Person[<%= members.index %>].expenses[].frequency"
                          value="{{ option.value }}" {% if option.value == 'monthly'%}checked{% endif %}>
                        <span class="styled-radio-label">
                          {{ __(option.text, 'accessnyc-screener') }}
                        </span>
                      </label>
                      {% endfor %}
                    </div>
                  </div>

                </div>

              </script>
            </div>
          </div>

        </div>

        {% endfor %}

      </div>

    </div>

  </div>

</fieldset>
