{% if (question) %}
<label class="{{styles.labels}}">
  {{ __(question, 'accessnyc-screener') }}
</label>
{% endif %}
<div class="screener-radio-buttons">
  <label class="screener-radio screener-label">
    <input
      data-type="boolean"
      data-shows="#js-toggle-{{dataKey}}"
      class="js-screener-toggle screener-radio-input sr-only"
      value="true"
      type="radio"
      name="toggle-{{dataKey}}"/>
    <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
  </label>
  <label class="screener-radio screener-label">
    <input
      data-type="boolean"
      data-hides="#js-toggle-{{dataKey}}"
      class="js-screener-toggle screener-radio-input sr-only"
      value="false"
      type="radio"
      name="toggle-{{dataKey}}" checked/>
    <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
  </label>
</div>

<div id="js-toggle-{{dataKey}}" class="hidden">

  <div class="m-top-2">

    <label class="{{styles.labels}}">
      {{ __(who, 'accessnyc-screener') }}
    </label>
    <div class="screener-members" data-scope="_household">
      <div data-for="members" aria-hidden="true">
        <script type="text/template">
          <div data-scope="_people[<%= members.index %>]">

            <label class="styled-checkbox screener-checkbox screener-label m-top">
              <input
                data-val="{{dataKey}}"
                type="checkbox"
                name="Person[<%= members.index %>].{{dataKey}}"
                value="true"
              />
              <span class="styled-checkbox-label">
                {% include 'screener-proto-partials/member-format.twig' %}
              </span>
            </label>

            <div data-class="({{dataKey}})?'':'hidden'" class="hidden">

              <label class="screener-label d-block m-bottom m-top">
                {{ __('Has', 'accessnyc-screener') }}
                {% include 'screener-proto-partials/member-format.twig' %}
                {{ __(subQuestion, 'accessnyc-screener') }}
              </label>

              <div class="screener-radio-buttons m-bottom-2">
                <label class="screener-radio screener-label">
                  <input
                    data-type="boolean"
                    data-val="{{dataSubKey}}"
                    class="screener-radio-input sr-only"
                    value="true"
                    type="radio"
                    name="Person[<%= members.index %>].{{dataSubKey}}"/>
                  <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
                </label>
                <label class="screener-radio screener-label">
                  <input
                    data-type="boolean"
                    data-val="{{dataSubKey}}"
                    class="screener-radio-input sr-only"
                    value="false"
                    type="radio"
                    name="Person[<%= members.index %>].{{dataSubKey}}"/>
                  <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
                </label>
              </div>

            </div>

          </div>

        </script>
      </div>
    </div>

  </div>
</div>
