<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-client-basics">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-client-basics">
        {{ __('Client Basics', 'accessnyc-screener') }}
      </a>

      <div class="js-toggle-question hidden p-horizontal-2 p-bottom-2 hidden">

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-first">
            {{ __('First Name', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <input id="person-0-first" name="Person[0].first" value="" required>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-last">
            {{ __('Last Name', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <input id="person-0-last" name="Person[0].last" value="" required>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="person-0-age">
            {{ __('How old are you?', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <div data-scope="_people[0]" class="screener-question-container">
            <input
              data-val="age"
              data-type="integer"
              id="person-0-age"
              name="Person[0].age"
              type="number"
              value=""
              min="0"
              maxlength="3"
              pattern="[0-9]"
              step="1"
              required>
          </div>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="household-zip">
            {{ __('Zip code?', 'accessnyc-screener') }}
            <span class="c-red">*</span>
          </label>
          <div id="what-is-your-zip-code">
            <div data-scope="_household" class="screener-question-container">
              <input
                data-val="zip"
                data-type="zip"
                id="household-zip"
                name="Household.zip"
                type="number"
                maxlength="5"
                pattern="[0-9]"
                required>
            </div>
          </div>
        </div>

        <div>
          <label class="{{styles.labels}}" for="staff-email">
            {{ __('Is this person a current client with PEU?', 'accessnyc-screener') }}
          </label>
          <div data-scope="" class="screener-radio-buttons">
            <label class="screener-radio screener-label">
              <input
                data-val="currentClient"
                data-type="boolean"
                data-shows="#js-toggle-client-number"
                class="js-screener-toggle screener-radio-input sr-only"
                value="true"
                type="radio"
                name="Person[0].currentClient"/>
              <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
            </label>
            <label class="screener-radio screener-label">
              <input
                data-val="currentClient"
                data-type="boolean"
                data-hides="#js-toggle-client-number"
                class="js-screener-toggle screener-radio-input sr-only"
                value="false"
                type="radio"
                name="Person[0].currentClient" checked/>
              <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
            </label>
          </div>
        </div>

        <div class="m-top-2 hidden" id="js-toggle-client-number">
          <label class="{{styles.labels}}" for="person-0-number">
            {{ __('Client #', 'accessnyc-screener') }}
          </label>
          <input id="person-0-number" name="Person[0].number" value="" required>
        </div>

      </div>

    </div>

  </div>

</fieldset>{# /#step-3 #}
