<div class="p-bottom">

  {% if (question) %}
  <label class="screener-label d-block m-bottom">
    {{ __(question, 'accessnyc-screener') }}
  </label>
  {% endif %}
  <div class="screener-radio-buttons m-bottom">
    <label class="screener-radio screener-label">
      <input
        data-type="boolean"
        data-shows="#js-toggle-{{dataKey}}"
        class="js-screener-toggle screener-radio-input sr-only"
        value="true"
        type="radio"
        name="toggle-{{dataKey}}"/>
      <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
    </label>
    <label class="screener-radio screener-label">
      <input
        data-type="boolean"
        data-hides="#js-toggle-{{dataKey}}"
        class="js-screener-toggle screener-radio-input sr-only"
        value="false"
        type="radio"
        name="toggle-{{dataKey}}" checked/>
      <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
    </label>
  </div>

  <div id="js-toggle-{{dataKey}}" class="hidden">

    <div class="m-top-2">

      <label class="screener-label d-block m-bottom">
        {{ __(who, 'accessnyc-screener') }}
      </label>

      <div class="screener-members" data-scope="_household">
        <div data-for="members" aria-hidden="true">
          <script type="text/template">
              <label data-scope="_people[<%= members.index %>]" class="styled-checkbox screener-checkbox screener-label">
                <input
                  data-val="{{dataKey}}"
                  type="checkbox"
                  name="Person[<%= members.index %>].{{dataKey}}"
                  value="true"
                />
                <span class="styled-checkbox-label">
                  {% include 'screener-proto-partials/member-format.twig' %}
                </span>
              </label>
          </script>
        </div>
      </div>

    </div>

  </div>

</div>
