<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-peu-staff">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-peu-staff">
        {{ __('PEU Staff', 'accessnyc-screener') }}
      </a>

      <div class="js-toggle-question hidden p-horizontal-2 p-bottom-2 hidden">

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="staff-first">
            {{ __('PEU Staff First Name', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <input id="staff-first" name="Staff.first" value="" required>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="staff-last">
            {{ __('PEU Staff Last Name', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <input id="staff-last" name="Staff.last" value="" required>
        </div>

        <div class="m-bottom-2">
          <label class="{{styles.labels}}" for="staff-email">
            {{ __('PEU Staff Email', 'accessnyc-screener') }} <span class="c-red">*</span>
          </label>
          <input class="w-input-double" id="staff-email" name="Staff.email" value="" type="email" required>
        </div>

        <div>
          <label class="{{styles.labels}}" for="staff-email">
            {{ __('Is this person a current client with PEU?', 'accessnyc-screener') }}
          </label>
          <div data-scope="" class="screener-radio-buttons">
            <label class="screener-radio screener-label">
              <input
                data-val="currentClient"
                data-type="boolean"
                data-shows="#js-toggle-client-number"
                class="js-screener-toggle screener-radio-input sr-only"
                value="true"
                type="radio"
                name="Person[0].currentClient"/>
              <span class="screener-radio-label">{{ __('Yes', 'accessnyc-screener') }}</span>
            </label>
            <label class="screener-radio screener-label">
              <input
                data-val="currentClient"
                data-type="boolean"
                data-hides="#js-toggle-client-number"
                class="js-screener-toggle screener-radio-input sr-only"
                value="false"
                type="radio"
                name="Person[0].currentClient" checked/>
              <span class="screener-radio-label">{{ __('No', 'accessnyc-screener') }}</span>
            </label>
          </div>
        </div>

        <div class="m-top-2 hidden" id="js-toggle-client-number">
          <label class="{{styles.labels}}" for="person-0-number">
            {{ __('Client #', 'accessnyc-screener') }}
          </label>
          <input id="person-0-number" name="Person[0].number" value="" required>
        </div>

      </div>

    </div>

  </div>

</fieldset>
