<fieldset class="screener-body-step active js-screener-step" id="step-11">

  <h1 class="m-left-2 m-top">
    {{ __('Savings', 'accessnyc-screener') }}
  </h1>

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-household-assets">

    <div class="bg-blue-light overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <label class="screener-label" for="household-assets">
        <a class="d-block p-2" href="#question-household-assets">
          {{ __('How much does your whole household have right now in:', 'accessnyc-screener') }}
        </a>
      </label>

      <div class="js-toggle-question p-horizontal-2 p-bottom-2 hidden">

        <label class="screener-label" for="household-assets">
          &bull; {{ __('Cash on hand?', 'accessnyc-screener') }}<br>
          &bull; {{ __('Checking or saving accounts?', 'accessnyc-screener') }}<br>
          &bull; {{ __('Stocks, bonds or mutual funds?', 'accessnyc-screener') }}
        </label>

        <p class="screener-explanation">{{ __('Answer the best you can. We use this to help show you the programs that will be most helpful right now.', 'accessnyc-screener') }}</p>
        <div class="screener-question-container">
          <div class="currency-usd">
            <input class="js-screener-validate-step-ui" id="household-assets" type="number" name="Household.cashOnHand" data-type="float" min="0" value="">
          </div>
        </div>
      </div>

    </div>

  </div>

</fieldset>{# /#step-10 #}
