<header class="px-2 flex justify-between items-center color-dark-background">
  <svg class="icon icon-logo-mark screen-sm-mobile:hidden">
    <use xlink:href="#icon-logo-mark"></use>
  </svg>

  <svg class="icon icon-logo-full hidden screen-sm-mobile:inline-block" width="163">
    <use xlink:href="#icon-logo-full"></use>
  </svg>

  <nav class="nav-inline print:hidden px-3 flex-1 text-align-end">
    {% for m in peu_header_menu.get_items %}
    <a href="{{ m.link }}"
      {% if m.attr_title %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
      {% if m.target %}target="{{ m.target }}"{% endif %}
      {% if m.xfn %}rel="{{ m.xfn }}"{% endif %}>
      {{ m.title }}
    </a>
    {% endfor %}
  </nav>

  <div class="flex items-center print:hidden">
    <a class="btn btn-primary btn-small" {% if reload %}data-js="reload"{% else %}href="{{ root }}"{% endif %}>{{ __('New Client', translationID) }}</a>
  </div>
</header>