<fieldset class="{{ styles.fieldset.main }}">
  <div class="{{ styles.fieldset.inner }}" id="question-staff">
    <div class="{{ styles.fieldset.highlight }}" data-js="toggle-question"></div>

    <div class="{{ styles.fieldset.content }}">
      <a class="{{ styles.questions.main }}" href="#question-staff" data-js="question">
        {{ __('PEU Staff', translationID) }}
        <svg class="{{ styles.questions.warning }}" role="img" aria-label="{{ __('Some fields are invalid', translationID) }}"
          v-if="errors.all('Staff').length > 0">
          <title>{{ __('Some fields are invalid', translationID) }}</title>
          <use xlink:href="#icon-warning"></use>
        </svg>
      </a>

      <div class="{{ styles.questions.toggle }}" data-js="toggle-question">
        <div class="c-question">
          <label class="c-question__label {{ styles.inputs.label }}" for="staff-first">
            {{ __('PEU Staff First Name', translationID) }} <span class="text-color-red">*</span>
          </label>
          <div class="c-question__container"
            v-bind:class="{'error': errors.has('Staff.firstName', 'Staff')}">
            <div class="error-message"
              v-if="errors.has('Staff.firstName', 'Staff')">v{ errors.first('Staff.firstName', 'Staff') }</div>
            <input id="staff-first-name" name="Staff.firstName" value="" required
              data-vv-as="staff's first name"
              data-vv-scope="Staff"
              data-object="staff"
              v-validate="{required: true}"
              v-bind:value="staff._attrs.firstName"
              v-on:change="staff._attrs.firstName = $event.target.value; commit($event)">
          </div>
        </div>

        <div class="c-question">
          <label class="c-question__label {{ styles.inputs.label }}" for="staff-last">
            {{ __('PEU Staff Last Name', translationID) }} <span class="text-color-red">*</span>
          </label>
          <div class="c-question__container"
            v-bind:class="{'error': errors.has('Staff.lastName', 'Staff')}">
            <div class="error-message"
              v-if="errors.has('Staff.lastName', 'Staff')">v{ errors.first('Staff.lastName', 'Staff') }</div>
            <input id="staff-last-name" name="Staff.lastName" value="" required
              data-vv-as="staff's last name"
              data-vv-scope="Staff"
              data-object="staff"
              v-validate="{required: true}"
              v-bind:value="staff._attrs.lastName"
              v-on:change="staff._attrs.lastName = $event.target.value; commit($event)">
          </div>
        </div>

        <div class="c-question">
          <label class="c-question__label {{ styles.inputs.label }}" for="staff-email">
            {{ __('PEU Staff Email', translationID) }} <span class="text-color-red">*</span>
          </label>
          <div class="c-question__container"
            v-bind:class="{'error': errors.has('Staff.email', 'Staff')}">
            <div class="error-message"
              v-if="errors.has('Staff.email', 'Staff')">v{ errors.first('Staff.email', 'Staff') }</div>
            <input class="w-input-double" id="staff-email" name="Staff.email" value="" type="email" required
              data-vv-as="staff email"
              data-vv-scope="Staff"
              data-object="staff"
              v-validate="{required: true, email: true}"
              v-bind:value="staff._attrs.email"
              v-on:change="staff._attrs.email = $event.target.value; commit($event)">
          </div>
        </div>

        <div class="c-question">
          <label class="c-question__label {{ styles.inputs.label }}" for="staff-screener-location">
            {{ __('Screener Location', translationID) }} <span class="text-color-red">*</span>
          </label>
          <div class="c-question__container"
            v-bind:class="{'error': errors.has('Staff.screenerLocation', 'Staff')}">
            <div class="error-message"
              v-if="errors.has('Staff.screenerLocation', 'Staff')">v{ errors.first('Staff.screenerLocation', 'Staff') }</div>
            <select class="select" id="staff-screener-location" name="Staff.screenerLocation" value="" required
              data-object="staff"
              data-vv-as="screener location"
              data-vv-scope="Staff"
              v-validate="{required: true}"
              v-bind:value="staff._attrs.screenerLocation"
              v-on:change="staff._attrs.screenerLocation = $event.target.value; commit($event)">
              {% for location in screenerLocations %}
              <option value="{{ location.value }}">{{ __(location.text, translationID) }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="c-question m-0">
          <label class="c-question__label {{ styles.inputs.label }}" for="staff-email">
            {{ __('Is this person a current client with PEU?', translationID) }}
          </label>
          <div class="c-question__container">
            <label class="toggle">
              <input class="sr-only" value="true" type="radio" name="Client.currentClient"
                data-type="boolean"
                data-object="client"
                data-key="currentClient"
                v-on:change="setAttr">
              <span class="toggle__label">{{ __('Yes', translationID) }}</span>
            </label>
            <label class="toggle">
              <input class="sr-only" value="false" type="radio" name="Client.currentClient" checked
                data-type="boolean"
                data-object="client"
                data-key="currentClient"
                v-on:change="setAttr">
              <span class="toggle__label">{{ __('No', translationID) }}</span>
            </label>
          </div>
        </div>

        <div class="c-question m-0 mt-4" v-if="client._attrs.currentClient">
          <label class="c-question__label {{ styles.inputs.label }}" for="client-0-number">
            {{ __('PEU Case #', translationID) }}
          </label>
          <div class="c-question__container">
            <input id="client-number" name="Client.number" value="" required
              v-model="client._attrs.caseNumber">
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
