{% set translationID = 'field-screener' %}

{% extends 'base.twig' %}

{% block head %}
<meta name="theme-color" content="#112E51">
<link rel="manifest" href="{{theme.path}}/manifest-screener-field.4858bd3264978e3d0c842ace2f8b7f931084.json">
<meta name="robots" content="noindex,nofollow,noarchive">
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
{% set programResultTotal = selectedPrograms | length + additionalPrograms | length %}
<div class="layout--topbar">
  <header class="px-2 flex justify-between items-center color-dark-background">
    <svg class="icon icon-logo-mark screen-sm-mobile:hidden">
      <use xlink:href="#icon-logo-mark"></use>
    </svg>
    <svg class="icon icon-logo-full hidden screen-sm-mobile:inline-block" width="163">
      <use xlink:href="#icon-logo-full"></use>
    </svg>
    <nav class="nav-inline print:hidden px-3">
      {% for m in peu_header_menu.get_items %}
      <a href="{{ m.link }}"
        {% if m.attr_title %}title="{{ m.attr_title }}"{% else %}title="{{ m.title }}"{% endif %}
        {% if m.target %}target="{{ m.target }}"{% endif %}
        {% if m.xfn %}rel="{{ m.xfn }}"{% endif %}>
        {{ m.title }}
      </a>
      {% endfor %}
    </nav>
    <div class="flex items-center print:hidden">
      <a href="/peu/" class="btn btn-primary btn-small" data-js="reload">{{ __('New Client', translationID) }}</a>
    </div>
  </header>

  <main class="main-content" id="content" data-js="results">
    <div class="bg-color-white">
      <header class="c-header bg-color-blue-dark text-color-white font-smooth px-2">
        <div class="c-header__icon print:hidden">
          <svg class="icon icon-success rounded-full text-color-green bg-color-white">
            <use xlink:href="#icon-success"></use>
          </svg>
        </div>

        <div>{% spaceless %}
          <h1 class="c-header__descriptor">
            {% if programResultTotal == 0 %}
              {{__('There are no programs for you to look at.', 'accessnyc-results')}}
            {% elseif programResultTotal == 1 %}
              <span data-js="programs-total">{{ programResultTotal }}</span> {{__('program for you to look at.', 'accessnyc-results')}}
            {% else %}
              <span data-js="programs-total">{{ programResultTotal }}</span> {{__('programs for you to look at.', 'accessnyc-results')}}
            {% endif %}
          </h1>
          <p class="c-header__disclaimer">{{__('Remember that we can’t guarantee eligibility, but can only recommend programs for you to consider.', 'accessnyc-results')}}</p>
        {% endspaceless %}</div>
      </header>

      {% if WP_ENV != 'Production' %}
      <div class="screen-tablet:px-4 px-2 screen-tablet:pt-4 pt-2 print:hidden">
        {% include 'field/alert-environment.twig' %}
      </div>
      {% endif %}

      <form method="post" action="{{ action }}" class="w-full screen-tablet:px-4 px-2 screen-tablet:pt-4 pt-2 print:hidden" novalidate data-js="final-results">
        <h4>{{__('Finalize your results.', translationID)}}</h4>

        <a class="block btn btn-primary c-share-form__toggle" href="#finalize-your-results"
           data-js="simple-toggle"
           data-reverse="#finalize-your-results-close"
           data-scroll-offset="20">{{ __('Finalize Your Results', translationID) }}</a>
        <div id="finalize-your-results" class="c-disclaimer m-0 hidden" aria-hidden="true">
          <input type="hidden" name="url" value="{{ url }}" readonly>
          <input type="hidden" name="programs" value="{{ programs }}" readonly>
          <input type="hidden" name="GUID" value="{{ guid }}" maxlength="13" readonly>
          <p>{{ __('Once you finalize your results, you won\'t be able to remove any more programs.', translationID) }}</p>
          <div class="layout--columns-gutter">
            <div>
              <button type="submit" class="w-full btn btn-primary btn-small m-0"
                      data-js="track"
                      data-track-key="Finalize Results"
                      data-track-data='[{"DCS.dcsuri": "finalize"}]'>
                {{ __('Finalize', translationID) }}
              </button>
            </div><div>
              <button class="w-full btn btn-secondary btn-small m-left" id="finalize-your-results-close"
                      data-js="track"
                      data-track-key="Keep Working"
                      data-track-data='[{"DCS.dcsuri": "keep-working"}]'>
                {{ __('Keep Working', translationID) }}
              </button>
            </div>
          </div>
          <div class="flex justify-center">
            <div data-js="spinner" style="display: none;">
              {% include 'partials/spinner.twig' with {this: {class: 'icon-4 text-color-yellow-access'}} only %}
            </div>
          </div>
        </div>
      </form>

      <div class="pt-4 screen-tablet:px-4 px-2 hidden print:hidden" aria-hidden="true" data-js="share-results">
        <h4>{{__('Save your results.', translationID)}}</h4>

        <div class="flex justify-center">
          <div class="flex-1 pr-2">
            <a class="block btn btn-primary" href="javascript:window.print()" data-js="track" data-track-key="Print" data-track-data='[{"DCS.dcsuri": "print"}]'>{{__('Print', translationID)}}</a>
          </div>

          <div class="flex-1 pr-2 c-share-form">
            <a class="block btn btn-primary c-share-form__toggle js-show-disclaimer" href="#share-by-sms"
              data-js="simple-toggle"
              data-scroll-offset="20">{{__('Text', translationID)}}</a>
            <div id="share-by-sms" class="c-share-form__input js-needs-disclaimer hidden">
              <form method="post" action="{{ action }}" class="js-share-form" novalidate><input type="hidden" name="action" value="sms_send">
                <input type="hidden" name="url" value="{{ url }}" readonly>
                <input type="hidden" name="hash" value="{{ hash }}" readonly>
                <input type="hidden" name="GUID" value="{{ guid }}" maxlength="13" readonly>
                <div class="c-share-form__controls">
                  <div class="phone-us">
                    <input type="tel" name="to" placeholder="{{__('Phone Number', translationID)}}">
                  </div>
                  <div class="c-share-form__button">
                    <button type="submit" class="btn btn-primary btn-small btn-submit">{{__('Send', translationID)}}</button>
                    <div class="c-share-form__spinner" data-js="spinner" style="display: none;">
                      {% include 'partials/spinner.twig' with {this: {class: 'icon-4 text-color-yellow-access'}} only %}
                    </div>
                    <div class="success-message">{{__('Sent!', translationID)}}</div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="flex-1">
            <a class="block btn btn-primary c-share-form__toggle js-show-disclaimer" href="#share-by-email"
              data-js="simple-toggle"
              data-scroll-offset="20">{{__('Email', translationID)}}</a>
            <div id="share-by-email" class="c-share-form__input js-needs-disclaimer hidden">
              <form method="post" action="{{ action }}" class="js-share-form" novalidate>
                <input type="hidden" name="action" value="email_send" readonly>
                <input type="hidden" name="url" value="{{ url }}"  readonly>
                <input type="hidden" name="hash" value="{{ hash }}"  readonly>
                <input type="hidden" name="GUID" value="{{ guid }}" maxlength="13" readonly>
                <div class="c-share-form__controls">
                  <input type="email" name="to" placeholder="{{__('Email address', translationID)}}" required>
                  <div class="c-share-form__button">
                    <button type="submit" class="btn btn-primary btn-small btn-submit">{{__('Send', translationID)}}</button>
                    <div class="c-share-form__spinner" data-js="spinner" style="display: none;">
                      {% include 'partials/spinner.twig' with {this: {class: 'icon-4 text-color-yellow-access'}} only %}
                    </div>
                    <div class="success-message">{{__('Sent!', translationID)}}</div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        {% include 'partials/share-form-disclaimer.twig' %}
      </div>

      <div class="content-body pt-4">
        {% if selectedPrograms | length %}
        <div class="m-0 screen-tablet:px-4 px-2 print:px-2" data-js="selected-programs">
          <h3 class="text-color-blue-dark" data-js="programs-title">
            <span data-js="programs-singular" {% if selectedPrograms | length > 1 %}class="hidden print:hidden" aria-hidden="true"{% endif %}>{{__('This is the program for you in the categories you selected.', translationID)}}</span>
            <span data-js="programs-plural" {% if selectedPrograms | length == 1 %}class="hidden print:hidden" aria-hidden="true"{% endif %}>{{__('These are programs for you in the categories you selected.', translationID)}}</span>
          </h3>
          <div class="mb-4" data-js="programs-list">
            {% for post in selectedPrograms %}
            {% include 'components/card-removable.twig' with {'show_apply': true } %}
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% if additionalPrograms | length %}
        <div class="m-0 screen-tablet:px-4 px-2 print:px-2" data-js="additional-programs">
          <h3 class="text-color-blue-dark" data-js="programs-title">
            <span data-js="programs-length">{{ additionalPrograms | length }}</span>
            <span data-js="programs-singular" {% if additionalPrograms | length > 1 %}class="hidden print:hidden" aria-hidden="true"{% endif %}>{{__('additional program', translationID)}}</span>
            <span data-js="programs-plural" {% if additionalPrograms | length == 1 %}class="hidden print:hidden" aria-hidden="true"{% endif %}>{{__('additional programs', translationID)}}</span>
          </h3>
          <div class="mb-4" data-js="programs-list">
            {% for post in additionalPrograms %}
            {% include 'components/card-removable.twig' %}
            {% endfor %}
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </main>
</div>
  {% include 'partials/localized-strings-share.twig' %}
{% endblock %}

{% block scripts_footer %}
{{ function('enqueue_script', 'assets/js/field', true) }}
<script>
  window.LOCALIZED_STRINGS = window.LOCALIZED_STRINGS || [];
  window.LOCALIZED_STRINGS = window.LOCALIZED_STRINGS.concat([
    {
      'label': {{ __('Are you sure that you\'d like to enter information for a new client?\nThis will erase information that has been entered.', translationID)|trim|json_encode() }},
      'slug': 'MSG_RELOAD'
    }
  ]);
</script>
{% endblock %}
