<h3>{{ strings.title }}</h3>
<div class="wpml-job-migration-error" style="display: none;">
    <p><strong>{{ strings.communicationError }}</strong></p>
    <p class="error-message"></p>
</div>
<p>{{ strings.description|raw }}</p>
{% if strings.button %}
    <button style="float:left" class="button-primary wpml-start-jobs-migration">{{ strings.button }}</button>
    <div style="float:left" class="spinner wpml-jobs-migration-spinner"></div>
    <div style="float: left; margin-left: 10px; display:none" class="wpml-js-jobs-migration-progress">
        <span class="wpml-js-migrated-jobs">20</span> {{ strings.of }} <span class="wpml-js-total-jobs">100</span> {{ strings.jobs_migrated }}
    </div>
    {{ nonce|raw }}
{% endif %}
<div class="clearfix"></div>