<section id="determine-your-eligibility" data-step="determine-your-eligibility" class="outline-none active hidden:overflow print:active w-full" aria-hidden="false">
  <header>
    <h3>{{ stepNumber }}. {{ __('Determine your eligibility', 'accessnyc-program-detail') }}</h3>
  </header>

  {% if post.plain_language_eligibility | length %}
    <div>
      <div class="o-content mb-4">
        {{ post.get_field('field_58912c1a8a82d')|add_anyc_checklist|add_anyc_table_numeric }} {# plain_language_eligibility #}
      </div>
    </div>
  {% endif %}

  {% if post.display_screen_for_eligibility_box %}
  <div class="c-alert-box bg-status-info mb-4 print:hidden">
    <div class="icon c-alert-box__icon" aria-hidden="true">
      <svg class="c-alert-box__svg icon-4">
        <use xlink:href="#icon-info"></use>
      </svg>
    </div>

    <div class="c-alert-box__body">
      <p>{{ __('Take a short survey to see if you might be eligible for this or 30 other programs.', 'accessnyc-program-detail') }}</p>

      <a class="btn btn-primary btn-small" href="{{ url_base }}/eligibility">
        <svg class="icon icon-2" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-screening"></use>
        </svg>{{ __('Am I Eligible?', 'accessnyc-program-detail') }}
      </a>
    </div>
  </div>
  {% endif %}

  {% if nextStep != '' %}
  {% include 'programs/next-button.twig' %}
  {% endif %}
</section>
