{% extends "base.twig" %}

{% block content %}
  <main id="content" class="color-light-background" itemscope itemtype="http://schema.org/GovernmentService">
    {% if alerts %}
    <div class="px-2 screen-tablet:px-3 pt-2 screen-tablet:pt-3">
      {% for alert in alerts %}
        {% set class = loop.last ? '' : 'mb-2 screen-tablet:mb-3' %}

        {% include 'components/alert.twig' with {this: alert, class: class} only %}
      {% endfor %}
    </div>
    {% endif %}

    <p class="usa-grid m-0 pt-3 hidden print:block" aria-hidden="true">
      <strong>{{__('Get back to this page', 'accessnyc-program-detail')}}:</strong>
      <a href="{{ post.get_permalink }}" itemprop="url">{{ post.get_permalink | replace({'http://': ''})}}</a>
    </p>

    <header class="c-header p-2 screen-tablet:p-3 mt-3 mb-3 print:mt-0">
      <div class="c-header__icon">
        <span class="hidden" aria-hidden="true" itemprop="serviceType">{{ category.name }}</span>
        {% include 'partials/category-icon.twig' %}
      </div>

      <div>
        <h1 class="c-header__descriptor text-blue-dark" itemprop="alternateName">
          {{ post.plain_language_program_name }}
        </h1>

        <h2 class="c-header__information text-grey-mid mb-0">
          <span itemprop="name">
            {{ post.program_name }}
          </span>

          {% if post.program_acronym | length %}({{ post.program_acronym }}){% endif %}

          {% if post.government_agency | length %} |
          <span itemprop="serviceOperator" itemscope itemtype="http://schema.org/GovernmentOrganization">
            <span itemprop="name">
              {{ post.government_agency }}
            </span>
          </span>
          {% endif %}
        </h2>
      </div>
    </header>

    <section class="usa-grid screen-desktop:layout--sidebar-small-gutter">
      <aside>
        <nav class="c-side-nav print:hidden" data-js="program-nav">
          <ol>
            {% for item in post.get_field('field_589e43563c471') %} {# show_section #}
            <li>
              <a id="nav-link-{{ item.value }}" data-js="program-nav-step-link" {% if (loop.index == 1 and step == '') or step == '{{ item.value }}' %}class="active"{% endif %} href="?step={{ item.value }}">
                {{__(item.label, 'accessnyc-program-detail')}}
              </a>
            </li>
            {% endfor %}
          </ol>
        </nav>
        <div class="c-share print:hidden pb-2">
          {% spaceless %}
          <a class="c-share__link" href="{{ post.get_permalink }}?print=1" target="_blank" rel="noopener noreferrer">
            <svg class="icon icon-ui-printer">
              <use xlink:href="#icon-ui-printer"></use>
            </svg>{{__('Print the whole guide', 'accessnyc-program-detail')}}
          </a>
          {% endspaceless %}
        </div>
      </aside>

      <article data-js="program-detail-content">
        {% set sectionArray = [] %}

        {% for item in post.get_field('field_589e43563c471') %} {# show_section #}
        {% set sectionArray = sectionArray | merge([item.value])  %}
        {% endfor %}

        {% for item in post.get_field('field_589e43563c471') %} {# show_section #}
        {% include 'programs/' ~ item.value ~ '.twig' with {
            'stepNumber': loop.index,
            'nextStep': post.get_field('field_589e43563c471')[loop.index]
          } %}
        {% endfor %}
      </article>
    </section>

    <section class="usa-grid print:hidden">
      <header>
        <h3 class="text-blue-dark border-t-2 border-yellow-access pt-4 mt-4">
          {{__('More ways to get help with this program', 'accessnyc-program-detail')}}
        </h3>
      </header>

      <div class="screen-desktop:layout--columns-gutter">
        {# {% for method in [
          'get_help_online',
          'get_help_by_email',
          'get_help_by_calling_311',
          'get_help_by_calling_other_than_311',
          'get_help_in_person'
        ] %} #}
        {% for method in [
          'field_58912c1a8a996',
          'field_58912c1a8a9a8',
          'field_58912c1a8a9cb',
          'field_58912c1a8a9ba',
          'field_58912c1a8a984'
        ] %}
        {% if post.get_field(method) %}
        <div>
          {{ post.get_field(method) }}
        </div>
        {% endif %}

        {% endfor %}
      </div>
    </section>

    <footer class="usa-grid py-4">
      <p class="text-grey-mid">
        {{__('Updated', 'accessnyc-program-detail')}}
        {% if post.post_modified | length %}
        {{post.post_modified|date}}
        {% else %}
        {{ post.post_date|date}}
        {% endif %}
      </p>

      {# {% include 'partials/was-this-page-helpful.twig' %} #}

      <div class="text-align-end">
        <a href="#content" class="btn btn-small bg-blue-light text-blue">{{ __('Back to top', 'accessnyctheme') }}</a>
      </div>
    </footer>
  </main>
{% endblock %}
