{% extends "base.twig" %}

{% block content %}
  <main id="content" class="bg-color-white">
    <p class="usa-grid m-0 pt-3 hidden print:block" aria-hidden="true">
      <strong>{{__('Get back to this page', 'accessnyc-program-detail')}}:</strong> <a href="{{ post.get_permalink }}">{{ post.get_permalink | replace({'http://': ''})}}</a>
    </p>

    <header class="c-header p-2 screen-tablet:p-3 mt-3 mb-3 print:mt-0">
      <div class="c-header__icon">
        {% include 'partials/category-icon.twig' %}
      </div>

      <div>
        <h1 class="c-header__descriptor text-color-blue-dark">
            {{ post.plain_language_program_name }}
        </h1>

        <h2 class="c-header__information text-color-grey-mid mb-0">
            {{ post.program_name }} {% if post.program_acronym | length %}({{ post.program_acronym }}){% endif %}{% if post.government_agency | length %} | {{ post.government_agency }}{% endif %}
        </h2>
      </div>
    </header>

    <section class="usa-grid screen-desktop:layout--sidebar-small-gutter">
      <aside>
        <nav class="c-side-nav print:hidden" data-js="program-nav">
          <ol>
            {% for item in post.get_field('show_sections') %}
            <li>
              <a id="nav-link-{{ item.value }}" data-js="program-nav-step-link" {% if (loop.index == 1 and step == '') or step == '{{ item.value }}' %}class="active"{% endif %} href="?step={{ item.value }}">
                {{__(item.label, 'accessnyc-program-detail')}}
              </a>
            </li>
            {% endfor %}
          </ol>
        </nav>
        <div class="c-share print:hidden pb-2">
          {% spaceless %}
          <a class="c-share__link" href="{{ post.get_permalink }}?print=1" target="_blank" rel="noopener noreferrer">
            <svg class="icon icon-printer">
              <use xlink:href="#icon-printer"></use>
            </svg>{{__('Print the whole guide', 'accessnyc-program-detail')}}
          </a>
          {% endspaceless %}
        </div>
      </aside>

      <article data-js="program-detail-content">
        {# Parsing all the sections in the current program to build a display conditional inside of the partials #}
        {% set sectionArray = [] %}
        {% for item in post.get_field('show_sections') %}
        {% set sectionArray = sectionArray | merge([item.value])  %}
        {% endfor %}

        {% for item in post.get_field('show_sections') %}
        {% include 'programs/' ~ item.value ~ '.twig' with {'stepNumber': loop.index, 'nextStep': post.get_field('show_sections')[loop.index] } %}
        {% endfor %}
      </article>
    </section>

    <section class="usa-grid print:hidden">
      <header>
        <h3 class="text-color-blue-dark border-t-2 border-color-yellow-access pt-4 mt-4">
          {{__('More ways to get help with this program', 'accessnyc-program-detail')}}
        </h3>
      </header>
      <div class="screen-desktop:layout--columns-gutter">
        {# Gets all the current help method fields and creates an array to be iterated below #}
        {% set helpMethods = [
          'get_help_online',
          'get_help_by_email',
          'get_help_by_calling_311',
          'get_help_by_calling_other_than_311',
          'get_help_in_person'
        ] %}

        {% for method in helpMethods %}
        {% if post.get_field(method) %}
        <div class="help-method-{{method}}">
          {{ post.get_field(method) }}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </section>

    <footer class="usa-grid py-4">
      <p class="text-color-grey-mid">
        {{__('Updated', 'accessnyc-program-detail')}}
        {% if post.post_modified | length %}
        {{post.post_modified|date}}
        {% else %}
        {{ post.post_date|date}}
        {% endif %}
      </p>

      {# {% include 'partials/was-this-page-helpful.twig' %} #}

      <div class="text-align-end">
        <a href="#content" class="btn btn-small bg-color-blue-light">{{ __('Back to top', 'accessnyctheme') }}</a>
      </div>
    </footer>
  </main>
{% endblock %}
