<article class="c-alert-box bg-status-{{ this.alert_color }} color-mid-background {{ class }}" role="dialog">
  <div class="c-alert-box__icon">
    <svg aria-hidden="true" class="c-alert-box__svg icon icon-{{ this.alert_icon }}">
      <use xlink:href="#icon-{{ this.alert_icon }}"></use>
    </svg>
  </div>

  <div class="c-alert-box__body">
    {{ this.alert_content }}
  </div>
</article>
