<article class="c-card">

  <div class="c-card__icon">
    {% include 'elements/icon.twig' with {
      'icon': 'icon-card-' ~ post.category.slug ~ '-v' ~ post.icon.version,
      'class': post.icon.class,
      'title': post.category.name
    } only %}
  </div>

  <div class="c-card__body">
    <h3 class="c-card__title">
      {% if post.status %}
      <mark class="badge color-{{ post.status.type }}-status">{{ post.status.text }}</mark>
      {% endif %}

      <a href="{{ post.get_permalink }}" class="text-inherit" {% if target_blank %}target="_blank" rel="noopener"{% endif %}>
        {{ post.plain_language_program_name }}
      </a>
    </h3>

    {% if not short_post %}<p class="c-card__subtitle color__alt">{{ post.program_name }} {% if post.program_acronym != '' %}({{ post.program_acronym }}){% endif %}</p>{% endif %}

    <div class="c-card__summary">
      {% if post.brief_excerpt and not short_post %}<p>{{ post.brief_excerpt }}</p>{% endif %}

      <p class="hide-for-print">
        <a href="{{ post.get_permalink }}" {% if target_blank %}target="_blank" rel="noopener"{% endif %}>{{__('Learn more', 'accessnyctheme')}} <span class="sr-only">: {{ post.program_name }}</span></a>
      </p>

      {% if show_apply %}
      <p class="hide-for-print">
        <a class="btn btn-secondary btn-next" href="{{ post.get_permalink }}{% if "how-to-apply" in post.show_sections %}?step=how-to-apply{% endif %}" {% if target_blank %}target="_blank" rel="noopener"{% endif %}>{{__('Apply', 'accessnyc-results')}}</a>
      </p>
      {% endif %}
    </div>
  </div>
</article>
