<div class="c-filter" data-js="program-search-filter">
  <button aria-controls="aria-c-program-options" class="c-filter__header" data-js="filter">
    {% if searchCategory.name | length %}{{ searchCategory.name }}{% else %}{{ __('All Programs', 'accessnyctheme') }}{% endif %}
  </button>

  <ul id="aria-c-program-options" class="c-filter__list inactive" aria-hidden="true">
    <li>
      <label class="c-filter__item" tabindex="-1">
        <input class="js-filter-radio sr-only active" type="radio" name="program_cat" value="" checked="" tabindex="-1">{{ __('All Programs', 'accessnyctheme') }}
      </label>
    </li>
    {% for category in categories %}
    <li>
      <label class="c-filter__item" for="filter-{{ category.slug }}" tabindex="-1">
        <input {% if category.slug == searchCategory.slug %}checked {% endif %}class="js-filter-radio sr-only" type="radio" name="program_cat" id="filter-{{ category.slug }}" value="{{ category.slug }}" tabindex="-1">{{ category.name }}
      </label>
    </li>
    {% endfor %}
  </ul>
</div>