<div class='c-nearby-stops'>
  {% for stop in stops %}
    <div class='c-nearby-stops__stop'>
      {% apply spaceless %}
      {% for trunk in stop.trunks %}
        {% set letter = trunk.line %}
        {% set express = '' %}

        {% if 'Express' in trunk.line %}
          {% set letter = trunk.line|split(' ')[0] %}
          {% set express = '-' ~ trunk.line|split(' ')[1]|lower %}
        {% endif %}

        <span class="c-nearby-stops__subway icon-subway{{ express }} {% if express %}border-{% else %}bg-{% endif %}{{ trunk.trunk }}">
          {{ letter }}

          {% if express %}
          <span class="sr-only">{{ __('Express', 'accessnyc-locations') }}</span>
          {% endif %}
        </span>
      {% endfor %}
      <span class="c-nearby-stops__description">
        {{ stop.distance|slice(0, 3) }} {{ __('Miles', 'accessnyc-locations') }},

        {{ __(stop.stop.name, 'accessnyc-locations') }}
      </span>
      {% endapply %}
    </div>
  {% endfor %}
</div>