<div class="c-share-form {{ this.class }}" data-js="share-form">
  <button aria-controls="aria-c-share-form__{{ this.type }}" aria-describedby="aria-db-share-disclaimer" aria-expanded="false" class="btn btn-primary c-share-form__toggle" data-js="share-form__control disclaimer-control" data-scroll-offset="16">
    {{ __(this.button, 'accessnyc-results') }}
  </button>

  <form action="{{ this.post }}" aria-hidden="true" class="c-share-form__form hidden" id="aria-c-share-form__{{ this.type }}" method="post">
    {% if this.action %}<input name="action" type="hidden" value="{{ this.action }}" data-toggle-tabindex="-1" tabindex="-1" />{% endif %}
    {% if this.url %}<input name="url" readonly type="hidden" value="{{ this.url }}" data-toggle-tabindex="-1" tabindex="-1" />{% endif %}
    {% if this.hash %}<input name="hash" readonly type="hidden" value="{{ this.hash }}" data-toggle-tabindex="-1" tabindex="-1" />{% endif %}
    {% if this.guid %}<input maxlength="13" name="GUID" readonly type="hidden" value="{{ this.guid }}" data-toggle-tabindex="-1" tabindex="-1" />{% endif %}
    {% if this.template %}<input name="template" readonly type="hidden" value="{{ this.template }}" data-toggle-tabindex="-1" tabindex="-1" />{% endif %}

    <div class="c-share-form__fieldset">
      <div class="c-share-form__input {% if this.type == 'tel' %}input-phone-us{% endif %}">
        <input data-js="share-form__input" name="to" placeholder="{{ __(this.placeholder, 'accessnyc-results') }}" required="true" type="{{ this.type }}" tabindex="-1" />
      </div>

      <div class="c-share-form__button">
        <button class="btn btn-primary btn-small" type="submit" tabindex="-1" data-gtm="share-form-{{ this.type }}__submit" data-track-key="Share {{ this.type|capitalize }}" data-track-data='[{"action": "share-{{ this.type }}"}]'>
          {{ __('Send', 'accessnyc-results') }}
        </button>

        <div aria-hidden="true" class="c-share-form__spinner" data-js="spinner">
          {% include 'partials/spinner.twig' with {this: {class: 'icon-4 text-yellow-access'}} only %}
        </div>

        <div class="c-share-form__success">{{ __('Sent!', 'accessnyc-results') }}</div>
      </div>
    </div>
  </form>
</div>